﻿@{
    ViewBag.Title = "Names";
     <meta http-equiv="refresh" content="0; url = https://names.betkanu.com/" /> 
}


 <section style="padding-top:0px">
    <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
        <img src="/img/home/names2.jpg" />
    </div>
    <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
        <img src="/img/home/names1.jpg" />
    </div>
</section> 