<head>
    @{
        ViewBag.Title = "Akkad Saadi - Team";

    }
</head>
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-user"></i> Akkad Saadi</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/AkkadSaadi.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Akkad Saadi </h3>
                            <ul>
                                <li>
                                    <strong>
                                        President
                                        Production Director | Language
                                    </strong>
                                </li>
                            </ul>
                            <p style="font-weight:900">
                                Orignally from Syria, he received his Master's in Computer Science in the USA, and he works now as a Software Architect.
                            </p>

                            <div style="text-align:left; direction:ltr">
                                <p>
                                    Bachelor's degree in Computer Engineering from Northeastern University, USA.
                                </p>
                                <p>
                                    MSc in Informatics and Technology Management.
                                </p>
                                <p>
                                    Twenty years of experience in programming, application development, computer games, websites and technical systems.
                                </p>
                                <p>
                                    A former official in the field of culture and education in the Assyrian Council in the state of Illinois, America.
                                </p>
                                <p>
                                    Administrative member and former director of technology at the "Rinyo" Foundation, concerned with the Syriac language.
                                </p>
                                <p>
                                    Founder and President of the BET KANU Foundation for the protection and dissemination of the Syriac language using media and technology.
                                </p>
                                 
                            </div>
                            <div style="text-align:right; direction:rtl">
                                <p>بكالوريوس في هندسة الحاسوب من جامعة نورث إيسترن الأمريكية.</p>
                                <p>ماجستير في إدارة المعلوماتية والتكنولوجيا.</p>
                                <p>عشرين سنة خبرة بمجال البرمجة وتطوير التطبيقات وألعاب الحاسوب والمواقع الإلكترونية والأنظمة التقنية.</p>
                                <p>مسؤول سابق في مجال الثقافة والتعليم في المجلس الآشوري بولاية إلينوي, أمريكا.</p>
                                <p>عضو إداري ومدير التكنولوجيا السابق في مؤسسة "رنيو" المعنية باللغة السريانية.</p>
                                <p>مؤسس ورئيس مؤسسة "بيت كانو" لحماية ونشر اللغة السريانية بإستعمال الميديا والتكنولوجيا.</p>
                            </div>

                        </div>
                    </div>
                    <div class="title outline">
                        <a href="/about/team" class="btn btn-block btn-warning ">Meet Our Team &nbsp;<i class="fa fa-user"></i></a>

                    </div>
                </div> 
            </div>
        </div>

    </section>    
    

</div>
   