<head>
    @{
        ViewBag.Title = "BET KANU";

    }
</head>
<!-- wrapper -->
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-review">
                        <div class="row">
                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="post-thumbnail">
                                       <img src="~/content/img/betkanulogo.png" alt="">
                                    </div>
                                </div>*@

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4>Our Name: </h4>
                                    </div>
                                </div>
                                <p style="text-align:left ; text-align:justify">
                                    BET KANU means the House of Creation. Etymologically “Bet” is the Akkadian word for “house” and is used today by Syriac speakers. Kanu is also an Akkadian word which has a connection with the Classical Syriac words of Kana/Kano and Kiyana/Kiyono that refers to “creation”.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="post post-review">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4>Our History: </h4>
                                    </div>
                                </div>
                                <p style="text-align:left ; text-align:justify">
                                    A group of friends noticed the loss of the spoken Syriac language in diaspora, to the extent that UNESCO designated it as a "severely endangered language", found the need to create a change.
                                </p>
                                <p>
                                    In order to help Syriac succeed in the digital age,  BET KANU was established in 2017 to build a foundation to advance the main dialects of the Syriac language (Eastern/Western).
                                </p>
                                <p>
                                    With a dedicated BET KANU Center in the homeland, a dozen of our local talented designers, animators, and developers along with volunteers in the diaspora, create multi-media products and modern resources that Syriac lacks. This center, more importantly, provides hope through job opportunities and youth empowerment in times of war.
                                </p>
                            </div>
                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="~/content/img/home/home1.jpg" alt=""></a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="post post-review">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4>Our Mission  </h4>
                                    </div>
                                </div>
                                <p style="text-align:left ; text-align:justify">
                                    BET KANU’s mission is to build a foundation to advance the endangered Surit/Surayt dialects of the Syriac language. This goal is achieved by creating all types of media-products such as animated songs, mobile apps, websites, cartoon series, books and more—for children and adults alike.
                                </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card-group">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="card card-video">
                                                <div class="card-img">
                                                    <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/mHdOlOnVaXE?rel=0" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media; accelerometer; gyroscope; picture-in-picture"></iframe></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="card card-video">
                                                <div class="card-img">
                                                    <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/sUyB6iEX16s?rel=0" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media; accelerometer; gyroscope; picture-in-picture"></iframe></div>
                                                </div>

                                            </div>
                                        </div> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>


                    @*<div class="headline margin-top-20">
                            <h4>Our Activities</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="~/content/img/home/home3.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title">
                                            Childhood is our hope
                                        </h3>
                                        <ul>
                                            <li><i class="fa fa-file-powerpoint-o"></i> Presentation</li>
                                            <li><i class="fa fa-location-arrow"></i> Syria - Qamishly</li>
                                        </ul>
                                        <p>
                                            We try to reach out to children because they are the future of the language and we hope to preserve it through activities and presentations.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="~/content/img/home/home2.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title">The definition is more in Syriac and in BET KANU</h3>
                                        <ul>
                                            <li><i class="fa fa-file-powerpoint-o"></i> Event</li>
                                            <li><i class="fa fa-location-arrow"></i> Syria - Sadad</li>
                                        </ul>
                                        <p>

                                            Through the guided tours and presentations by the BET KANU team in Syria, Iraq, USA and many countries.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="~/content/img/home/home4.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title">Public relations</h3>
                                        <ul>
                                            <li><i class="fa fa-user"></i> Meeting</li>
                                            <li><i class="fa fa-location-arrow"></i> Iraq - Nohadra</li>
                                        </ul>
                                        <p>
                                            BET KANU is trying to establish relations with all institutions concerned with preserving the Syriac language.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>

                @*<div class="col-md-3 rightside">
                        <div class="widget widget-friends" style="background-image: url(~/content/img/game/review-widget.jpg);">
                            <div class="overlay">
                                <div class="title">
                                    Why is BET KANU’s Mission Important?
                                </div>
                                <div class="chart-align">
                                    <span class="chart" data-percent="11">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                                <p class="progress-label">Safe or data-deficient(English, French...etc) <span>57%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-success" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <p class="progress-label">Vulnerable<strong>(Eastern Syriac)</strong> <span>10%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-success" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0% ; background-color:navajowhite">
                                    </div>
                                </div>
                                <p class="progress-label">Definitely endangered<strong>(Western Syriac)</strong> <span>11%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-success" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 0% ; background-color:yellow">
                                    </div>
                                </div>
                                <p class="progress-label">Severely endangered <span>9%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-warning" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <p class="progress-label">Critically endangered <span>10%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-danger" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <p class="progress-label">Extinct since 1950 <span>4%</span></p>
                                <div class="progress progress-animation progress-xs">
                                    <div class="progress-bar progress-bar-success" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 0% ; background-color:black">
                                    </div>
                                </div>



                                <div class="bold text-uppercase margin-top-40">
                                    Our language Surit / Surayt is endangered!
                                </div>
                                <p class="font-size-13" style="text-align:left ; text-align:justify">
                                    When a language dies, the knowledge of and ability to understand the culture who spoke
                                    it is threatened because the teachings, customs,
                                    oral traditions and other inherited knowledge are no longer transmitted among native speakers.
                                    As each language dies, science in linguistics, anthropology,
                                    prehistory and psychology lose some diversity in data source.
                                </p>
                                <div class="description">
                                    <a href="https://www.paypal.com/donate/?token=d63EjIsh4QphqB2jbjVVirWThmglduruIbPA8HtEbcKfH82fTp4lqBNCGGSpNAXJIhZ4_m&country.x=US&locale.x=US" type="button" class="btn btn-block btn-success margin-top-40">Donate <i class="fa fa-heart-o margin-left-10"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <div class="col-md-4 rightside">
                    <div class="widget widget-friends" style="background-image: url(~/content/img/game/review-widget.jpg);">
                        <div class="overlay">
                            <div class="title">
                                Tracks:
                            </div>
                            <div class="bold margin-top-40">

                                <strong class="text-uppercase"> Studio</strong> <h6>Animation, Songs, Motion Graphics, Videos</h6>
                                <br>
                            </div>
                            <p class="font-size-13" style="text-align:left ; text-align:justify">
                                This track focuses on creating songs, tales, and cartoons to preserve our language and revive our culture.
                            </p>
                            <div class="bold margin-top-40">
                                <strong class="text-uppercase">Software</strong> <h6>Mobile Apps, Games, Websites</h6>
                                <br>
                            </div>
                            <p class="font-size-13" style="text-align:left ; text-align:justify">
                                This track focuses on creating various digital tools to make Syriac linguistic resources easily accessible online for all ages.
                            </p>

                            <div class="bold margin-top-40">
                                <strong class="text-uppercase">Publishing</strong> <h6>Books, Comics</h6>
                                <br>
                            </div>
                            <p class="font-size-13" style="text-align:left ; text-align:justify">
                                This track focuses on producing modern books utilizing new educational methodologies as well as republishing classics digitally and print.
                            </p>

                           



                            <div class="description">

                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="B2LWBB7C4J29G" />
                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- /#wrapper -->
    @*<section class=" ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="title outline">
                            <h4><i class="fa fa-video-camera"></i>See us at work! </h4>
                        </div>
                    </div>
                </div>
                <div class="card-group">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/mHdOlOnVaXE?rel=0" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media; accelerometer; gyroscope; picture-in-picture"></iframe></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @section scripts{
        @*<script src="~/content/plugins/jquery/jquery-3.1.0.min.js"></script>
            <script src="~/content/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/content/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
            <script src="~/content/js/core.min.js"></script>*@
        <script src="./plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="./plugins/easypiechart/jquery.easypiechart.min.js"></script>

        <script>
            (function ($) {
                "use strict";
                var owl = $(".owl-carousel");

                owl.owlCarousel({
                    items: 4, //4 items above 1000px browser width
                    itemsDesktop: [1000, 3], //3 items between 1000px and 0
                    itemsTablet: [600, 1], //1 items between 600 and 0
                    itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
                });

                $(".next").click(function () {
                    owl.trigger('owl.next');
                    return false;
                })
                $(".prev").click(function () {
                    owl.trigger('owl.prev');
                    return false;
                })

                $('.chart').easyPieChart({
                    easing: 'easeOutBounce',
                    barColor: '#5eb404',
                    trackColor: '#e3e3e3',
                    onStep: function (from, to, percent) {
                        $(this.el).find('.percent').text(Math.round(percent));
                    }
                });
            })(jQuery);
        </script>
    }
