<head>
    @{
        ViewBag.Title = "Contributors ";

    }
</head>
<div id="wrapper">
    <section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
        <div class="container">
            <div class="headline no-margin">
                <h4><i class="fa fa-users"></i> Contributors </h4>

                <div class="dropdown" style="display:inline">
                    <button type="button" class="btn btn-info btn-outline" id="2021" disabled onclick="EnableDisableYear(this.id)">2021<i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2020" onclick="EnableDisableYear(this.id)">2020 <i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2019" onclick="EnableDisableYear(this.id)">2019 <i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2018" onclick="EnableDisableYear(this.id)">2018 <i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2017" onclick="EnableDisableYear(this.id)">2017<i class="fa fa-calendar"></i></button>


                </div>
            </div>
        </div>
    </section>
    <section id="2021c">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ICRC.jpg" alt=""></div>
                    <h4 style="text-align:center">ICRC</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ajm.jpg" alt=""></div>
                    <h4 style="text-align:center">AJM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/capni.jpg" alt=""></div>
                    <h4 style="text-align:center">CAPNI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ecews.jpg" alt=""></div>
                    <h4 style="text-align:center">ECEWS</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/sos.jpg" alt=""></div>
                    <h4 style="text-align:center">SOS 1915</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/naby.jpg" alt=""></div>
                    <h4 style="text-align:center">NFAFC</h4>
                </div>
            </div>
        </div>
    </section>

<section id="2020c" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="post-thumbnail"><img src="/img/partners/ajm.jpg" alt=""></div>
                <h4 style="text-align:center">AJM</h4>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="post-thumbnail"><img src="/img/partners/capni.jpg" alt=""></div>
                <h4 style="text-align:center">CAPNI</h4>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="post-thumbnail"><img src="/img/partners/sos.jpg" alt=""></div>
                <h4 style="text-align:center">SOS 1915</h4>
            </div>
        </div>
    </div>
</section>

    <section id="2019c" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/aaam.jpg" alt=""></div>
                    <h4 style="text-align:center">AAAM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ajm.jpg" alt=""></div>
                    <h4 style="text-align:center">AJM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/capni.jpg" alt=""></div>
                    <h4 style="text-align:center">CAPNI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/etuti.jpg" alt=""></div>
                    <h4 style="text-align:center">ETUTI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/sos.jpg" alt=""></div>
                    <h4 style="text-align:center">SOS 1915</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="2018c" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/aaam.jpg" alt=""></div>
                    <h4 style="text-align:center">AAAM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ajm.jpg" alt=""></div>
                    <h4 style="text-align:center">AJM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/capni.jpg" alt=""></div>
                    <h4 style="text-align:center">CAPNI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/etuti.jpg" alt=""></div>
                    <h4 style="text-align:center">ETUTI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/morafrem.jpg" alt=""></div>
                    <h4 style="text-align:center">MOR AFREM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/naby.jpg" alt=""></div>
                    <h4 style="text-align:center">NFAFC</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/sos.jpg" alt=""></div>
                    <h4 style="text-align:center">SOS 1915</h4>
                </div>
            </div>
        </div>
    </section>



    <section id="2017c" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/aaam.jpg" alt=""></div>
                    <h4 style="text-align:center">AAAM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/ajm.jpg" alt=""></div>
                    <h4 style="text-align:center">AJM</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/dolabani.jpg" alt=""></div>
                    <h4 style="text-align:center">DOLABANI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/eliashanna.jpg" alt=""></div>
                    <h4 style="text-align:center">ELIAS HANNA</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/etuti.jpg" alt=""></div>
                    <h4 style="text-align:center">ETUTI</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/naby.jpg" alt=""></div>
                    <h4 style="text-align:center">NFAFC</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/Oeuvre-dOrient.jpg" alt=""></div>
                    <h4 style="text-align:center">OEUVRE - DORIENT</h4>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="post-thumbnail"><img src="/img/partners/sos.jpg" alt=""></div>
                    <h4 style="text-align:center">SOS 1915</h4>
                </div>
            </div>
        </div>
    </section>

</div>


    @section scripts{
        <script>
            function EnableDisableYear(year) {
                var c = document.getElementById("2021");
                var t = document.getElementById("2020");
                var n = document.getElementById("2019");
                var e = document.getElementById("2018");
                var s = document.getElementById("2017");


                var cc = document.getElementById("2021c");
                var tc = document.getElementById("2020c");
                var nc = document.getElementById("2019c");
                var ec = document.getElementById("2018c");
                var sc = document.getElementById("2017c");

                if (year == "2021") {
                    c.disabled = true;
                    t.disabled = false;
                    n.disabled = false;
                    e.disabled = false;
                    s.disabled = false;

                    cc.style.display = "block";
                    tc.style.display = "none";
                    nc.style.display = "none";
                    ec.style.display = "none";
                    sc.style.display = "none";
                }

                else if (year == "2020") {
                    t.disabled = true;
                    c.disabled = false;
                    n.disabled = false;
                    e.disabled = false;
                    s.disabled = false;

                    tc.style.display = "block";
                    cc.style.display = "none";
                    nc.style.display = "none";
                    ec.style.display = "none";
                    sc.style.display = "none";
                }

                else if (year == "2019") {
                    n.disabled = true;
                    t.disabled = false;
                    c.disabled = false;
                    e.disabled = false;
                    s.disabled = false;

                    nc.style.display = "block";
                    tc.style.display = "none";
                    cc.style.display = "none";
                    ec.style.display = "none";
                    sc.style.display = "none";
                }

                else if (year == "2018") {
                    e.disabled = true;
                    n.disabled = false;
                    t.disabled = false;
                    c.disabled = false;
                    s.disabled = false;

                    ec.style.display = "block";
                    nc.style.display = "none";
                    tc.style.display = "none";
                    cc.style.display = "none";
                    sc.style.display = "none";
                }
                else {
                    s.disabled = true;
                    e.disabled = false;
                    n.disabled = false;
                    t.disabled = false;
                    c.disabled = false;

                    sc.style.display = "block";
                    ec.style.display = "none";
                    nc.style.display = "none";
                    tc.style.display = "none";
                    cc.style.display = "none";
                }
            }

        </script>

    }
