<head>
    @{
        ViewBag.Title = "Jack Abdel Massih - Team";

    }
</head>
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-user"></i> Jack Abdel Massih</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/jack.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Jack Abdel Massih</h3>
                            <ul>
                                <li>
                                    <strong>
                                        Mid-level. Animator
                                    </strong>
                                </li>
                            </ul>
                            <p style="font-weight:900">
                                He is a Computer Engineer.
                            </p>

                            <div style="text-align:left; direction:ltr">
                                <p>                      Bachelor's degree in Computer Systems Engineering from Cordoba Private University           </p>
                                <p>                         Master of Web Technologies (Graduation Year)        </p>
                                <p>                               One year of experience in animation and cartooning  </p>
                                <p>                               A member (animeter) of the "BET KANU" team for the protection and dissemination of the Syriac language using media and technology  </p>
                                </div>
                                <div style="text-align:right; direction:rtl">
                                    <p>            بكالوريوس في هندسة نظم الحاسوب من جامعة قرطبة الخاصة                     </p>
                                    <p>                            ماجستير في تقانات الويب ( سنة تخرج)     </p>
                                    <p>                             سنة خبرة في مجال الانيميشن والرسم الكرتوني    </p>
                                    <p>                              عضو ( انيميتر )  في فريق " بيت كانو"  لحماية ونشر اللغة السريانية باستعمال الميديا والتكنولوجيا   </p>
                                </div>

                        </div>
                    </div>
                    <div class="title outline">
                        <a href="/about/team" class="btn btn-block btn-warning ">Meet Our Team &nbsp;<i class="fa fa-user"></i></a>

                    </div>
                </div>
            </div>
        </div>

    </section>


</div> 