<head>
    @{
        ViewBag.Title = "Maria Kale - Team";

    }
</head>
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-user"></i> Maria Kale</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/mariakale.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Maria Kale </h3>
                            <ul>
                                <li>
                                    <strong>
                                        Sr. Finance & HR Officer
                                    </strong>
                                </li>
                            </ul>
                            <p style="font-weight:900">
                                Maria has an Economy Degree.

                            </p>

                            <div style="text-align:left; direction:ltr">
                                <p>              Graduated from the Faculty of Economic | Finance and Banking Sciences | Aleppo                   </p>
                                <p>                               Syrian Association for Social Development | Procurement Assistant for one year</p>
                                <p>                                Syrian Society for Social Development | volunteered in accounting work for a year </p>
                                <p>                              All-Armenian Charitable Society | Volunteer and data entry for one year</p>
                                <p>                             Marketing and Accounting for one year | National Paints Agency</p>
                                <p>                          Human Resources and Accounting Officer for one year | BET KANU</p>
                            </div>
                            <div style="text-align:right; direction:rtl">
                                <p>
                                    خريجة كلية اقتصاد/علوم مالية ومصرفية/حلب
                                </p>
                                <p>
                                    الجمعية السورية للتنمية الاجتماعية | مساعد توريد مشتريات لمدة سنة
                                </p>
                                <p>
                                    الجمعية السورية للتنمية الاجتماعية | متطوعة بعمل محاسبي لمدة سنة
                                </p>
                                <p>
                                    جمعية عموم الارمن الخيرية | متطوعة ومدخلية بيانات لمدة سنة 
                                </p>
                                <p>
                                    التسويق والمحاسبة لمدة سنة | وكالة دهانات ناشيونال
                                </p>
                                <p>                       موظف موارد بشرية ومحاسبة لمدة سنة | بيت كانو         </p>
                            </div>

                        </div>
                    </div>
                    <div class="title outline">
                        <a href="/about/team" class="btn btn-block btn-warning ">Meet Our Team &nbsp;<i class="fa fa-user"></i></a>

                    </div>
                </div>
            </div>
        </div>

    </section>


</div>
