<head>
    @{
        ViewBag.Title = "Our Center";

    }
</head>
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/ourcenter/banner1.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/ourcenter/banner2.jpg" />
        </div>
    </section>
    <section class=" ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="title outline">
                        <h4><i class="fa fa-home"></i>Our Center</h4><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">

                    <div class="post post-md  ">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="/Content/img/ourcenter/1.jpg" alt=""></a>
                                    @*<div class="category"><span class="label label-info">Creative Room</span></div>*@
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Creative Room </h4>

                                    </div>
                                </div>
                                <p>
                                    An interactive workspace that promotes collaboration and teamwork. The sanctuary where all the cool products are made.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md  ">
                        <div class="row">

                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Programming  </h4>

                                    </div>
                                </div>
                                <p>
                                    From mobile development to website applications, we have a small but versatile team of developers to create products that take Syriac to the digital age.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="/Content/img/ourcenter/2.jpg" alt=""></a>
                                    @*<div class="category"><span class="label label-info">Software</span></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md  ">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <img src="/Content/img/ourcenter/4.jpg" alt="">
                                    @*<div class="category"><span class="label label-info">Studio</span></div>*@
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Recording Studio </h4>

                                    </div>
                                </div>
                                <p>
                                    A hub for all of our music that you love, and an ever-free facility for our local community. A full fledge studio hand-built by our team.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="post post-md  ">
                        <div class="row">

                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Management  </h4>

                                    </div>
                                </div>
                                <p>
                                    Organization is the secret to success. We have a dynamic and collaborative leadership structure to adminster all aspects of the BET KANU production and outreach.
                                </p>

                            </div>
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <img src="/img/ourcenter/10.jpg" alt="">
                                    @*<div class="category"><span class="label label-info">Management </span></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md  ">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <img src="/img/ourcenter/9.jpg" alt="">
                                    @*<div class="category"><span class="label label-info">Training</span></div>*@
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Training </h4>
                                    </div>
                                </div>
                                <p>
                                    With dwindling job opportunities in troubled times, we continuously train our team with vital, technical, and leadership skills to improve their careers and their future endeavors.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="post post-md  ">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> Garden Team </h4>
                                    </div>
                                </div>
                                <p>
                                    The love we have for nature, is the same for language. We maintain and nurture the garden to foster creative ideas and happier well-being.                                 <br>
                                    <br>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div class="post-thumbnail">
                                    <img src="/img/ourcenter/11.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="title outline">
                        <h4><i class="fa fa-video-camera"></i>See us at work! </h4>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/bnQ02pljOAc?rel=0" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media; accelerometer; gyroscope; picture-in-picture"></iframe></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 56%; height:300px"><a href="https://www.facebook.com/AssyrianNationalBroadcasting/videos/833000893872679/" data-iframely-url="//cdn.iframe.ly/nWvD3gW"></a></div></div>
                                <script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>