<head>
    @{
        ViewBag.Title = "Our Partners";

    }
</head>
<div id="wrapper">
    <section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
        <div class="container">
            <div class="headline no-margin">
                <h4><i class="fa fa-users"></i> Our Partners </h4>
            </div>
        </div>
    </section>
    <section class="bg-grey-50">
        <div class="container">
            <div class="card-group">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="http://www.ajmev.org/"><img src="/img/partners/ajm.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">AJM</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="https://capni-iraq.org/"><img src="/img/partners/Christian Aid Logo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">CAP - Christian Aid Program</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="https://www.etuti.org/"><img src="/img/partners/Etuti.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">Etuti Institute</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="https://www.nabyfryeculturefund.org/"><img src="/img/partners/Naby.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">Naby Frye Assyrian Fund for Culture</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="https://1915.de/"><img src="/img/partners/SOS.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">SOS 1915</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="https://1915.de/"><img src="/img/partners/Syriac-heritage-museum_logo-.png" alt=""></a>
                            </div>
                            <div class="caption">
                                <h3 class="card-title" style="text-align:center">General Directorate of Syriac Culture and Arts</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="bg-grey-50">
        <div class="container">
            <div class="card-group">
                <div class="row">


                </div>
            </div>
        </div>
    </section>
</div>