<head>
    @{
        ViewBag.Title = "Special Thanks ";
    }
</head>
<div id="wrapper">
    <section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
        <div class="container">
            <div class="headline no-margin">
                <h4><i class="fa fa-heart"></i> Donors </h4>
                <div class="description" style="text-align:right">

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="B2LWBB7C4J29G" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>

                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">

            <div class="row sidebar">

                <div class="col-lg-8 leftside">
                    <div class="headline ">
                        <h4><i class="fa fa-heart"></i> Monthly Supporters </h4>


                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 margin-bottom-30">
                            <div class="widget widget-list">
                                <ul>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ninos Barkho </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Nibour Abdulahad </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Zelga Gabrial </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Lella Abdulahad </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ramcina Gabrial </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Alphabet.com </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Zerva Zaito </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Joseph Hermiz </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Nabil Odisho </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>




                        <div class="col-12 col-sm-6 margin-bottom-30">
                            <div class="widget widget-list">
                                <ul>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Samson Khoubier </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Orom Shamoun </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title">Mary Yadegarmooshiabadi</h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Jessica Lahdow </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Fadi Kasho</h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Orkina Zeito </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Kenora Zeito </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Sargon Tavour </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Etana inc. </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>




                <div class="col-lg-4 rightside">
                    <div class="headline ">
                        <h4><i class="fa fa-heart"></i> One-time donation </h4>


                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 margin-bottom-30">
                            <div class="widget widget-list">
                                <ul>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Yakoub Yakoub </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ninos Garis </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Mesa Jajan </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Elana Koussa </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ramin Talia </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ninwa Sara Moussa </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Tiodora Zaito </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 margin-bottom-30">
                            <div class="widget widget-list">
                                <ul>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Kinora Zaito </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Mateus Sahdo </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Juliana Khamo </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Nebil Akhfidan </h3>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="widget-list-meta">
                                            <h3 class="widget-list-title"> Ninorta Morad </h3>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </section>


    <section class="elements" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="title outline">
                            <h4><i class="fa fa-heart"></i>Special Thanks</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-sm-30">
                    <div class="tab-select">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link" href="#tabs1" data-bs-toggle="tab" data-bs-target="#tabs1"><i class="fa fa-calendar"></i> 17</a></li>
                            <li><a class="nav-link" href="#tabs2" data-bs-toggle="tab" data-bs-target="#tabs2"><i class="fa fa-calendar"></i> 18</a></li>
                            <li><a class="nav-link" href="#tabs3" data-bs-toggle="tab" data-bs-target="#tabs3"><i class="fa fa-calendar"></i> 19</a></li>
                            <li><a class="nav-link" href="#tabs4" data-bs-toggle="tab" data-bs-target="#tabs4"><i class="fa fa-calendar"></i> 20</a></li>
                            <li><a class="nav-link" href="#tabs6" data-bs-toggle="tab" data-bs-target="#tabs5"><i class="fa fa-calendar"></i> 21</a></li>
                            <li><a class="nav-link" href="#tabs7" data-bs-toggle="tab" data-bs-target="#tabs6"><i class="fa fa-calendar"></i> 22</a></li>
                            <li><a class="nav-link active" href="#tabs5" data-bs-toggle="tab" data-bs-target="#tabs8"><i class="fa fa-calendar"></i> 2023</a></li>
                        </ul>
                        <div class="tab-content   padding-20">
                            <div class="tab-pane fade" id="tabs1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Hanan Sarah</strong></p><p>Public Relations</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Mora Barsoum</strong></p><p>Safroono Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Juliana Darmo</strong></p><p>Sepra singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Nohadra Hanna</strong></p><p>Finger Family Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ivla Saadi</strong></p><p>Colors Song Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Elias Isho</strong></p><p>Parlamentar Voice</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Milad Yossef</strong></p><p>Developer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Rmrama Gawrieh</strong></p><p>Developer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ashur Michael</strong></p><p>Santa Claus Singer - Eastern Version</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Sharbel Hanna</strong></p><p>Santa Singer - Western Version</p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Hanan Sarah</strong></p><p>Public Relations</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ivla Saadi</strong></p><p>Colors Song Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Rinya Malki</strong></p><p>Mariam had a little lamb Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Adib Kazo</strong></p><p>Monday's Child & Shapes songs Singer - Western Version</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ammar Youssef</strong></p><p>Sr. Tech Lead</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Khiyo Najib</strong></p><p>Monday's Child & Shapes songs  Singer - Eastern Version</p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Leena Baba </strong></p><p>Volunteer - Chicago Team</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Steve David</strong></p><p>Volunteer - Chicago Team</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Rania Jando</strong></p><p>Volunteer - Chicago Team</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Renia Malki</strong></p><p>Mary Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ornina Shabo</strong></p><p>Alphabet Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Merna Shamoun</strong></p><p>Body Parts Singer</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Simon Malki</strong></p><p>Johnny Johnny Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Samira Gawrieh</strong></p><p>Johnny Johnny Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>FARAH FARJO</strong></p><p>Fruits Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>AYLA ELYO</strong></p><p>Fruits Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>PERLA YOUSSEF</strong></p><p>Fruits Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>RASHEL LAHDO</strong></p><p>Fruits Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MILA KERIAKUS</strong></p><p>Alphabet Series voice over</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MIMRA KERIAKUS</strong></p><p>Alphabet Series voice over</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MIRNA SHAMOUN</strong></p><p>Allalaye Song - Western</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>IVLA SAADI</strong></p><p>Allalaye Song - Eastern</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MRIAM KARIM</strong></p><p>Deck the Halls Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MERLLA MAROKI </strong></p><p>Deck the Halls Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>YALDA GAWRIEH </strong></p><p>Deck the Halls Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>ORNINA SHABO </strong></p><p>Deck the Halls Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MILA KERIAKOS</strong></p><p>Deck the Halls Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>Ammar Youssef</strong></p><p>Sr. Tech Lead</p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>ADIB KAZO</strong></p><p>Row Your Boat Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>IVLA SAADI</strong></p><p>Row Your Boat Song</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>MIMRA KERIAKOS</strong></p><p>Little Chicks "Hassisan" Song - Western Version</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong>ORYANA RONY</strong></p><p>Little Chicks "Hassisan" Song - Eastern Version</p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ramia Ahi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Fadi Issac </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ivla Saadi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> YAKOUB ASMAR </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Smedra Hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mimra  KERIAKOS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mila  KERIAKOS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Adib Naeem </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Shadi Ali </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Peter Ibrahim </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ilona Danho </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Michel Badal </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Audisho Yusip </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Merna Shamoun </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Esho Zora </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Zaia Nissan </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Nohadra Studio </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Firas Shahristan </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Silvy Youssef </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Rnia Malki </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Iliana Shabo </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Nour Hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elias Isho </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> ornina shabo </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> meray youssef </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> nohadra hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> george afram </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> dilama malki </strong></p><p>  </p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ramia Ahi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Gabi Shabo</strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ivla Saadi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Bashir Saadi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Illishbaa Samo </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mimra  KERIAKOS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mila  KERIAKOS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Adib Naeem </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Samer Hanna</strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Peter Ibrahim </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ilona Danho </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Meray Youssef </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Zelka gabriel </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Silvy Youssef </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Joice Murad </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> George Amin </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Nour Hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elias Isho </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Aboud Hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> MRIAM KARIM </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> MERLLA MAROKI </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> YALDA GAWRIEH </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elias Boujchaqli </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Wadhah Esau </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Shanel Wadhah esau </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Smedra Hanna </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Audisho Yousip </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ishar Zaito </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Asheer Kouli and Koulistudios - Sweeden for recording Vocal </strong></p><p>  </p></div></div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active show" id="tabs7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Steve Shabo </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ramia Ahi</strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Rnia Malki </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Gabi Shabo </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> OMAR SHAMMAS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ninwa Aop </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Silvy Youssef </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elias Esho </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Inmar Shamoun  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ivla Saadi </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mila Keriakos </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elias Bojaqly </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> MIMERA KERIAKOS </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Michael Kale </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Onita Basem </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ashurina Oshana </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Hedra Yalda  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Dania Zuher </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ata Alkhpory  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mar NARSAI YOUTH </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Meriam Karim </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Merlla Maroki </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Yalda Gawrieh </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mora Barsoum </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Esho Oshana </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Kirlos Yacoub </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Dona Dawood  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Elaria Touma </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Lamita Yousef  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Fabian Shamoun  </strong></p><p>  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Marian Salman  </strong></p><p>  </p></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="tabs8" style="display:none">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ramia Ahi </strong></p><p> Sheshalto D Orhy </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Fadi Issac </strong></p><p>Oud - Joseph the Gardener  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ivla Saadi </strong></p><p> Joseph the Gardener </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> YAKOUB ASMAR </strong></p><p>Canopy of Unit - We Three Kings  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Smedra Hanna </strong></p><p>Mothers' Day Song  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">  Mimra  KERIAKOS</strong></p><p> Animal Sounds - Everyone Has a Car </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Mila  KERIAKOS </strong></p><p> Chorus - Joseph the Gardener </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Adib Naeem </strong></p><p>  We Three Kings</p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Shadi Ali </strong></p><p> Ant Song </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Peter Ibrahim </strong></p><p> Canopy of Unity - We Three Kings  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Ilona Danho </strong></p><p>Ant Song  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Michel Badal </strong></p><p> Ant Song </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">Audisho Yusip  </strong></p><p> LYRICS - Canopy of Unit </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Merna Shamoun </strong></p><p> Joseph the Gardener </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Esho Zora </strong></p><p> Everyone Has a Car </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Zaia Nissan </strong></p><p> Everyone Has a Car </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Nohadra Studio </strong></p><p>  Everyone Has a Car </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Firas Shahristan </strong></p><p> Ant Song </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Silvy Youssef </strong></p><p> Open Shut Them </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">Rnia Malki  </strong></p><p>Sheshalto D Orhy  </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Iliana Shabo </strong></p><p> Sheshalto D Orhy </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">  Nour Hanna</strong></p><p> Arabic Translator </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">  Elias Isho</strong></p><p> BET KANU Promo </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">Ornina Shabo</strong></p><p>  CHORUS - Everyone Has a Car - We Three Kings </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> MERAY YOUSSEF  </strong></p><p>  CHORUS - Animal Sounds - Everyone Has a Car </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> NOHADRA HANNA</strong></p><p> Chorus - Animal Sounds   </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize">  George Afram </strong></p><p>  Chorus  - We Three Kings </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Dilama Malki  </strong></p><p>  Chorus  - We Three Kings </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Fadi Simon </strong></p><p>Assyrian Karaoke </p></div></div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"><div class="well"><p style="font-size:15px; font-weight:500; margin-bottom: 20px;"><strong style="text-transform:capitalize"> Salim Abedalmasieh </strong></p><p> Assyrian Karaoke </p></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



