<head>
    @{
        ViewBag.Title = "Team";

    }
</head>
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-globe"></i> BET KANU Board</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/AkkadSaadi.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Akkad Saadi</h3>
                            <ul><li><strong>President</strong></li></ul>
                            <ul><li><strong>Production Director | Language </strong></li></ul>
                            <p>
                                Orignally from Syria, he received his Master's in Computer Science in the USA, and he works now as a Software Architect.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/raminasamuel.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Ramina Samuel</h3>
                            <ul><li><strong>Vice President </strong></li></ul>
                            <ul><li><strong>Language Chair </strong></li></ul>
                            <p>
                                She received her Masters Degree in Counseling.
                                Ramina works as a School Counselor in the USA. She is originally from Iraq.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/SargonSaadi.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Sargon Saadi</h3>
                            <ul><li><strong>Treasurer | Visual Arts</strong></li></ul>
                            <p>
                                Orignally from Syria, he studied and worked in cinematography for 10 years in the US, and he has been working last few years as a Software Engineer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/MarganitaSamuel.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Marganita Samuel</h3>
                            <ul><li><strong>Secretary | Language</strong></li></ul>
                            <p>
                                Earned a bachelors of science in Biology with a minor in Chemistry and Arabic in the USA. Marganita works as a Medical Technologist and is originally from Iraq.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/samir.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Samir Shamoun</h3>
                            <ul><li><strong>Marketing</strong></li></ul>
                            <p>
                                Samir has a Communication Engineering Degree.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/MariamBarsoum.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Mariam Barsoum</h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>
                                Holding a Bio-Engineering Degree, Mariam is a Strong Community Volunteer and a TV host in Suboro TV in Lebanon and Syria.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-users"></i>Volunteer Members</h4>
                </div>

                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/abdul.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">
                                Abdul Massih Issac Saadi
                            </h3>
                            <ul><li><strong>Language Scholar</strong></li></ul>
                            <p>
                                Originally from Syria, he is currently a Professor at Baylor University, USA, teaching Syriac Language and Literature. Among many books and articles he wrote, he translated the Bible into Suryoyo of Turabdin.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/Shibla.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Shibla Betshmuel</h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>Shibla earned his Bachelors of Arts in English Language and Literature in Iraq.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/Yousip.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Yousip Toma </h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>
                                Bachelors Degree in Syriac Studies at the College of Education at Salahaddin University in Erbil, Iraq.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/jessy.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Jessica Lahdow</h3>
                            <ul><li><strong>Visual Arts</strong></li></ul>
                            <p>
                                She works as Media Designer in Germany. Jessica has roots from Turkey.
                            </p>
                        </div>
                    </div>
                </div> 



            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
              
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/zelga.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Zelga Gabriel</h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>
                                She has a degree in Interior Design in Sweden. Zelga has roots from Syria.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    @*<section>
            <div class="container">
                <div class="row">
                    <div class="title outline">
                        <h4><i class="fa fa-globe"></i> BET KANU Board</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/content/img/ourteam/AkkadSaadi.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h3 class="card-title">Akkad Saadi</h3>
                                <ul><li><strong>President</strong></li></ul>
                                <ul><li><strong>Production Director | Language </strong></li></ul>
                                <p>
                                    He received his Masters Degree in Computer Science in the USA.
                                    Akkad lives and works as an IT Director in Syria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/content/img/ourteam/raminasamuel.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h3 class="card-title">Ramina Samuel</h3>
                                <ul><li><strong>Vice President </strong></li></ul>
                                <ul><li><strong>Marketing & Language Chair </strong></li></ul>
                                <p>
                                    Works as a School Counselor and Therapist in the USA.
                                    Ramina is originally from Iraq.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 padding-right-50"></div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/content/img/ourteam/SargonSaadi.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h3 class="card-title">Sargon Saadi</h3>
                                <ul><li><strong>Treasurer | Visual Arts</strong></li></ul>
                                <p>
                                    Orignally from Syria, he studied cinematogra&shy;phy
                                    and works as a cinemato&shy;grapher in the USA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/content/img/ourteam/MarganitaSamuel.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h3 class="card-title">Marganita Samuel</h3>
                                <ul><li><strong>Secretary | Language</strong></li></ul>
                                <p>
                                    She is a Pre-Med student majoring
                                    in Bio-Chem and minoring in Arabic in the USA.
                                    Marganita is originally from Iraq.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/content/img/ourteam/jessy.jpg" alt="">
                            </div>
                            <div class="caption">
                                <h3 class="card-title">Jessica Lahdow</h3>
                                <ul>
                                    <li>
                                        <strong>
                                            Visual Arts Committee
                                        </strong>
                                    </li>
                                </ul>
                                <p>
                                    She works as Media Designer in Germany. Jessica has roots from Turkey.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@



    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-users"></i> Center Team</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/samir.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Samir Shamoun</h3>
                            <ul><li><strong>Sr. Center Director | Marketing | Front-end Developer</strong></li></ul>
                            <p>A Communication Engineer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/dilama.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Dilama Malki</h3>
                            <ul><li><strong>Sr. Project Manager</strong></li></ul>
                            <p>A History Major Studies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/MariaKale.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Maria Kale</h3>
                            <ul><li><strong>Sr. Finance & HR Officer </strong></li></ul>
                            <p>Maria has an Economy Degree.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/GeorgeAfram.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">George Afram</h3>
                            <ul><li><strong>Music Lead</strong></li></ul>
                            <p>He is an English Student.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/MiladSYoussef.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Milad S Youssef</h3>
                            <ul><li><strong>Sr. Expert Animator</strong></li></ul>
                            <p>He is a Civil Engineer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/GabiMalki.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Gabi Malki</h3>
                            <ul><li><strong>Sr. Expert Animator</strong></li></ul>
                            <p>He is a Mathematic Teacher.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/orninashabo.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Ornina Chabo</h3>
                            <ul><li><strong>Sr. Designer</strong></li></ul>
                            <p>She is a graduate of Computer Institute.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/MerayYoussef.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Meray Youssef</h3>
                            <ul><li><strong>Sr. Designer</strong></li></ul>
                            <p>She is a Bio-Tech Engineer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">

                @*<div class="col-lg-1 padding-right-50"></div>*@
                @*<div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    </div>*@
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/GabiChabo.png" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Gabi Chabo</h3>
                            <ul><li><strong>Sr. Animator</strong></li></ul>
                            <p>He received his Associate Degree.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/jack.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Jack Abdel Massih</h3>
                            <ul><li><strong>Mid-level. Animator</strong></li></ul>
                            <p>He is a Computer Engineer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/barsoumhanna.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Barsoum Hanna</h3>
                            <ul><li><strong>Logistical</strong></li></ul>
                            <p>He is an Assistant Computer Engineer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/EliasBojakli.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Elias Bojakli</h3>
                            <ul><li><strong>Office Services</strong></li></ul>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                <div class="card">
                    <div class="card-img">
                        <img src="~/content/img/ourteam/Gabriely.png" alt="">
                    </div>
                    <div class="caption">
                        <h3 class="card-title">Gabriel Youssef</h3>
                        <ul><li><strong>Artist</strong></li></ul>-->
                @*<ul><li><strong>Part Time</strong></li></ul>*@
                <!--<p>He is an Architecture Engineer.</p>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </section>

</div>
    <!--<section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-users"></i>Volunteer Members</h4>
                </div>-->
    @*<div class="col-lg-1 padding-right-50"></div>*@
    <!--<div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">

                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/content/img/ourteam/Shibla.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Shibla Betshmuel</h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>Shibla earned his Bachelors of Arts in English Language and Literature in Iraq.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-3 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/content/img/ourteam/Yousip.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Yousip Toma </h3>
                            <ul><li><strong>Language</strong></li></ul>
                            <p>Senior in the Department of Syriac, College of Education at Salahaddin University in Erbil</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>-->

