<head>
    @{
        ViewBag.Title = "Volunteers";

    }
</head>
<section>
    <div class="container"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="well"><h2 style="text-align:center"><i class="fa fa-heart"></i> Volunteers </h2></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ranim Saliba</strong></p><img src="/img/volunteers/ranim.jpg" alt=""><p>Mia Voice</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ramtha Shamoun</strong></p><p>Nino Voice</p><img src="/img/volunteers/ramtha.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Adib Kazo</strong></p><p>Singer</p><img src="/img/volunteers/adib.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ivla Saadi</strong></p><p>Singer</p><img src="/img/volunteers/ivla.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
    <div class="container">
        <div class="headline no-margin">
            <h4><i class="fa fa-support"></i> Volunteers </h4>

            <div class="dropdown" style="display:inline">
                <button type="button" class="btn btn-info btn-outline" id="2019" disabled onclick="EnableDisableYear(this.id)"><i class="fa fa-calendar"></i> 2019</button>
                @*<button type="button" class="btn btn-info btn-icon-left" id="2018" onclick="EnableDisableYear(this.id)"><i class="fa fa-calendar"></i> 2018</button>*@
                <button type="button" class="btn btn-info btn-outline" id="2018" onclick="EnableDisableYear(this.id)">2018 <i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-info btn-outline" id="2017" onclick="EnableDisableYear(this.id)"><i class="fa fa-calendar"></i> 2017</button>

                @*<button type="button" class="btn btn-info btn-outline" id="2019" disabled onclick="EnableDisableYear(this.id)">2019 <i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2018" onclick="EnableDisableYear(this.id)">2018 <i class="fa fa-calendar"></i></button>
                    <button type="button" class="btn btn-info btn-outline" id="2017" onclick="EnableDisableYear(this.id)">2017 <i class="fa fa-calendar"></i></button>*@

                @*<button class="btn btn-primary btn-shadow" id="2018" disabled onclick="hideshowlist()">2018</button>
                    <button class="btn btn-primary btn-shadow" id="2017" onclick="showhidelist()">2017</button>*@
            </div>
        </div>
    </div>
</section>
<section id="2019c">
    @*<div class="container"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="well"><h2 style="text-align:center"><i class="fa fa-heart"></i> Volunteers </h2></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ranim Saliba</strong></p><p>Mia Voice</p><img src="~/content/img/volunteers/ranim.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ramtha Shamoun</strong></p><p>Nino Voice</p><img src="~/content/img/volunteers/ramtha.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Adib Kazo</strong></p><p>Singer</p><img src="~/content/img/volunteers/adib.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                    <div class="well">
                        <p style="font-size:18px"><strong>Ivla Saadi</strong></p><p>Singer</p><img src="~/content/img/volunteers/ivla.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="container"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="well"><h2 style="text-align:center"><i class="fa fa-heart"></i> Special Thanks </h2></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Renia Malki</strong></p><p>Mary Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Ornina Shabo</strong></p><p>Alphabet Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Merna Shamoun</strong></p><p>Body Parts Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Simon Malki</strong></p><p>Johnny Johnny Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Samira Gawrieh</strong></p><p>Johnny Johnny Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>FARAH FARJO</strong></p><p>Fruits Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>AYLA ELYO</strong></p><p>Fruits Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>PERLA YOUSSEF</strong></p><p>Fruits Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>RASHEL LAHDO</strong></p><p>Fruits Song</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>MILA KERIAKUS</strong></p><p>Alphabet Series voice over</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>MIMRA KERIAKUS</strong></p><p>Alphabet Series voice over</p></div></div>
            </div>
        </div>
    </div>
</section>
<section id="2018c" style="display:none">
    <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="well">
                    <h2 style="text-align:center"><i class="fa fa-heart"></i> Special Thanks </h2>

                </div>
            </div>

        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Hanan Sarah</strong></p><p>Public Relations</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Ivla Saadi</strong></p><p>Colors Song Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Rinya Malki</strong></p><p>Mariam had a little lamb Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Adib Kazo</strong></p><p>Monday's Child & Shapes songs Singer - Western Version</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Khiyo Najib</strong></p><p>Monday's Child & Shapes songs  Singer - Eastern Version</p></div></div>
            </div>
        </div>
    </div>
</section>


<section id="2017c" style="display:none">
    <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="well">
                    <h2 style="text-align:center"><i class="fa fa-heart"></i> Special Thanks </h2>

                </div>
            </div>

        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Karim Abed Alahad</strong></p><p>BET KANU Hosting - Syria</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Hanan Sarah</strong></p><p>Public Relations</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Mora Barsoum</strong></p><p>Safroono Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Juliana Darmo</strong></p><p>Sepra singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Nohadra Hanna</strong></p><p>Finger Family Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Ivla Saadi</strong></p><p>Colors Song Singer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Elias Isho</strong></p><p>Parlamentar Voice</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Milad Yossef</strong></p><p>Developer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Rmrama Gawrieh</strong></p><p>Developer</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Ashur Michael</strong></p><p>Santa Claus Singer - Eastern Version</p></div></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div class="well"><p style="font-size:18px"><strong>Sharbel Hanna</strong></p><p>Santa Singer - Western Version</p></div></div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function EnableDisableYear(year) {
            var n = document.getElementById("2019");
            var e = document.getElementById("2018");
            var s = document.getElementById("2017");
            var nc = document.getElementById("2019c");
            var ec = document.getElementById("2018c");
            var sc = document.getElementById("2017c");

            if (year == "2019") {
                n.disabled = true;
                e.disabled = false;
                s.disabled = false;
                nc.style.display = "block";
                ec.style.display = "none";
                sc.style.display = "none";
            }

            else if (year == "2018") {
                e.disabled = true;
                n.disabled = false;
                s.disabled = false;
                nc.style.display = "none";
                ec.style.display = "block";
                sc.style.display = "none";

            }
            else {
                e.disabled = false;
                n.disabled = false;
                s.disabled = true;
                nc.style.display = "none";
                ec.style.display = "none";
                sc.style.display = "block";
            }
        }
    </script>

}