<head>
    @{
        ViewBag.Title = "Yousip Toma - Team";

    }
</head>
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="title outline">
                    <h4><i class="fa fa-user"></i> Yousip Toma</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/ourteam/Yousip.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">Yousip Toma </h3>
                            <ul>
                                <li>
                                    <strong>Language
                                    </strong>
                                </li>
                            </ul>
                            <p style="font-weight:900">
                                Bachelors Degree in Syriac Studies at the College of Education at Salahaddin University in Erbil, Iraq.
                            </p>

                            <div style="text-align:left; direction:ltr">
                                <p>
                                    Bachelor of Education, Syriac Language Department, Salahaddin University, Erbil, Iraq.
                                </p>
                                <p>
                                    Member of the Language Department at Beit Kano Foundation.






                                </p>
                                <p>
                                    Translator and programmer for the Syriac Al-Iraqiya channel.

                                </p>
                                <p>
                                    Freelance translator.

                                </p>
                                <p>
                                    Auditor at Malthu Corporation.

                                </p>
                                <p>
                                    He is a novelist and has a novel printed in Modern Syriac (ܐܘܿܒܵܠܸܛ ܫܹܐܕܵܢܵܐ).

                                </p>
                                <p>
                                    He is a poet and has an electronic divan in modern Syriac (ܕܟܼܵܖܹ̈ܐ ܕܪܵܘܵܝܵܐ).

                                </p>
                                <p>
                                    Teaching assistant at the College of Education, Syriac Language Department, Salahaddin University, Erbil, Iraq.

                                </p>

                            </div>
                            <div style="text-align:right; direction:rtl">
                                <p>
                                    	بكالوريوس في التربية قسم اللغة السريانية من جامعة صلاح الدين، اربيل العراق.
                                </p>
                                <p>
                                    	عضو في قسم اللغة في مؤسسة (بيت كانو).
                                </p>
                                <p>
                                    	مترجم ومعد برامج في قناة العراقية السريانية.
                                </p>
                                <p>
                                    	مترجم فريلانسر.
                                </p>
                                <p>
                                    	مدقق في مؤسسة (ملثو).
                                </p>
                                <p>
                                    	روائي ولديه رواية مطبوعة بالسريانية الحديثة (ܐܘܿܒܵܠܸܛ ܫܹܐܕܵܢܵܐ).
                                </p>
                                <p>
                                    	شاعر ولديه ديوان الكتروني بالسريانية الحديثة (ܕܟܼܵܖܹ̈ܐ ܕܪܵܘܵܝܵܐ).
                                </p>
                                <p>
                                    	معيد في كلية التربية قسم اللغة السريانية في جامعة صلاح الدين، اربيل العراق.
                                </p>
                                
                            </div>

                        </div>
                    </div>
                    <div class="title outline">
                        <a href="/about/team" class="btn btn-block btn-warning ">Meet Our Team &nbsp;<i class="fa fa-user"></i></a>

                    </div>
                </div> 
            </div>
        </div>

    </section>    
    

</div>
   