@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h2 class="text-danger">Sorry, something went wrong.</h2>

<p>
    If the issue persists, contact Kanusoft technical team at <a href="mailto:info@kanusoft.com">info@kanusoft.com</a>
</p>
<p>
    <a href="@Url.Action("Index","Home")">Go to the Home Page</a>
</p>