@model Product
<!-- file Uploads -->
<link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/dashboard.css">


@{
    ViewBag.Title = "Create New Product";
}

<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;create New Song </h1>
        </div>
    </section>

    <section>

        <div class="col-md-12">
            <div class="container">
                <div class="col-12">
                    <form class="card" asp-action="CreateSong" enctype="multipart/form-data" method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" required />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TargetAudince" class="control-label"></label>
                                        <select class="form-control custom-select" asp-for="TargetAudince" asp-items="Html.GetEnumSelectList<Target>()">
                                            <option selected="selected">-None-</option>
                                        </select>
                                        <span asp-validation-for="TargetAudince" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="SmallImage" class="control-label"></label>
                                        <input asp-for="SmallUrl" class="dropify form-control" />
                                        <span asp-validation-for="SmallUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="CoverImage" class="control-label"></label>
                                        <input asp-for="CoverUrl" class="dropify form-control" />
                                        <span asp-validation-for="CoverUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsRelease" class="control-label"></label>
                                    <input type="checkbox" asp-for="IsRelease" name="IsRelease" />
                                    <span asp-validation-for="IsRelease" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="color:white">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Details</h3>
                                    </div>

                                    <!--START table-responsive -->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="SubCategory" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="SubCategory" class="form-control" />
                                                        <span asp-validation-for="SubCategory" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ReleaseDate" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ReleaseDate" class="form-control" />
                                                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="LongDescription" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="LongDescription" class="form-control" />
                                                        <span asp-validation-for="LongDescription" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ShortDescription" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ShortDescription" class="form-control" />
                                                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ScriptW" class="control-label"></label>
                                                    </td>
                                                    <td>

                                                        <input asp-for="ScriptW" class="form-control" />
                                                        <span asp-validation-for="ScriptW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ScriptE" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ScriptE" class="form-control" />
                                                        <span asp-validation-for="ScriptE" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="EnglishScript" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="EnglishScript" class="form-control" />
                                                        <span asp-validation-for="EnglishScript" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="CreditsW" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="CreditsW" class="form-control" />
                                                        <span asp-validation-for="CreditsW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="CreditsE" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="CreditsE" class="form-control" />
                                                        <span asp-validation-for="CreditsE" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="VideoW" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="VideoW" class="form-control" />
                                                        <span asp-validation-for="VideoW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="VideoE" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="VideoE" class="form-control" />
                                                        <span asp-validation-for="VideoE" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ViewsW" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ViewsW" class="form-control" />
                                                        <span asp-validation-for="ViewsW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ViewsE" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ViewsE" class="form-control" />
                                                        <span asp-validation-for="ViewsE" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Epdf" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="EasternPdfFile" type="file" class="form-control pt-3" />
                                                        <span asp-validation-for="Epdf" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Wpdf" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="WestreanPdfFile" type="file" class="form-control pt-3" />
                                                        <span asp-validation-for="Wpdf" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button class="btn toggle-hidden-btn" type="button"
                                                    data-initial-svg='<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg>'
                                                    data-flipped-svg='<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m18 15l-6-6l-6 6"/></svg>'>
                                        Has Malouli Info!
                                                <span class="rotate-svg" style="display: inline-block;"></span>
                                            </button>
                                    
                                        <p class="comment-text">
                                            <tr>
                                                <td>
                                                    <label asp-for="MalouliScript" class="control-label"></label>
                                                </td>
                                                <td>

                                                    <input asp-for="MalouliScript" class="form-control" />
                                                    <span asp-validation-for="MalouliScript" class="text-danger"></span>
                                                </td>
                                            </tr>                                           
                                            <tr>
                                                <td>
                                                    <label asp-for="CreditsM" class="control-label"></label>
                                                </td>
                                                <td>
                                                    <input asp-for="CreditsM" class="form-control" />
                                                    <span asp-validation-for="CreditsM" class="text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label asp-for="VideoM" class="control-label"></label>
                                                </td>
                                                <td>
                                                    <input asp-for="VideoM" class="form-control" />
                                                    <span asp-validation-for="VideoM" class="text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label asp-for="ViewsM" class="control-label"></label>
                                                </td>
                                                <td>
                                                    <input asp-for="ViewsM" class="form-control" />
                                                    <span asp-validation-for="ViewsM" class="text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label asp-for="MalouliPdfFile" class="control-label"></label>
                                                </td>
                                                <td>
                                                    <input asp-for="MalouliPdfFile" type="file" class="form-control pt-3" />
                                                    <span asp-validation-for="MalouliPdfFile" class="text-danger"></span>
                                                </td>
                                            </tr>
                                        </p>
                                    </div>
                                    <!--END table-responsive #3a4258-->

                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <a asp-action="Index" class="btn btn-Create btn-shadow w-50">Back to List</a>
                                </div>

                                <div class="col-md-6">
                                    <input type="submit" value="save" class="btn btn-Create btn-shadow w-50" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>




        </div>
    </section>
</div>



@section Scripts {
    @{
        <!-- file uploads js -->
        <script src="~/plugins/fileuploads/js/dropify.js"></script>
        <script>
            $(document).ready(function () {
                $(".toggle-hidden-btn").each(function () {
                    var $btn = $(this);
                    var initialSvg = $btn.data("initial-svg");
                    var flippedSvg = $btn.data("flipped-svg");

                    $btn.find(".rotate-svg").html(initialSvg);

                    $btn.on("click", function () {
                        var commentText = $btn.next(".comment-text");
                        var rotateSvg = $btn.find(".rotate-svg");

                        commentText.toggleClass("visible");
                        rotateSvg.toggleClass("rotated");

                        if (rotateSvg.hasClass("rotated")) {
                            rotateSvg.html(flippedSvg);
                        } else {
                            rotateSvg.html(initialSvg);
                        }
                    });
                });
            });
        </script>
        <script>
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a file here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (2M max).'
                }
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}