@model ProductEpisode

@{
    ViewData["Title"] = "CreateEpisode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateEpisode</h1>
<h4>ProductEpisode</h4>
<head>
    <!-- file Uploads -->
    <link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/css/List.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/create.css">
</head>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEpisode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoE" class="control-label"></label>
                <input asp-for="VideoE" class="form-control" />
                <span asp-validation-for="VideoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoW" class="control-label"></label>
                <input asp-for="VideoW" class="form-control" />
                <span asp-validation-for="VideoW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageE" class="control-label"></label>
                <input asp-for="ImageE" class="dropify form-control" />
                <span asp-validation-for="ImageE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageW" class="control-label"></label>
                <input asp-for="ImageW" class="dropify form-control" />
                <span asp-validation-for="ImageW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        <!-- file uploads js -->
        <script src="~/plugins/fileuploads/js/dropify.js"></script>
        <script>
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a file here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (2M max).'
                }
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}