@model Product

<!-- file Uploads -->
<link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/css/dashboard.css">


@{
    ViewBag.Title = "Create New Product";
}

<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;Create new Book </h1>
        </div>
    </section>

    <section>

        <div class="col-md-12">

            <div class="container">
                <div class="col-12">
                    <form class="card" asp-action="CreateBook" enctype="multipart/form-data" method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" required />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TargetAudince" class="control-label"></label>
                                        <select class="form-control custom-select" asp-for="TargetAudince" asp-items="Html.GetEnumSelectList<Target>()">
                                            <option selected="selected">-None-</option>
                                        </select>
                                        <span asp-validation-for="TargetAudince" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="SmallImage" class="control-label"></label>
                                        <input asp-for="SmallUrl" class="dropify form-control" />
                                        <span asp-validation-for="SmallUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="CoverImage" class="control-label"></label>
                                        <input asp-for="CoverUrl" class="dropify form-control" />
                                        <span asp-validation-for="CoverUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="img1" class="control-label"></label>
                                        <input asp-for="imgUrl" class="dropify form-control" />
                                        <span asp-validation-for="img1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="img2" class="control-label"></label>
                                        <input asp-for="imgUrl2" class="dropify form-control" />
                                        <span asp-validation-for="img2" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="img3" class="control-label"></label>
                                        <input asp-for="imgUrl3" class="dropify form-control" />
                                        <span asp-validation-for="img3" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="img4" class="control-label"></label>
                                        <input asp-for="imgUrl4" class="dropify form-control" />
                                        <span asp-validation-for="img4" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="img5" class="control-label"></label>
                                        <input asp-for="imgUrl5" class="dropify form-control" />
                                        <span asp-validation-for="img5" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body" style="color:white">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Details</h3>
                                    </div>

                                    <!--START table-responsive -->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="SubCategory" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="SubCategory" class="form-control" />
                                                        <span asp-validation-for="SubCategory" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ReleaseDate" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ReleaseDate" class="form-control" />
                                                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Author" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Author" class="form-control" placeholder="Author: Author Name" />
                                                        <span asp-validation-for="Author" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="DesignedBy" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="DesignedBy" class="form-control" placeholder="Designed By: Designed By Name" />
                                                        <span asp-validation-for="DesignedBy" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ProductBy" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ProductBy" class="form-control" placeholder="Product By: Product By Name" />
                                                        <span asp-validation-for="ProductBy" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Created" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Created" class="form-control" placeholder="Created By: Created By Name" />
                                                        <span asp-validation-for="Created" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                           
                                                <tr>
                                                    <td>
                                                        <label asp-for="LongDescription" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="LongDescription" class="form-control" />
                                                        <span asp-validation-for="LongDescription" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ShortDescription" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="ShortDescription" class="form-control" />
                                                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                       <tr>
                                                    <td>
                                                        <label asp-for="Features" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Features" class="form-control" />
                                                        <span asp-validation-for="Features" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="CreditsW" class="control-label"></label>

                                                    </td>
                                                    <td>
                                                        <input asp-for="CreditsW" class="form-control" />
                                                        <span asp-validation-for="CreditsW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="SongsList" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="SongsList" class="form-control" />
                                                        <span asp-validation-for="SongsList" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Link1" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Link1" class="form-control" />
                                                        <span asp-validation-for="Link1" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Link2" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Link2" class="form-control" />
                                                        <span asp-validation-for="Link2" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>
                                                        <label asp-for="Link3" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <input asp-for="Link3" class="form-control" />
                                                        <span asp-validation-for="Link3" class="text-danger"></span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--END table-responsive #3a4258-->

                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <a asp-action="Index" class="btn btn-Create btn-shadow w-50">Back to List</a>
                                </div>

                                <div class="col-md-6">
                                    <input type="submit" value="save" class="btn btn-Create btn-shadow w-50" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>




        </div>
    </section>
</div>



@section Scripts {
    @{
        <!-- file uploads js -->
        <script src="~/plugins/fileuploads/js/dropify.js"></script>
        <script>
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a file here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (2M max).'
                }
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
