@model ProductEpisode

<link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/css/dashboard.css">
@{
    ViewData["Title"] = "EditEpisodee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- file Uploads -->
<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;Edit Episode</h1>
        </div>
    </section>
    <section>
        <div class="col-md-12">
            <form class="card" asp-action="EditEpisode" enctype="multipart/form-data">
                <div class="container">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ImageE" class="control-label"></label>
                                        <input type="file" asp-for="imgUrl" class="dropify form-control" />
                                        <span asp-validation-for="ImageE" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ImageW" class="control-label"></label>
                                        <div>
                                         
                                            <input type="file" asp-for="imgUrl2" class="dropify form-control" />
                                            <span asp-validation-for="ImageW" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="color:white">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Details</h3>
                                    </div>

                                    <!--START table-responsive -->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Status" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                      
                                                        <input asp-for="Status" class="form-control" />
                                                        <span asp-validation-for="Status" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Status" class="control-label"></label>

                                                    </td>
                                                    <td>
                                                        <input asp-for="Status" class="form-control" />
                                                        <span asp-validation-for="Status" class="text-danger"></span>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <label asp-for="ProductId" class="control-label"></label>
                                                    </td>
                                                    <td>

                                                     
                                                        <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductId"></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        <label asp-for="VideoW" class="control-label"></label>
                                                    </td>
                                                    <td>
     
                                                        <input asp-for="VideoW" class="form-control" />
                                                        <span asp-validation-for="VideoW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="VideoE" class="control-label"></label>
                                                    </td>
                                                    <td>

                                                  
                                                        <input asp-for="VideoE" class="form-control" />
                                                        <span asp-validation-for="VideoE" class="text-danger"></span>
                                                    </td>
                                                </tr>

                 
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--END table-responsive -->

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12">
                                <a asp-action="Index" class="BackToList">Back to List</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="save" style="float:right;width: 19%;    background-color: #3a4258;
                                 margin-right: 32px" class="btn btn-primary btn-shadow" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>




@section Scripts {
        <!-- file uploads js -->
            <script src="~/plugins/fileuploads/js/dropify.js"></script>
            <script>
                $('.dropify').dropify({
                    messages: {
                        'default': 'Drag and drop a file here or click',
                        'replace': 'Drag and drop or click to replace',
                        'remove': 'Remove',
                        'error': 'Ooops, something wrong appended.'
                    },
                    error: {
                        'fileSize': 'The file size is too big (2M max).'
                    }
                });
            </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
