
@{
    ViewBag.Title = "BedtimePrayerSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/bedtimeprayer_1920_350.png" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/bedtimeprayer_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Bedtime Prayer Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Jul 31, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Children Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This is a reproduction of the popular Eastern bedtime prayer (Sluta Dramsha), commonly known as "Eman Damkhin Gu Shweetee." Reference: Nineveh Publishing, 1958, "Second Level for Beginners" by Deacon Gewargis dBeth Benyamin dAshitha.

                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟܘ̇ܠ ܕܛܳܒ̥ܰܥ ܐ̱ܢܳܐ ܒܰܓّܰܠ̈ܶܐ      ܠܶܒܺܝ ܨܠܽܘܬ̥ܳܐ ܟܳܡܨܰܠܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܳܪܝܳܐ ܟܫܳܡ݄ܥ ܟܘ̇ܠ ܡܶܕܶܐ      ܕܽܗ̄ܘ ܠܶܒܳܐ ܨܰܦܝܳܐ ܟ݄ܐܡܰܪ ܠܶܗ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܒܰܓّܰܠ̈ܶܐ ܫܰܠ̈ܝܶܐ ܬ̥ܢܺܝܚܳܐ   ܡܨܰܠܶܐ ܠܺܝ ܠܡܳܪܝܳܐ ܡܫܺܝܚܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܳܗ̄ܒܶܐ ܠܺܝ ܗ݄ܠ ܨܰܦܪܰܝܬܳܐ   ܫܰܢܬ̥ܳܐ ܚܠܺܝܬ̥ܳܐ ܘܒܰܣ݄ܡܬܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܩܳܝܰܡ ܐ̱ܢܳܐ ܒܦܳܬ̥ܶܗ ܕܨܰܦܪܳܐ   ܕܨܳܒܶܐ ܐ̱ܢܳܐ ܠܥܰܡܳܐ ܣܰܒܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܚܳܝܶܐ ܐ̱ܢܳܐ ܚܰܝ̈ܶܐ ܦܨܺܝ̈ܚܶܐ   ܐܟ̥ ܘّܰܪ̈ܕܶܐ ܘܗܰܒܳܒ̈ܶܐ ܦܩܺܝ̈ܚܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܳܪܝܳܐ ܡܫܺܝܚܳܐ ܡܳܪܰܒ̥ ܠܺܝ   ܒܗܰܘܢܳܐ ܘܚܰܝܠܳܐ ܘܚܘ̇ܠܡܳܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܳܦ ܒܰܒܺܝ ܘܶܐܡܺܝ ܢܛܰܪ ܠܺܝ   ܘܟܘ̇ܠ ܚܳܬ̥ܳܐ ܘܟܘ̇ܠ ܐܰܚܽܘܢܳܐ ܀

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BedtimePrayerWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܐܝܼܡܲܢ ܕܵܡܟ݀ܢ ܓܵܘ ܬ̄ܫܘܝܼܬܝܼ
                                ܓܵܘ ܠ݀ܒܝܼ ܨܲܠ݀ܢ ܨܠܘܿܬܝ݂
                            </p>
                            <p class="Surit font-size-22">
                                ܡܫܝܼܚܵܐ ܩܵܒܸܠ ܒܵܥܘ݂ܬܝ݂
                                ܕܪܵܗܲܬ ܛܲܠ݀ܢܵܗܿ ܫ݀ܢܬܝܼ


                            </p>
                            <p class="Surit font-size-22">
                                ܓܵܘ ܬ̄ܫܘܝܼܬܝ݂ ܙܥܘܿܪܬܵܐ ܕܡܝܼܟ݂ܵܐ
                                ܨܲܠ݀ܢ ܨܠܘܿܬܵܐ ܩܵܐ ܡܫܝܼܚܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܕܚܵܡܸܐ ܠܝܼ ܗܲܠ ܩܸܕܵܡܬܵܐ
                                ܒܫ݀ܢܬܵܐ ܚܠܝܼܬܵܐ ܕܡܲܢܝܲܚܬܵܐ

                            </p>
                            <p class="Surit font-size-22">

                                ܩܵܝܡ݀ܢ ܓ̰ܲܠܕܸܐ ܒܩܸܕܲܡܬܵܐ
                                ܩܵܐ ܡܵܪܝܵܐ ܨܲܠ݀ܢ ܨܠܘܿܬܵܐ

                            </p>
                            <p class="Surit font-size-22">

                                ܕܡܲܚܸܐ ܠܝ݂ ܚ݀ܕܝܵܐ ܘܦܨܝܼܚܵܐ
                                ܘܗܵܘܸܢ ܐܲܝܟܼ ܘܲܪܕܵܐ ܦܩܝܼܚܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܡܫܝܼܚܵܐ ܓܲܪܘ݀ܣ݀ܬ ܠܝܼ
                                ܒܩܵܘܡܬܵܐ ܘܗܵܘܢܵܐ ܘܦܲܪܡܵܝܬܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܘܢܵܛܪ݀ܬ ܠܗ݉ܘܿܢ ܒܵܒܝܼ ܘܝ݀ܡܝܼ
                                ܘܐܲܚܘܿܢܘܵܬ̈ܝܼ ܘܚܵܬܘܵܬ̈ܝܼ


                            </p>
                           <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BedtimePrayerEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

 
                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YfvbwOYyl9E?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Bedtime Prayer | Slutho Dramsho | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Jul 31, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8WCqIptfL1Y?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Bedtime Prayer | Sluta Dramsha | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jul 31, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> ILLUSTRATOR AND ANIMATOR: <strong>GABI MALKI </strong></li>
                                    <li> TRANSLATED LYRICS: <strong> AKKAD SAADI </strong></li>
                                    <li> WESTERN TYPING: <strong>BOTRES SHABO </strong></li>
                                    <li> SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li> SINGER: <strong>MILA KERIAKUS </strong></li>
                                    <li> MOTHER VOICE: <strong>NOHADRA HANNA</strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong>GEORGE AFRAM </strong></li>
                                    <li> ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong> RAMINA SAMUEL</strong></li>
                                    <li>PRODUCTION Director: <strong> AKKAD SAADI</strong></li>
                                    <li>REFERENCE: <strong>DCN. GEWARGIS DBETH BENYAMIN DASHITHA (1958), SECOND LEVEL FOR BEGINNERS. KIRKUK: NINEVEH PUBLISHING</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> ILLUSTRATOR AND ANIMATOR: <strong>GABI MALKI </strong></li>
                                    <li> EASTERN TYPING: <strong> MARGANITA SAMUEL </strong></li>
                                    <li> WESTERN TYPING: <strong>BOTRES SHABO </strong></li>
                                    <li> EASTERN SUPERVISION: <strong>RAMINA SAMUEL</strong></li>
                                    <li> SINGER: <strong>ESHO ZORA </strong></li>
                                    <li> MOTHER VOICE: <strong>NOHADRA HANNA</strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong>GEORGE AFRAM </strong></li>
                                    <li> ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong> RAMINA SAMUEL</strong></li>
                                    <li>PRODUCTION Director: <strong> AKKAD SAADI</strong></li>
                                    <li>REFERENCE: <strong>DCN. GEWARGIS DBETH BENYAMIN DASHITHA (1958), SECOND LEVEL FOR BEGINNERS. KIRKUK: NINEVEH PUBLISHING</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">

                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>