
@{
    ViewBag.Title = "BETKANUReaderApp";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/BETKANUReader_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/BETKANUReader_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>BET KANU Reader</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-mobile"></i> App</li>
                                    <li><i class="fa fa-calendar-o"></i> Aug 17, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Scan</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            BET KANU presents BET KANU READER App, a great Syriac reading App for everyone.
                        </p>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <ul>
                                <li>
                                    FUN FOR KIDS
                                </li>
                                <li>
                                    GREAT FOR TEACHERS
                                </li>
                                <li>
                                    AMAZING FOR PARENTS
                                </li>
                            </ul>


                        </div>
                        <p>
                            This must-have App is designed for all BET KANU publications and prints. The App includes these useful features:
                        </p>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <ul>
                                <li>
                                    Scan QR Codes provided in all BET KANU publications and prints.
                                </li>
                                <li>
                                    Plays an Audio for each QR Code that represents a page, a paragraph, or even a single line.
                                </li>
                                <li>
                                    Shows an image associated with each QR Code.
                                </li>
                                <li>
                                    Displays the Syriac text in either Eastern or Western font types.
                                </li>
                            </ul>


                        </div>

                        <div class="well" style="text-align:left ; direction:ltr">
                            <h4 style="text-align:left ; direction:ltr">WHAT'S NEW:</h4>

                            <ul>
                                <li>
                                    Beautiful new design!!
                                </li>
                                <li>
                                    Multiple new QR Code formats
                                </li>
                                <li>
                                    Reads and displays Videos now!
                                </li>
                                <li>
                                    Pinch and zoom feature for images!
                                </li>
                                <li>
                                    Shows external links and videos!
                                </li>
                                <li>
                                    Bug fixes and improvements.
                                </li>
                            </ul>

                        </div>
                        <div class="widget widget-list">
                            <div class="title">Features</div>
                            <div class="  col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <ul>
                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/1.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Updated</strong></h4>
                                            <p><i class="fa fa-refresh"></i> August 17, 2021</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/2.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Size</strong></h4>
                                            <p><i class="fa fa-gear"></i> 52.7 M</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/3.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Installs</strong></h4>
                                            <p><i class="fa fa-download"></i>2,000+</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="  col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <ul>

                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/4.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Current Version</strong></h4>
                                            <p><i class="fa fa-check"></i> 2 </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/5.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Requires Android</strong></h4>
                                            <p><i class="fa fa-android"></i>4.0.3 and up</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="~/content/img/blog/xs/6.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Content Rating</strong></h4>
                                            <p><i class="fa fa-star"></i> Rated for 4+</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>Updated</strong>
                                </p>
                                <p>
                                    October 26, 2018
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="well">
                                    <p>
                                        <strong>Size</strong>
                                    </p>
                                    <p>
                                        33M
                                    </p>
                                </div>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>Installs</strong>
                                </p>
                                <p>
                                    1,000+
                                </p>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>
                                        Current Version
                                    </strong>
                                </p>
                                <p>
                                    3
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="well">
                                    <p>
                                        <strong>
                                            Requires Android
                                        </strong>
                                    </p>
                                    <p>
                                        4.1 and up
                                    </p>
                                </div>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>
                                        Content Rating
                                    </strong>
                                </p>
                                <p>
                                    Rated for 4+
                                </p>
                            </div>*@




                    </div>

                </div>


                <div class="col-md-4 rightside">

                    <div class="col-md-12">

                        <div class="row">
                            <p>
                                &nbsp;
                            </p>
                            <a href="https://apps.apple.com/tr/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-block">Get it on the App Store!</a>
                            <a href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-block">Get it on the Google Play!</a>
                            <p>
                                &nbsp;
                            </p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="~/content/img/products/materials/reader1.jpg" alt="">

                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="~/content/img/products/materials/reader2.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="~/content/img/products/materials/reader3.jpg" alt="">

                                </div>
                            </div>

                            @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="well">
                                 <img src="~/content/img/products/materials/kanu4.jpg" alt="" >




                                    </div>
                                </div>*@

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">


                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>