
@{
    ViewBag.Title = "BirdSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/Safrono_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/Safrono_1920_700.jpg" />
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>The Bird Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Aug 3, 2017</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            The story of a young girl who saves a baby bird from danger, told in a fun song and cartoon! This melody was inpired from the French folk song, "Une Souris Verte."
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surit font-size-22"> ܢܰܦܺܝܩܐ ܐ̱ܢܳܐ ܠܺܗ̄ܝ ܓܰܢܬ̣ܳܐ، ܘ݄ܚܙܶܐ ܠܺܝ ܨܰܦܪܽܘܢܳܐ</p>
                            <br>
                            <p class="Surit font-size-22"> ܢܰܦ݄ܠ ܗ̄ܘܰܐ ܡܽܗ̄ܘ ܩܶܢܰܝܕܶܗ، ܩܳܪܶܐ ܗ̄ܘܰܐ ܠܺܗ̄ܝ ܡܰܡܰܝܕ̥ܶܗ</p>
                            <br>
                            <p class="Surit font-size-22"> ܢܳܫܶܐ ܠܳܐ ܫܰܡ݄ܥ ܠܶܗ، ܠܶܒܺܝ ܝܰܩ݄ܕ ܐܰܥܠܶܗ</p>
                            <br>
                            <p class="Surit font-size-22"> ܛܥ݄ܢ ܠܺܝ ܠܽܗ̄ܘ ܒܰܝܬܳܐ، ܗܽܒ̥ ܠܺܝ ܠܶܗ ܡܰܝ̈ܶܐ ܘܠܰܚܡܳܐ ܘܚ̈ܶܛܶܐ</p>
                            <br>
                            <p class="Surit font-size-22">ܐܰܬ̣ܺܝ ܒܪܰܗܛܳܐ ܗ̄ܽܘ ܩܰܛܽܘܢܳܐ، ܟܳܐܒ݄ܥ ܨܳܝܕ ܗ̄ܽܘ ܨܰܦܪܽܘܢܳܐ </p>
                            <br>
                            <p class="Surit font-size-22"> ܡ݄ܕ ܠܺܝ ܗ̄ܽܘ ܨܰܦܪܽܘܢܳܐ، ܬܠܶܐ ܠܺܝ، ܘܪܰܦܣܳܐ ܒܺܗ̄ܝ ܗܰܘܰܐ ܡܚܶܐ ܠܺܝ</p>
                            <br>
                            <p class="Surit font-size-22"> ܒ݄ܬ̣ܪ ܚܰܡܫܰܥܣܰܪ ܝܰܘܡ̈ܶܐ، ܐܰܙّܺܝ ܡܒܶܠ ܠܺܝ ܣܰܕ̱ ܕّܰܘܡ̈ܶܐ</p>
                            <br>
                            <p class="Surit font-size-22">ܦܬ݄ܚ ܠܺܝ ܐܺܝܕ̈ܳܬ̣ܺܝ ܘܛܰܝ݄ܪ، ܘ݄ܡܫܰܪܶܐ ܠܶܗ ܟܳܙܳܡܰܪ </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܘܺܫ̰ ܘܺܫ̰ ܘܺܫ̰
                                ܘܺܫ̰ ܘܺܫ̰ ܘܺܫ̰
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/TheBirdSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܦܠ݀ܛ ܠܝܼ ܓܵܘ ܚܲܕ݉ ܓܲܢܬܵܐ،
                                ܘܚܙܸܐ ܠܝܼ ܠܚܲܕ݉ ܨ݀ܦܪܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܢܦܝܼܠܵܐ ܝܗ݉ܘܵܐ ܡܢ݉ ܩ݀ܢܵܐ ܕܝܼܝܸܗ
                                ܩܪܵܝܵܐ ܝܗ݉ܘܵܐ ܒܝ݀ܡܵܐ ܕܝܼܝܸܗ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܘܚܲܕ݉ ܠܵܐ ܩܵܡ ܫܵܡ݀ܥ ܠܸܗ
                                ܠ݀ܒܝܼ ܝ݉ܩ݀ܕܠܸܗ ܒܝܼܝܸܗ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܠܘܼܒ݀ܠ ܠܝܼ ܠܒܲܝܬܵܐ،
                                ܘܝܘܼܗ݉ܒܼܠ ܠܝܼ ܡ݀ܝܵܐ ܘܠܲܚܡܵܐ، ܘܚ݀ܛܸ̈ܐ.
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܐ݉ܬܸܐܠܵܗܿ ܩܵܛܘܼ ܘܪܚ݀ܛܠܵܗܿ،
                                ܒܥ݉ܝ݂ܠܵܗܿ ܕܨܲܝܕܵܐ ܠܸܗܿ ܨ݀ܦܪܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܫܩ݀ܠܝܼ ܠܨ݀ܦܪܵܐ ܘܛܘܼܫܸܐ ܠܝܼ
                                ܘܪܲܦܣܵܐ ܓܵܘ ܗܵܘܵܐ ܡܚܸܐ ܠܝܼ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܒܵܬ݉ܪ ܚܲܡܫܲܥܤܲܪ ܝܘܿܡܵܢܸ̈ܐ
                                ܠܘܼܒ݀ܠ ܠܝܼ ܗܵܠ ܐܝܼܠܵܢܸ̈ܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܦܬ݀ܚ ܠܝܼ ܐܝܼܕܵܬܝܼ ܘܦܪ݀ܚ ܠܸܗ
                                ܘܒܥ݉ܕܵܢܵܐ ܚܕܸܐ ܠܸܗ ܘܙܡ݀ܪ ܠܸܗ
                            </p>
                            <br>
                            <p class="Surit font-size-22">ܟ̰ܝܘ ܟ̰ܝܘ ܟ̰ܝܘ ܟ̰ܝܘ ܟ̰ܝܘ ܟ̰ܝܘ ܟ̰ܝܘ </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/TheBirdSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>

                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wrs5x483tUA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Safroono - The Bird Song - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Aug 3, 2017</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H2wHEgKBq48?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Sepra - The Bird Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Aug 3, 2017</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> Illustrators and animators:<strong>Ammar Yousef</strong>, <strong>Milad Yousef</strong>, <strong>Gabi Chabo</strong></li>
                                    <li>Singer: <strong>Mora Barsoum</strong></li>
                                    <li>Music Composer: <strong>George Afram</strong></li>
                                    <li>Song Writer: <strong>Abraham Hanna</strong></li>
                                    <li>Script Typist and Supervisor: <strong>Dr. Abdul Massih Saadi</strong></li>
                                    <li>Arts Coordinator: <strong>Sargon Saadi</strong></li>
                                    <li>Managers: <strong>Akkad Saadi</strong>, <strong>Mariam Barsoum</strong></li>
                                    <li>Producer: <strong>Bet Kanu</strong></li>
                                    <li>Director: <strong>Ammar Youssef</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> Illustrators and animators:<strong>Ammar Yousef</strong>, <strong>Milad Yousef</strong>, <strong>Gabi Chabo</strong></li>
                                    <li>Singer: <strong>Juliana Darmo</strong></li>
                                    <li>Music Composer: <strong>George Afram</strong></li>
                                    <li>Song Writer: <strong>Abraham Hanna</strong></li>
                                    <li>Eastern Syriac Translator: <strong>Ramina Samuel </strong></li>
                                    <li>Syriac Typist: <strong>Marganita Samuel </strong></li>
                                    <li>Arts Coordinator: <strong>Sargon Saadi</strong></li>
                                    <li>Managers: <strong>Akkad Saadi</strong>, <strong>Mariam Barsoum</strong></li>
                                    <li>Producer: <strong>Bet Kanu</strong></li>
                                    <li>Director: <strong>Ammar Youssef</strong></li>
                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>