
@{
    ViewBag.Title = "BirthdaySong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/birthdaysong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/birthdaysong_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Happy Birthday Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Sep 19, 2018</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Inspired from the popular "Happy Birthday" song. This sing a long song greets both boys and girls in Syriac on their birthday using the popular birthday tune.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ، ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܚܳܝܰܬ ܚܰܝ̈ܶܐ ܒܰܣܺܝܡ̈ܶܐ
                                ܥܰܡ ܢܳܫ̈ܶܐ ܖ̈ܚܺܝܡܶܐ
                                ܒܚܽܘܒܳܐ ܘܓܰܕܳܐ ܘܟܽܘܫܳܪܳܐ
                                ܘܕܳܗ̄ܘܶܐ ܚܶܠܡܰܝܕ̥ܳܟ̥ ܫܪܳܪܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܬܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܬܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ، ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ
                                ܫܰܢ̱ܬܳܐ ܒܪܺܝܟ̥ܬܳܐ ܚܰܒܺܝܒܬܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܚܳܝܰܬ ܚܰܝ̈ܶܐ ܒܰܣܺܝܡ̈ܶܐ
                                ܥܰܡ ܢܳܫ̈ܶܐ ܖ̈ܚܺܝܡܶܐ
                                ܒܚܽܘܒܳܐ ܘܓܰܕܳܐ ܘܟܽܘܫܳܪܳܐ
                                ܘܕܳܗ̄ܘܶܐ ܚܶܠܡܰܝܕ̥ܰܟ̥ ܫܪܳܪܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BirthdaySongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܒܸܝܬ ܝܲܠܕܘܼܟܼ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܘܼܟܼ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܘܼܟܼ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܘܼܟܼ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܚܵܝ݀ܬ ܚܲܝܸ̈ܐ ܝܲܖ̈ܝܼܟܼܸܐ
                                ܥܲܡ ܐ݉ܢܵܫܸ̈ܐ ܡܲܟܝܼܟܼܸ̈ܐ
                                ܚܵܝ݀ܬ ܚܲܝܸ̈ܐ ܒܲܣܝܼܡܸ̈ܐ
                                ܡ݀ܠܝܸ̈ܐ ܡܢ݉ ܝܘܿܡܵܢܸ̈ܐ ܒܖ̈ܝܼܟܼܸܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܒܸܝܬ ܝܲܠܕܵܟܼܝ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܵܟܼܝ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܵܟܼܝ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                                ܒܸܝܬ ܝܲܠܕܵܟܼܝ ܗܵܘܸܐ ܒܪܝܼܟܼܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܚܵܝܲܬ ܚܲܝܸ̈ܐ ܝܲܖ̈ܝܼܟܼܸܐ
                                ܥܲܡ ܐ݉ܢܵܫܸ̈ܐ ܡܲܟܝܼܟܼܸ̈ܐ
                                ܚܵܝܲܬ ܚܲܝܸ̈ܐ ܒܲܣܝܼܡܸ̈ܐ
                                ܡ݀ܠܝܸ̈ܐ ܡܢ݉ ܝܘܿܡܵܢܸ̈ܐ ܒܖ̈ܝܼܟܼܸܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BirthdaySongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>

                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dcb8I8izauc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Happy Birthday Song - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 19, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/69J8QafbKHo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Happy Birthday Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 19, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong>   AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>SHARBEL HANNA</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>DIRECTED BY: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong>   RAMINA SAMUEL</strong></li>
                                    <li>TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>ASHUR MICHAEL</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>DIRECTED BY: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>