
@{
    ViewBag.Title = "BodyPartsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/bodypartssong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/bodypartssong_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Body Parts Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Aug 16, 2019</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            An original song about teaching the kids some of the body parts in Surit font-size-22 and Surayt font-size-22.  Song was made in collaboration with AJM, as it was originally created as part of a Syriac Song Writing competition hosted in the AJM Dolabani Camp of 2018 and conducted by Akkad Saadi.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">
                                ܐܰܕܝܳܡܐ ܟܕܝܠܦܺܝܢܰܐ
                                ܥܰܠܐ ܦܰܠܩ̈ܶܐ ܕܓܫܡܰܝܢܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܫܡܰܥܽܘ ܫܡܰܥܽܘ ܐܰܥܠܶܝܢܰܐ
                                ܒܽܘܪܡܳܪܳܐ ܓܡܦܨܳܚܺܝܢܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܒܥܰܝܢܳܬܝܢܐ ܓܚܳܙܝܢܐ
                                ܒܪܝܬܳܐ ܓܘܠܐ ܩܽܘܡܝܢܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܒܐܰܕܢܳܬܝܢܐ ܓܫܡܥܺܝܢܐ
                                ܬܶܫܥܝܳܬܐ ܕܩܰܫܬܝܢܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܓܢܩܚܺܢܐ ܒܽܘܢܚܝܪܰܝܕܰܢ
                                ܐܰܘܪܕ̈ܶܐ ܕܝܟܢܬܐܝܕܰܢ
                            </p>
                            <p class="Surayt font-size-22">
                                ܘܓܟ݂ܠܺܝܢܐ ܒܽܘ ܦܶܡܝܕܰܢ
                                ܘܽܡܟܠܳܐ ܕܡܰܐܡܝܕܰܢ
                            </p>
                            <p class="Surayt font-size-22">
                                ܓܠܳܝܳܐ ܥܰܠ ܪܰܟܠܳܬ݂ܰܝܢܰܐ
                                ܡܰܠܟ݂ܳܐ ܘܪܰܗܛܳܐ ܘܓ݂ܶܩܳܙܳܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܓܪܫܡܺܝܢܰܐ ܒܐܶܕܳܬܰܝܢܰܐ
                                ܬܽܘܪܬܳܐ ܘܩܰܪܩܽܘܪܳܐ ܘܥܶܙܳܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܶܝ ܨܶܡܕܳܐ ܥܰܠ ܚܰܨܝܢܐ
                                ܓܙܰܢܳܐ ܠܺܝܡܕܪܰܫܬܳܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܓܗܰܝܙܺܝܢܐ ܓܰܬܦܳܬܰܝܢܐ
                                ܟܕܰܐ ܓܶܦ̈ܶܐ ܕܕܰܒܫܬܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BodyPartsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܐ݀ܕܝܘܿܡ݉ ܝܵܘܡܵܐ ܒ݀ܬ ܝܵܠܦܲܚ
                                ܠܗܲܕܵܡܸ̈ܐ ܕܦܲܓܼܪܲܢ ܒܝܲܕܲܥ݉ܚ
                            </p>
                            <p class="Surit font-size-22">
                                ܫܡܝܼܥ݉ܡܘܿܢ ܡܘܿܕܝܼ ܒ݀ܬ ܐܵܡܪܲܚ
                                ܒ݀ܬ ܚܲܡܠܲܚ ܐܵܦ ܒ݀ܬ ܙܵܡܪܲܚ
                            </p>
                            <p class="Surit font-size-22">
                                ܒܥܲܝܢܲܢ ܐܲܚܢܲܢ ܟܸܐ ܚܵܙܲܚ
                                ܠܕܗ݉ܘܿ ܥܲܠܡܵܐ ܕܓܵܘܸܗ ܚܲܝܲܚ
                            </p>
                            <p class="Surit font-size-22">
                                ܒܢܲܬܝܵܬܲܢ ܐܲܚܢܲܢ ܝܫܲܡܲܥ݉ܚ
                                ܠܡܲܬܠܸ̈ܐ ܕܣܲܒܼܬܲܢ ܝܡܲܨܝ݀ܬܲܚ
                            </p>
                            <p class="Surit font-size-22">
                                ܡܲܡ݀ܚܲܚ ܡܼܢ ܢܵܚܝܼܪܲܢ
                                ܠܐܵܢܝ݉ ܘܲܖ̈ܕܸܐ ܕܙܲܪܥܲܚ ܒܓܲܢܬܲܢ
                            </p>
                            <p class="Surit font-size-22">
                                ܘܐ݉ܟܼܵܠܵܐ ܝܐܲܟܼܠܲܚ ܡܼܢ ܦܘܼܡܲܢ
                                ܠܐ݉ܟܼܲܠܬܵܐ ܒܲܣܝܼܡܬܵܐ ܕܝ݀ܡܲܢ
                            </p>
                            <p class="Surit font-size-22">
                                ܠܐܲܩܠܵܬܲܢ ܐܲܚܢܲܢ ܝܟܵܠܲܚ
                                ܪܚܵܫܵܐ، ܪܚܵܛܵܐ، ܘܫܘܵܪܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܒܐܝܼܕܵܬܲܢ ܐܲܚܢܲܢ ܝܪܲܫܡܲܚ
                                ܬܵܘ݀ܪܬܵܐ، ܘܥ݀ܙܵܐ، ܘܦܵܪܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܨ݀ܡܕܵܐ ܠܚܵܨܲܢ ܟܸܐ ܛܲܥ݉ܢܲܚ
                                ܕܚܲܪܬܵܐ ܐܵܙܲܠ݉ܚ ܠܡܲܕܪܲܫܬܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܠܪܘܼܫܵܢܲܢ ܐܲܚܢܲܢ ܫܲܓ݉ܫ݀ܚ
                                ܡܐܲܝܟܼ ܓܘܼܠܦܵܢܸ̈ܐ ܕܕܵܒܵܫܬܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܐ݀ܕܝܘܿܡ݉ ܝܵܘܡܵܐ ܟܡܵܐ ܝܠ݀ܦܠܲܢ
                                ܠܗܲܕܵܡܸ̈ܐ ܕܦܲܓܼܪܲܢ ܝ݉ܕܥ݉ܝܼܠܲܢ
                            </p>
                            <p class="Surit font-size-22">
                                ܫܡܝܼܥ݉ܡܘܿܢ ܠܟܠ ܡ݀ܢܕܝܼ ܕܐ݉ܡ݀ܪܠܲܢ
                                ܟܡܵܐ ܚܡ݀ܠܲܢ ܐܵܦ ܟܡܵܐ ܙܡ݀ܪܠܲܢ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/BodyPartsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIcnOGTtaFs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Body Parts Song - Western Syriac (Surayt font-size-22)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Aug 16, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iUXHZfs0uvk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Body Parts Song  - Eastern Syriac (Surit font-size-22)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Aug 16, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI</strong></li>
                                    <li>LYRICS: <strong>   AJM</strong> , <strong>   AKKAD SAADI</strong></li>
                                    <li>EASTERN TRANSLATION: <strong>RAMINA SAMUEL</strong></li>
                                    <li>EASTERN TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>MIRNA SHAMOUN</strong></li>
                                    <li>MUSIC: <strong>AJM</strong> , <strong>GEORGE AFRAM</strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>GABI MALKI</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI</strong></li>
                                    <li>LYRICS: <strong>   AJM</strong> , <strong>   AKKAD SAADI</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>MIRNA SHAMOUN</strong></li>
                                    <li>MUSIC: <strong>AJM</strong> , <strong>GEORGE AFRAM</strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>GABI MALKI</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>