
@{
    ViewBag.Title = "CanopyofUnity";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/qoobrana_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/qoobrana_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Canopy of Unity Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Sep 20, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Traditional Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This song was written by the well-established writer, Mr. Odisho Yusep.  It is a personal song given to his children. The environment is set in the plantation fields and mountains of the writer’s village (Bebede), as that inspired the lyrics of this song from landmarks of his village. The song describes two young men wearing the traditional Assyrian clothing wandering around the lands of the village to hunt and collect the daily food, and then return to their homes to build a Quprana (ܩܘܼܦܪܵܢܵܐ), a vineyard canopy.  The canopy is a metaphor for the House of the Assyrian nation for people to sit underneath it united and cohesive.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܳܢܳܐ ܘܪܰܡܣ݄ܢ ܚܰܒ̥ܪ̈ܳܢܶܐ
                                ܛܥܺܝ̈ܢܶܐ ܥܠ ܟܰܬ̈ܦܰܢ ܙܰܝ̈ܢܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟ݄ܐܙّܰܢ ܠܨܰܝܕܳܐ ܕܩܰܩܘܳܢ̈ܶܐ
                                ܒܰܝܢ ܕܰܟّܰܖ̈ܡܶܐ ܘܰܓّܰܢ̈ܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟܣ݄ܠܩܝܢܰܐ ܠܰܛّܽܘܪ̈ܳܢܶܐ
                                ܘܨܰܝܕܝܢܰܐ ܠܰܡܣܟܶܢ̈ܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘ݄ܡܒܰܫܠܺܝܢܰܐ ܐܰܥܡܶܗ ܪܶܙܳܐ
                                ܘܥܰܡ ܩܰܠܺܝܳܐ ܕܰܥܘܳܢ̈ܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܗܳܘ݄ܢ ܕܖ̈ܳܥܳܢܰܢ ܩܰܘܝ̈ܶܐ
                                ܘ݄ܒܢܰܪܓܳܐ ܕܩܳܛܥܺܝ ܐܝ̈ܠܳܢܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܕܰܘܡ̈ܶܐ ܕܚܰܘܪ̈ܶܐ ܥܶܠܳܝ̈ܶܐ
                                ܘܓܰܘ̈ܙܶܐ ܘܰܐܦܨ̈ܶܐ ܘܕܰܦܖ̈ܳܢܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܓ݄ܕܡܰܨܪܺܝܢܰܐ ܗ̄ܰܛّܰܥ̈ܢܶܐ
                                ܥ̣̣ܠ ܡܰܢ̱ ܚّܰܨ̈ܶܐ ܕܰܚܡܳܪ̈ܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܒܚܰܒ̥̈ܠܶܐ ܚ̈ܝܨܶܐ ܘ݄ܡܩܰܡ̈ܛܶܐ
                                ܗ݄ܠ ܕܡܳܛܺܝܢܰܐ ܠ̈ܰܒّܳܬܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܦ݄ܪܫܺܝܢܰܐ  ܡܰܢّܶܗ ܣܛܽܘܢ̈ܶܐ
                                ܘܫܳܩ̈ܶܐ ܕܒܳܢܶܝܢܰܐ ܡܛܰܠ̈ܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܟܰܣ̈ܝܶܐ ܒܛܰܪ̈ܦܶܐ ܕܐܺܝܠܳܢ̈ܶܐ
                                ܕܳܗ̄ܒ̣̣ܢ ܦܰܘܚܳܐ ܘܛܶܠܳܠ̈ܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܥܰܠ ܕܳܠܝܬ̥ܐ ܕܺܗܝ ܩܪܝܬ̥ܳܐ
                                ܬܪܶܝ ܝܰܘ̈ܢܶܐ ܒܢܰܠّܶܗ ܩܶܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܛܥܺܝ̈ܢܶܐ ܠܙܰܝܬܳܐ ܕܐܘܫܰܥܢܳܐ
                                ܪܶܡܙܳܐ ܕ݄ܫܠܳܡܳܐ ܘܫܰܝܢܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܬܰܚܬܰܗ ܟܝ݄ܬܒ̥ܺܝ ܫܰܗܳܖ̈ܶܐ
                                ܐܰܒ̈ܢܶܐ ܕܽܐܘܡܬ̥ܰܢ ܟܰܫܝܖ̈ܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܠܚܽܘܝܳܕܳܐ ܠܰܝܬ ܬܰܒ̥ܳܖ̈ܶܐ
                                ܠܐܳܬ̥ܳܐ ܕܐܽܘܡܬ̥ܳܐ ܢܳܛܽܘܖ̈ܶܐ


                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/CanopyofUnitySongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܩܘܼܦܪܵܢܵܐ ܕܚܘܼܝܵܕܵܐ
                                ܐܵܢܵܐ ܘܪܵܡܣܸܢ ܚܲܒܼܪ̈ܵܢܹܐ



                            </p>
                            <p class="Surit font-size-22">
                                ܬܸܠܝܹ̈ܐ ܬܘܿܦܹܐ ܒܪ̈ܘܼܦ̮ܫܵܢܹܐ
                                ܐܵܙܲܠ݇ܚ ܠܨܲܝܕܵܐ ܕܩܲܩܘܵܢܹ̈ܐ
                                ܓܵܘ ܛܲܪ̈ܵܫܹܐ  ܘܟܲܪ̈ܡܵܢܹܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܐܵܣܩܲܠ݇ܚ ܘܨܵܠܹܝܚ ܒܛܘܼܪ̈ܵܢܹܐ
                                ܘܨܵܝܕܲܚ ܩܵܐ ܕܐܵܢܝ݇ ܡܸܣܟܹܢܹ̈ܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܕܒܲܫܠܝܼ ܪܘܼܙܵܐ ܒܩܲܩܘܵܢܹ̈ܐ
                                ܩܸܠܝܵܐ ܒܩܲܠܝܵܐ ܕܒܲܪ̈ܥܵܢܹܐ



                            </p>
                            <p class="Surit font-size-22">
                                ܕܢܵܦܹܠ ܚܲܝܠܵܐ ܒܲܕܪ̈ܵܥܢܵܢܹܐ
                                ܕܩܵܛܥܲܚ ܒܢܵܪܓܵܐ ܐܝܼܠܵܢܹ̈ܐ



                            </p>
                            <p class="Surit font-size-22">
                                ܥܲܡ ܚܘܼܪ̈ܝܵܬܵܐ ܪ̈ܵܡܵܢܹܐ
                                ܘܡܸܢܲܝܗܝ ܓܵܘܙܹ̈ܐ ܘܕܲܦܪ̈ܵܢܹܐ



                            </p>
                            <p class="Surit font-size-22">

                                ܒܸܕ ܨܵܛܦܲܚ ܠܲܝܗܝ ܩܵܐ ܛܲܥܢܹ̈ܐ
                                ܠܚܲܨܵܐ ܕܲܚܡܵܪܵܐ ܩܘܼܪ̈ܛܸܥܢܹܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܠܛܲܢܓܵܐ ܘܚܲܒܼܠܵܐ ܩܵܡܛܵܢܹ̈ܐ
                                ܗܲܠ ܕܡܲܡܛܹܝܚ ܠܲܝܗܝ ܠܒܵܬܘܵܬܹ̈ܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܘܬܵܡܵܐ ܦܵܪܫܲܚ ܠܐܵܢܝ݇ ܐ݇ܣܛܘܿܢܹ̈ܐ
                                ܘܫܵܩܠܹ̈ܐ ܕܒܵܢܝܼ ܩܘܼܦܪ̈ܵܢܹܐ



                            </p>
                            <p class="Surit font-size-22">
                                ܩܪ̈ܝܼܡܹܐ ܒܛܲܪ̈ܦܹܐ ܕܐܝܼܠܵܢܹ̈ܐ
                                ܕܩܵܐ ܠܲܢ ܥܵܒܼܕܝܼ ܛܸܠܵܢܹ̈ܐ



                            </p>
                            <p class="Surit font-size-22">
                                ܘܲܒܪܹܫܲܝܗܝ ܚܲܕ݇ ܙܵܘܓܵܐ ܕܝܵܘܢܹ̈ܐ
                                ܚܘܵܪܹ̈ܐ ܘܪܵܒܵܐ ܠܵܘܓ̰ܵܢܹ̈ܐ



                            </p>
                            <p class="Surit font-size-22">

                                ܛܥܝܼܢܹ̈ܐ ܠܙܲܝܬܵܐ ܕܐܘܿܫܲܥܢܹ̈ܐ
                                ܪܸܡܙܵܐ ܕܲܫܠܵܡܵܐ ܘܐܵܦ  ܫܲܝܢܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܘܲܬܚܘܿܬܲܝܗܝ ܒܝܵܬܒܼܝܼ ܚܘܼܒܵܢܹ̈ܐ
                                ܒܢܘܿܢܹ̈ܐ ܕܐܘܼܡܬܲܢ ܛܲܢܵܢܹ̈ܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܠܚܘܼܝܵܕܲܝܗܝ ܠܲܝܬܿ ܫܵܡܛܵܢܹ̈ܐ
                                ܠܐܵܬܵܐ ܕܐܘܼܡܬܵܐ ܢܵܛܪ̈ܵܢܹܐ



                            </p>
                           <a class="btn btn-info" href="http://www.betkanu.com/Downloader/CanopyofUnitySongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

 
                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CW0VIdSJ-FI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Canopy of Unity | Kulleh Kitteh Radayto | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Sep 20, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rhB_XPaXy80?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Canopy of Unity | Kulleh Etlun Radayta | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 20, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong> YAKOUB ASMAR</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>LYRICS: <strong>AUDISHO YUSIP</strong></li>
                                    <li>SYRIAC TYPEST: <strong> BOUTROS SHABO</strong></li>
                                    <li>TRANSLATION: <strong> BOUTROS SHABO, AKKAD SAADI</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>YUSIP AUDISHO </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong> PETER IBRAHIM</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>LYRICS: <strong> AUDISHO YUSIP</strong></li>
                                    <li>EASTERN TYPING: <strong>YUSIP AUDISHO</strong></li>
                                    <li>EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>YUSIP AUDISHO </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
