
@{
    ViewBag.Title = "ColorsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/Colorssong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/Colorssong_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Colors Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Apr 5, 2018</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This song is used for helping children learn colors using authentic words. Simply place colors in front of them and have them pick out the color that you sing about.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">
                                ܝܰܪܘܩܐ، ܝܰܪܘܩܐ، ܟܪܳܚܰܡ ܐ̱ܢܳܐ ܝܰܪܘܩܐ
                                ܝܰܪܘܩܐ، ܝܰܪܘܩܐ ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ
                                ܟܪܳܚܰܡ ܐ̱ܢܐ ܝܰܪܘܩܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܰܗ̄ܢ ܐܺܝܠܳܢ̈ܶܐ ܘܰܗ̄ ܣّܰܬ̈ܶܐ ܘܓܶܠܳܢ̈ܶܐ.
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܣܶܡܳܩܳܐ، ܣܶܡܳܩܳܐ، ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܣܶܡܳܩܳܐ
                                ܣܶܡܳܩܳܐ، ܣܶܡܳܩܳܐ ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ
                                ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܣܶܡܳܩܳܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܗ̄ܘ ܚܰܒܽܘܫܐ، ܘ ܕܗ̄ܘ ܠܶܒܳܐ ܕܽܗ̄ܘ ܕܰܒ̥ܫܳܐ.
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܚܶܘܳܪܐ، ܚܶܘܳܪܳܐ، ܟܪܳܚܰܡ ܐ̱ܢܳܐ ܚܶܘܳܪܐ
                                ܚܶܘܳܪܐ، ܚܶܘܳܪܐ،
                                ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ،
                                ܟܪܳܚܰܡ ܐ̱ܢܳܐ ܚܶܘܳܪܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܗ̄ܘ ܚܰܠܒ̥ܳܐ
                                ܘܕܽܗ̄ܘ ܬܰܠܓܳܐ ܕܽܗ̄ܘ ܣܰܬܘܳܐ.
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܟܳܡܳܐ، ܟܳܡܳܐ، ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܗ̄ܽܘ ܟܳܡܳܐ.
                                ܟܳܡܳܐ، ܟܳܡܳܐ.
                                ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ
                                ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܗ̄ܽܘ ܟܳܡܳܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܽܗ̄ܘ ܠܰܠܝܳܐ ܘܥܰܝܢ̈ܶܐ ܕܢܺܝܢܳܘܣ ܚܰܠܝܳܐ.
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܙܰܪܩܳܐ، ܙܰܪܩܳܐ، ܟܪܳܚܰܡ ܐ̱ܢܳܐ ܗ̄ܽܘ ܙܰܪܩܳܐ
                                ܙܰܪܩܳܐ، ܙܰܪܩܳܐ.
                                ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ
                                ܟܪܳܚܰܡ ܐ̱ܢܳܐ ܗ̄ܽܘ ܙܰܪܩܳܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܺܗ̄ܝ ܫܡܰܝܳܐ
                                ܘܶ ܕܡܺܝܝܰܐ ܟܰܫܺܝܪܬܰܝܳܐ.
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܫܰܥܽܘܬ̥ܳܐ، ܫܰܥܽܘܬ̥ܳܐ، ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܫܰܥܽܘܬ̥ܳܐ
                                ܫܰܥܽܘܬ̥ܳܐ، ܫܰܥܽܘܬ̥ܳܐ.
                                ܫܰܦ݄ܪ ܓܰܘܢܳܐܝܳܐ
                                ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܫܰܥܽܘܬ̥ܳܐ،
                                ܟ݄ܐܕܥܰܬ ܩܰܝܳܐ؟
                                ܕܟܺܝܬ ܝܳܐ ܕܗ̄ܝ ܫܶܡܫܳܐ ܘܕܺܗ̄ܝ ܒܰܛܳܐ ܕܟܳܪܳܡܫܳܐ.
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/ColoursSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܝܵܪܘܿܩܵܐ، ܝܵܪܘܿܩܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܝܵܪܘܿܩܵܐ
                                ܝܵܪܘܿܩܵܐ، ܝܵܪܘܿܩܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܝܵܪܘܿܩܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܐܝܼܠܵܢܸ̈ܐ ܘܓ݀ܠܵܐ ܘܟܲܪܡܵܢܸ̈ܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܝܵܪܘܿܩܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܐܝܼܠܵܢܸ̈ܐ ܘܓ݀ܠܵܐ ܘܟܲܪܡܵܢܸ̈ܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܣܡܘܿܩܵܐ ܣܡܘܿܩܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܣܡܘܿܩܵܐ
                                ܣܡܘܿܩܵܐ ܣܡܘܿܩܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܣܡܘܿܩܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܚܲܒܘܼܫܵܐ ܘܠ݀ܒܵܐ ܕܐܲܝܟܼ ܕ݀ܒܼܫܵܐ.
                                ܟܡܲܚܒܲܢܸܗ ܣܡܘܿܩܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܚܲܒܘܼܫܵܐ ܘܠ݀ܒܵܐ ܕܐܲܝܟܼ ܕ݀ܒܼܫܵܐ.
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܚܘܵܪܵܐ، ܚܘܵܪܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܚܘܵܪܵܐ
                                ܚܘܵܪܵܐ، ܚܘܵܪܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܚܘܵܪܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܚܲܠܒܼܵܐ ܘܕܗܵܘ ܬܲܠܓܵܐ ܕܣ݀ܬܘܵܐ.
                                ܟܡܲܚܒ݀ܢܸܗ ܚܘܵܪܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܚܲܠܒܼܵܐ ܘܕܗܵܘ ܬܲܠܓܵܐ ܕܣ݀ܬܘܵܐ.
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܟܘܼܡܵܐ، ܟܘܼܡܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܟܘܼܡܵܐ
                                ܟܘܼܡܵܐ، ܟܘܼܡܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܟܘܼܡܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܗܵܘ ܠ݀ܠܝܵܐ ܘܥܲܝܢܸ̈ܐ ܕܢܝܼܢܘܿܣ ܚ݀ܠܝܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܟܘܼܡܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܗܵܘ ܠ݀ܠܝܵܐ ܘܥܲܝܢܸ̈ܐ ܕܢܝܼܢܘܿܣ ܚ݀ܠܝܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܡܝܼܠܵܐ، ܡܝܼܠܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܡܝܼܠܵܐ
                                ܡܝܼܠܵܐ، ܡܝܼܠܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒ݀ܢܸܗ ܡܝܼܠܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܫܡܲܝܵܐ ܘܕܟܲܫܝܼܪܬܵܐ ܡܝܼܵܐ.
                                ܟܡܲܚܒ݀ܢܸܗ ܡܝܼܠܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܫܡܲܝܵܐ ܘܕܟܲܫܝܼܪܬܵܐ ܡܝܼܵܐ.
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܫܲܥܘܼܬܵܐ، ܫܲܥܘܼܬܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܫܲܥܘܼܬܵܐ
                                ܫܲܥܘܼܬܵܐ، ܫܲܥܘܼܬܵܐ
                                ܓܵܘܢܵܐ ܫܲܦܝܼܪܵܐ
                                ܟܡܲܚܒܲܢܸܗ ܫܲܥܘܼܬܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܫ݀ܡܫܵܐ ܘܕܒܲܛܵܐ ܕܗܵܘܸܐ ܫܓܼܵܫܵܐ.
                                ܟܡܲܚܒܲܢܸܗ ܫܲܥܘܼܬܵܐ
                                ܝܵܕܥ݀ܬ ܩܵܡܘܿ؟
                                ܕܝܼܠܸܗ ܕܫ݀ܡܫܵܐ ܘܕܒܲܛܵܐ ܕܗܵܘܸܐ ܫܓܼܵܫܵܐ.
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/ColoursSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>

                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/npJ3Ol-bHYI?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Colors Song - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Apr 5, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GdvbfXHQvHM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Colors Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Apr 5, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI SHABO</strong></li>
                                    <li>CO-ILLUSTRATOR: <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong>   AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>GEORGE AFRAM </strong>, <strong>IVLA SAADI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>DIRECTED BY: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI SHABO</strong></li>
                                    <li>CO-ILLUSTRATOR: <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>GEORGE AFRAM </strong>, <strong>IVLA SAADI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>DIRECTED BY: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>