
@{
    ViewBag.Title = "DeckTheHalls";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/deckthehalls_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/deckthehalls_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Deck The Halls Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Dec 22, 2019</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Holiday Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This is an adaptation of the Christmas carol originally called "Deck the Hall." This exciting version is created in hopes of increasing the love for our language among the young and the old.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܶܝ ܡܙܰܝܶܢܽܘ ܗ̱ܺܝ ܣܰܬܰܝܕ̥ܰܢ
                                ܠܰܐ ܠܰܐ ܠܰܐ ܠܰܐ
                                ܓܕܳܐܬ̥ܶܐ ܡܫܺܝܚܳܐ ܗ̄ܽܘ ܡܳܪܝܰܝܕ̥ܰܢ
                                ܠܰܐ ܠܰܐ ܠܰܐ ܠܰܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܡܰܚܶܬܽܘ ܥܰܠ ܗ̄ܺܝ ܣܰܬܳܐ ܟܘ̇ܟܒ̥ܳܐ
                                ܠܰܐ ܠܰܐ ܠܰܐ ܠܰܐ
                                ܘ݄ܣܩܰܠܽܘ ܠܰܗ ܒܫܰܪܫܺܝܒ̈ܶܐ ܕܕܰܗܒ̥ܳܐ

                                ܡܓ̥ܽܘܫ̈ܶܐ ܓ݄ܕܡܰܡܛ݄ܢ ܗ̄ܽܘ ܕܰܗܒ̥ܳܐ

                                ܠܰܐ ܠܰܐ ܠܰܐ ܠܰܐ
                                ܚܶܬܽܘ ܒܺܗ̄ܝ ܡܥܰܪܬ̥ܳܐ ܚܰܝ̈ܘܳܬ̥ܳܐ
                                ܙܡܰܪܽܘ ܥܰܡ ܪ̈ܳܥܝܶܐ ܨܠܰܘ̈ܳܬ̥ܳܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܚܙܰܝܽܘ ܒܪܺܝܬ̥ܳܐ ܒܬܰܠܓܳܐ ܠܒ̥݄ܫܬܳܐ
                                ܘܐܟ̥ܽܘܠܽܘ ܚܰܠܝܽܘܬ̥ܳܐ ܕܺܗ̄ܝ ܩܰܫܬܳܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܠܰܝܽܘ ܗ̄ܽܘ ܒܰܝܬܳܐ ܡܢ̱ ܟܽܘܠ ܓܰܘܢܳܐ
                                ܘ݄ܪܚܰܡܽܘ ܠ݄ܚܕܳܕ̈ܶܐ ܒܟܽܘܠ ܙܰܒܢܳܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܫܒܰܩܽܘ ܘ݄ܣܟ݂ܰܪܽܘ ܗ̄ܺܝ ܥܰܝܢܳܐ
                                ܘ݄ܨܒܰܝܽܘ  ܕܳܗ̄ܘܝܳܐ ܒܪܺܝܬ̥ܳܐ ܫܰܝܢܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/DeckTheHallsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܬܸܐܡܘܿܢ ܣܲܩܠܲܚ ܠܵܗܿ ܐܝܼܠܵܢܬܲܢ
                                ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ، ܠܵܐ ܠܵܐ، ܠܵܐ
                                ܒܐܵܬܸܐ ܝܑܼܫܘܿܥ ܡܫܝܼܚܵܐ ܡܵܪܲܢ
                                ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ، ܠܵܐ ܠܵܐ، ܠܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܘܲܕܪܸܐ ܡܘܿܢ ܒܪܸܫ ܐܝܼܠܵܢܬܵܐ ܟܵܘܟܼܒܼܵܐ
                                ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ، ܠܵܐ ܠܵܐ، ܠܵܐ
                                ܣܲܩܠܘܿܢ ܠܵܗܿ ܐܝܼܠܵܢܬܵܐ ܒܕܲܗܒܼܵܐ
                                ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ ܠܵܐ، ܠܵܐ ܠܵܐ، ܠܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܡܲܥܒܼܹܪܘܿܢ ܒܓܲܘ ܓܹܦܵܐ ܚܲܝܘܵܬܼ̈ܵܐ
                                ܘܲܙܡܘܿܪܘܿܢ ܥܲܡ ܪ̈ܵܥܝܸܐ ܨܠܵܘܵܬܼ̈ܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܚܙܸܐ ܡܘܿܢ ܒܪܝܼܬܵܐ ܬܲܠܓܵܐ ܠܒܼܝܼܫܬܵܐ
                                ܘܐ݉ܟܼܘܿܠܘܿܢ ܚܲܠܝܘܼܬܼܵܐ ܕܗܵܝ ܣܵܒܼܬܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܡܠܸܐ ܡܘܿܢ ܗܵܘ ܒܲܝܬܵܐ ܡܟܠ ܓܲܘܢܵܐ
                                ܘܲܡܪܲܚܡܘܿܢ ܠܐܹܚܕܵܕܸ̈ܐ ܒܟܠ ܙܲܒܼܢܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܦܲܚܠܘܿܢ ܘܲܕܒܼܘܿܪܘܿܢ ܠܗܵܝ ܥܲܝܢܵܐ
                                ܘܲܛܠܘܿܒܘܿܢ ܩܵܐ ܕܐܵܗ݉ܐ ܒܪܝܼܬܼܵܐ ܫܲܝܢܵܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/DeckTheHallsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XnSxRHxSHHU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Deck the Halls Song - Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Dec 22, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aR-B-jAxoX0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Deck the Halls Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Dec 22, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">

                                    <li>Voices: <strong>MRIAM KARIM, MERLLA MAROKI, YALDA GAWRIEH, ORNINA SHABO, MILA KERIAKOS</strong></li>
                                    <li>MUSIC: <strong> </strong></li>
                                    <li>: <strong> GEORGE AFRAM</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>LYRICS: <strong>AKKAD SAADI </strong></li>
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABRIEL APHREM </strong></li>
                                    <li>TECHNICAL GUIDANCE: <strong>MILAD YOUSSEF </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>Voices: <strong>MRIAM KARIM, MERLLA MAROKI, YALDA GAWRIEH, ORNINA SHABO, MILA KERIAKOS</strong></li>
                                    <li>MUSIC: <strong> </strong></li>
                                    <li>: <strong> GEORGE AFRAM</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>EASTERN SUPERVISION: <strong>RAMINA SAMUEL </strong></li>
                                    <li>LYRICS TRANSLATION: <strong>SHIBLA BETSHMUEL</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>LYRICS: <strong>AKKAD SAADI </strong></li>
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABRIEL APHREM </strong></li>
                                    <li>TECHNICAL GUIDANCE: <strong>MILAD YOUSSEF </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>