﻿
@{
    ViewBag.Title = "DeliciousFoodSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidd\
             en-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/DeliciousFoodSong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/DeliciousFoodSong_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Delicious Food Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i>Traditional Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Aug 26, 2022</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Childrens Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            "Mom Made Food" song is an original kids' song written in Colloquial Syriac of TurAbdin (Surayt) by the well-established Poet Joseph Gawrieh, and it was beautifully composed by the musician Nabil Yousif. The song encourages kids to enjoy food specially made by their parents to resonate with kids the appreciation of this gift while keeping in mind good hygiene by washing hands and teeth after having food.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-20" style="text-align:center">


                                ܗ̄ܺܝ ܡܰܡܰܐ ܣ݄ܡ ܠܰܗ ܡܽܐܘܟܠܳܐ <br> ܣܰܓܺܝ ܣܰܓܺܝ ܒܰܣܺܝܡܳܐ
                                <br>                                ܡܽܗ̄ܘ ܡܽܐܘܟܠܰܝܕ̥ܰܗ ܟܽܘܠ ܝܰܘܡܳܐ <br>  ܟܳܐܟ̥ܰܠ ܐ̱ܢܳܐ ܗ݄ܠ ܣܳܒ̥ܰܥ ܐ̱ܢܳܐ

                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">
                                ܣܳܝܰܡ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ  <br>  ܣܳܝܰܡ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ
                                <br>
                                ܐܺܝ̈ܕ̥ܳܬ̥ܺܝ ܓ݄ܕܡܰܫ݄ܓ̥ ܐ̱ܢܳܐ  <br> ܥܰܪ̈ܫܳܢܺܝ ܓ݄ܕܦܳܪܰܟ̥ ܐ̱ܢܳܐ


                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܗ̄ܽܘ ܟ̥ܰܒܪܰܝܕ̥ܰܗ ܕܫܳܡܰܥ ܐ̱ܢܳܐ <br>  ܒܰܟّܶܐܒ̥̈ܶܐ ܠ݄ܐ ܟܢܳܦܰܠ ܐ̱ܢܳܐ
                                <br>
                                ܡܽܐܘܟܠܳܐ ܛܳܒ̥ܳܐ ܕܳܐܟ̥ܰܠ ܐ̱ܢܳܐ <br>  ܗܰܘܟ̥ܰܐ ܪܰܒܳܐ ܓܕܳܗ̄ܘܶܐ ܐ̱ܢܳܐ

                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">
                                ܣܳܝܰܡ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ  <br>  ܣܳܝܰܡ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ
                                <br>
                                ܐܺܝ̈ܕ̥ܳܬ̥ܺܝ ܓ݄ܕܡܰܫ݄ܓ̥ ܐ̱ܢܳܐ  <br> ܥܰܪ̈ܫܳܢܺܝ ܓ݄ܕܦܳܪܰܟ̥ ܐ̱ܢܳܐ


                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܗ̄ܽܘ ܒܰܒܰܐ  ܣ݄ܡ ܠܶܗ ܡܽܐܘܟܠܳܐ  <br> ܣܰܓܺܝ ܣܰܓܺܝ ܒܰܣܺܝܡܳܐ
                                <br>
                                ܡܽܗ̄ܘ ܡܽܐܘܟܠܰܝܕ̥ܶܗ ܟܽܘܠ ܝܰܘܡܳܐ  <br> ܟܳܐܟ̥ܠܳܐ ܐ̱ܢܳܐ ܗ݄ܠ ܣܰܒ̥ܥܳܐ ܐ̱ܢܳܐ
                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܣܰܝܡܳܐ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ      <br>    ܣܰܝܡܳܐ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ
                                <br>
                                ܐܺܝ̈ܕ̥ܳܬ̥ܺܝ ܓ݄ܕܡܰܫ݄ܓ̥ܳܐ ܐ̱ܢܳܐ  <br> ܥܰܪ̈ܫܳܢܺܝ ܓ݄ܕܦܪܟ̥ܳܐ ܐ̱ܢܳܐ
                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܗ̄ܽܘ ܟ̥ܰܒܪܰܝܕ̥ܶܗ ܕܫܳܡܥܳܐ ܐ̱ܢܳܐ  <br> ܒܰܟّܶܐܒ̥̈ܶܐ ܠ݄ܐ ܟܢܦܠܳܐ ܐ̱ܢܳܐ
                                <br>
                                ܡܽܐܘܟܠܳܐ ܛܳܒ̥ܳܐ ܕܳܐܟ̥ܠܳܐ ܐ̱ܢܳܐ  <br> ܗܰܘܟ̥ܰܐ ܪܰܒܳܬ̥ܐ ܓܕܳܗ̄ܘܶܝܳܐ ܐ̱ܢܳܐ

                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܣܰܝܡܳܐ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ  <br>  ܣܰܝܡܳܐ ܐ̱ܢܳܐ ܥܰܡ ܥܰܡ
                                <br>
                                ܐܺܝ̈ܕ̥ܳܬ̥ܺܝ ܓ݄ܕܡܰܫ݄ܓ̥ܳܐ ܐ̱ܢܳܐ  <br> ܥܰܪ̈ܫܳܢܺܝ ܓ݄ܕܦܪܟ̥ܳܐ ܐ̱ܢܳܐ

                            </p>


                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/DeliciousFoodSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>

                            <p class="Surit font-size-20" style="text-align:center">
                                ܗܵܝ ܝܸܡܝܼ ܡܒܲܫܠܵܐ ܐ݇ܟܼܵܠܬܵܐ
                                <br>
                                ܪܵܒܵܐ ܪܵܒܵܐ ܒܲܣܝܼܡܬܵܐ
                                <br>
                                ܡܼܢ ܡܹܐܟܼܘܼܠܬܵܗܿ ܠܵܐ ܣܵܒܼܥܸܢ
                                <br>   ܐܸܢ ܟܠܝܘܿܡ ܡܸܢܵܗܿ ܐܵܟܼܠܸܢ


                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܟܹܐ ܥܵܒܼܕܸܢ ܗܲܡ ܗܲܡ
                                <br>
                                ܟܹܐ ܥܵܒܼܕܸܢ ܗܲܡ ܗܲܡ
                                <br>
                                ܐܝܼܕܵܬ̈ܝܼ ܒܚܲܠܸܠܸܢܲܝܗܝ
                                <br>  ܐܵܦ ܟܵܟܲܝ̈ ܒܸܕ ܦܵܪܟܼܸܢܲܝܗܝ


                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܚܲܒܪܵܐ ܕܝܸܡܝܼ ܒܫܵܡܥܸܢܹܗ
                                <br> ܩܵܐ ܕܡܲܪܥܵܐ ܠܵܐ ܛܵܦܹܝܢܹܗ
                                <br>
                                ܡܹܐܟܼܘܼܠܬܵܐ ܪܵܒܵܐ ܒܐܵܟܼܠܸܢ
                                <br>  ܗܵܕܟܼܵܐ ܓܒܼܘܿܪܵܐ ܒܸܕ ܗܵܘܹܝܢ


                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܟܹܐ ܥܵܒܼܕܸܢ ܗܲܡ ܗܲܡ
                                <br>   ܟܹܐ ܥܵܒܼܕܸܢ ܗܲܡ ܗܲܡ
                                <br>

                                ܐܝܼܕܵܬ̈ܝܼ ܒܚܲܠܸܠܸܢܲܝܗܝ
                                <br>  ܐܵܦ ܟܵܟܲܝ̈ ܒܸܕ ܦܵܪܟܼܸܢܲܝܗܝ

                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܗܵܘ ܒܵܒܵܝܼ ܡܒܲܫܸܠ ܐ݇ܟܼܵܠܬܵܐ
                                <br>  ܪܵܒܵܐ ܪܵܒܵܐ ܒܲܣܝܼܡܬܵܐ
                                <br>
                                ܡܼܢ ܡܹܐܟܼܘܼܠܬܹܗ ܠܵܐ ܣܵܒܼܥܵܢ
                                <br>  ܐܸܢ ܟܠܝܘܿܡ ܡܸܢܵܗܿ ܐܵܟܼܠܵܢ


                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܟܹܐ ܥܵܒܼܕܵܢ ܗܲܡ ܗܲܡ
                                <br>   ܟܹܐ ܥܵܒܼܕܵܢ ܗܲܡ ܗܲܡ
                                <br>

                                ܐܝܼܕܵܬ̈ܝܼ ܒܚܲܠܸܠܵܢܲܝܗܝ
                                <br>   ܐܵܦ ܟܵܟܲܝ̈ ܒܸܕ ܦܵܪܟܼܵܢܲܝܗܝ

                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܚܲܒܪܵܐ ܕܒܵܒܝܼ ܒܫܵܡܥܵܢܹܗ
                                <br> ܩܵܐ ܕܡܲܪܥܵܐ ܠܵܐ ܛܵܦܝܵܢܹܗ

                                <br>
                                ܡܹܐܟܼܘܼܠܬܵܐ ܪܵܒܵܐ ܒܐܵܟܼܠܵܢ
                                <br>  ܗܵܕܟܼܵܐ ܓܒܼܘܿܪܬܵܐ ܒܸܕ ܗܵܘܝܵܢ

                            </p>
                            <p class="Surit font-size-20" style="text-align:center">
                                ܟܹܐ ܥܵܒܼܕܵܢ ܗܲܡ ܗܲܡ
                                <br>    ܟܹܐ ܥܵܒܼܕܵܢ ܗܲܡ ܗܲܡ
                                <br>

                                ܐܝܼܕܵܬ̈ܝܼ ܒܚܲܠܸܠܵܢܲܝܗܝ
                                <br>  ܐܵܦ ܟܵܟܲܝ̈ ܒܸܕ ܦܵܪܟܼܵܢܲܝܗܝ

                            </p>


                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/DeliciousFoodSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PH67LfNOz_E?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Delicious Food | Muklo Baseemo | Western Syriac (Surayt)


                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Aug 26, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ae58Nd--O1k?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Delicious Food | Khalta Basimta | Eastern Syriac (Surit)


                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Aug 26, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> SINGERS: <strong> MIMRA KERIAKOS, JOYCE MURAD  </strong></li>
                                    <li> POET: <strong>  JOSEPH GAWRIEH </strong></li>
                                    <li> MELODY: <strong> NABIL YOUSSEF  </strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong> GEORGE AFRAM  </strong></li>
                                    <li> DRUMS: <strong> HOVSEP BLBLE  </strong></li>
                                    <li> CHORUS: <strong>  DILAMA MALKI, ORNINA SHABO </strong></li>
                                    <li> SYRIAC TYPEST: <strong> BOTRES SHABO  </strong></li>
                                    <li> ILLUSTRATION AND ANIMATION: <strong> MILAD S YOUSSEF  </strong></li>
                                    <li> SYRIAC ORTHOGRAPHY EDITOR: <strong>  DR. ABDUL MASSIH SAADI </strong></li>
                                    <li> ART COORDINATOR: <strong>  SARGON SAADI </strong></li>
                                    <li> MARKETING DESIGNER: <strong>  ORNINA SHABO </strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI  </strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN  </strong></li>
                                    <li> PRODUCT LEAD: <strong> AKKAD SAADI  </strong></li>
                                    <li> PRODUCED BY : <strong> BET KANU  </strong></li>



                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> SINGER: <strong> MIMRA KERIAKOS </strong></li>
                                    <li> POET: <strong>  JOSEPH GAWRIEH </strong></li>
                                    <li> MELODY: <strong> NABIL YOUSSEF  </strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong> GEORGE AFRAM  </strong></li>
                                    <li> DRUMS: <strong> HOVSEP BLBLE  </strong></li>
                                    <li> CHORUS: <strong>  DILAMA MALKI, ORNINA SHABO </strong></li>
                                    <li> EASTERN TYPING: <strong> ZELGA GABRIL  </strong></li>
                                    <li> ILLUSTRATION AND ANIMATION: <strong> MILAD S YOUSSEF  </strong></li>
                                    <li> EASTERN SUPERVISION: <strong>  RAMINA SAMUEL </strong></li>
                                    <li> ART COORDINATOR: <strong>  SARGON SAADI </strong></li>
                                    <li> MARKETING DESIGNER: <strong>  ORNINA SHABO </strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI  </strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN  </strong></li>
                                    <li> PRODUCT LEAD: <strong> AKKAD SAADI  </strong></li>
                                    <li> PRODUCED BY : <strong> BET KANU  </strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
