
@{
    ViewBag.Title = "EveryoneHasaCarSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/EveryOneHasACarSong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/EveryOneHasACarSong_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Everyone Has a Car Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Jul 30, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Middle Elastern Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Over 40 years old children's song derived from the Lebanese culture. The song was made originally by Elias Al Rahbani, and recently UNICEF supported the remake of these songs to be sung for the children of Syria during the Syria Crisis. This song reflects the humble nature of people, and it shows the amount of love two grandchildren have for their grandfather who does not own a fancy car but owns a donkey instead.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟܽܘܠّܶܗ ܟ݄ܬّܶܗ ܪܰܕܰܝܬܳܐ
                                ܘܩܰܫّܺܝ ܟ݄ܬ ܠܶܗ ܚܡܳܪܳܐ
                                ܟܳܡܰܪܒ̥ܰܟ̥ ܠܰܢ ܒ݄ܬ̥ܪܶܗ
                                ܘ݄ܟܡܰܘܒܶܠ ܠܰܢ ܠܽܗ̄ܘ ܛܽܘܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܰܢ ܢܳܫ̈ܶܐ ܟܳܩܳܪ݄ܢ ܠܶܗ
                                ܘܰܙܥܽܘܪ̈ܶܐ ܟܳܓ݄ܚܟ̥ܺܝ ܠܶܗ
                                ܩܰܠܳܥ̈ܶܐ ܟܳܡܙܰܡܪܺܝ ܠܶܗ
                                ܛܽܘܛ ܛܽܘܛ ܛܽܘܛ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܽܗ̄ܘ ܚܡܳܪܰܝܕ̥ܶܗ ܛܳܒ̥ܳܐ ܝܳܐ
                                ܕܰܟ̥ܝܳܐ ܘܠܶܒܶܗ ܒܰܣܺܝܡܳܐ
                                ܩܰܫّܺܝ ܠܳܐ ܟܳܡܙܰܒܰܢ ܠܶܗ
                                ܡ݄ܩّܰܐ ܕܳܗ̄ܒ݄ܢ ܠܶܗ ܛܺܝܡܳܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܘܒܽܗ̄ܘ ܣܰܬ̥ܘܰܘܳܐ ܕܺܗ̄ܝ ܩܪܺܝܬ̥ܳܐ
                                ܟܡܰܗ̄ܠ݄ܟ̥ ܒܺܗ̄ܝ ܫܰܒ̥ܬ̥ܳܐ ܣܪܺܝܬ̥ܳܐ
                                ܒܽܗ̄ܘ ܛܺܝܢܳܐ ܟܳܡܕܰܫܕ݄ܫ ܒܪܺܝܬ̥ܳܐ
                                ܘܽܗ̄ܘ ܚܡܳܪܰܝܕ̥ܶܗ ܗ̄ܽܘ ܙܥܽܘܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟܝܳܣ݄ܩ ܠܪܺܝܫܶܗ ܕܽܗ̄ܘ ܛܽܘܪܳܐ
                                ܡܰܪܟܰܒ̥ ܠܶܗ ܐܰܥܠܶܗ ܕܦܰܝܳܐ
                                ܕܡܰܫܚ݄ܢ ܪܽܘܚܶܗ ܡܽܗ̄ܘ ܩܽܘܪܳܐ
                                ܟܽܘܠ ܕܝܳܣ݄ܩ ܗ̄ܺܝ ܣܰܩܬܰܝܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟܡܰܗ̄ܠ݄ܟ̥ ܫܰܠܝܳܐ ܒܟܽܘܠ ܚܰܝܠܶܗ
                                ܘܒܺܗ̄ܝ ܢܚܰܬܬܳܐ ܟܡܰܙܥ݄ܩ ܘܰܐ ܘܰܝ̈ܠܶܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/EveryoneHasACarSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>



                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܟܠܲܝܗܝ ܐܝܼܬܠܲܝܗܝ ܪܲܕܵܝܬܵܐ
                                ܘܣܵܒܼܝܼ ܐܝܼܬܼܠܹܗ ܚܡܵܪܵܐ
                                ܟܹܐ ܡܲܣܸܠ݇ܩܠܲܢ ܒܵܬܼܪܹܗ
                                ܘܢܲܒܸܠܠܲܢ ܠܗܵܘ ܛܘܼܪܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܟܠܲܝܗܝ ܐ݇ܢܵܫܹ̈ܐ ܩܵܪܝܼ ܠܹܗ
                                ܘܲܒܢܘܿܢܹ̈ܐ ܙܥܘܿܪܹ̈ܐ ܓܵܚܟܝܼ ܠܹܗ
                                ܘܛܲܪ̈ܵܝܹܐ ܡܙܲܡܪܝܼ ܠܹܗ
                                ܛܘܼܛ ܛܘܼܛ ܛܘܼܛ

                            </p>
                            <p class="Surit font-size-22">
                                ܘܗܵܘ ܚܡܵܪܹܗ ܛܵܒܼܵܐ ܝܠܹܗ
                                ܕܸܟܼܝܵܐ ܘܠܸܒܹܗ ܒܲܣܝܼܡܵܐ
                                ܣܵܒܼܝܼ ܠܵܐ ܝܠܹܗ ܡܙܲܒܘܿܢܹܗ
                                ܟܡܵܐ ܕܝܵܗܒܼܝܼ ܐܸܒܹܗ ܛܝܼܡܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܘܓܵܘ ܣܲܬܘܵܐ ܕܗܵܝܼ ܩܪܝܼܬܼܵܐ
                                ܟܹܐ ܪܵܚܹܫ ܒܕܘܼܟܬܼܵܐ ܣܪܝܼܬܼܵܐ
                                ܒܗܵܘ ܛܝܼܢܵܐ ܟܹܐ ܡܕܲܫܕܸܫ ܒܪܝܼܬܵܐ

                                ܗܵܘ ܚܡܵܪܹܗ ܗܵܘ ܙܥܘܿܪܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܟܹܐ ܐܵܣܸܠ݇ܩ ܠܪܹܫܵܐ ܕܛܘܼܪܵܐ
                                ܟܹܐ ܡܲܠܗܹܐ ܬܵܡܵܐ ܢܘܼܪܵܐ
                                ܕܡܲܫܚܸܢ ܓܵܢܹܗ ܡܼܢ ܩܲܪܬܼܵܐ
                                ܟܠ ܣܵܠ݇ܩܬܵܐ ܕܐܵܣܸܠ݇ܩ ܠܵܗ̇

                            </p>
                            <p class="Surit font-size-22">

                                ܪܵܚܹܫ ܫܸܠܝܵܐ ܒܟܠ ܚܲܝܠܹܗ
                                ܘܐܝܼܡܵܢ ܕܢܵܚܹܬ ܟܹܐ ܨܵܪܹܚ (ܘܵܐ ܘܲܝܠܹܐ!)


                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/EveryoneHasACarSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qcRcMTBeibo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Everyone Has a Car | Kulleh Kitteh Radayto | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Jul 30, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-VbcAilvw5A?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Everyone Has a Car | Kulleh Etlun Radayta | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jul 30, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong> MIMRA KERIAKOS</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>CHORUS: <strong>ORNINA SHABO,MERAY YOUSSEF</strong></li>
                                    <li>TRANSLATED LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>TYPEST: <strong> BOUTROS SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong> ESHO ZORA</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>CHORUS: <strong>ORNINA SHABO,MERAY YOUSSEF</strong></li>
                                    <li>TRANSLATED LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>LYRICS TRANSLATION AND TYPING: <strong> SHIBLA BETSHMUEL</strong></li>
                                    <li>EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>SPECIAL THANKS: <strong>ZAYA NISSAN, NOHADRA STUDIO</strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
