 
@{
    ViewBag.Title = "FruitsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/fruitssong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/fruitssong_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Fruits Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Nov 1, 2019</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            An original song made to teach children some of the common fruits.  The song was built on the international Nursery Rhyme melody of "The Wheels on the Bus".
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">ܒܫܰܝܢܳܐ ܘܒܰܫܠܳܡܳܐ ! </p>
                            <p class="Surayt font-size-22"> ܡ݄ܢ ܦܺܐܖ̈ܶܐ ܟ݄ܐܒܥܽܘܬܽܘ (ܟ݄ܐܒܥܺܝܬܽܘ)؟</p>
                            <p class="Surayt font-size-22">ܥܰܠ ܡ݄ܢ ܟܳܟܳܪܟ̥ܽܘܬܽܘ (ܟܳܟܳܪܟ̥ܺܝܬܽܘ)؟ </p>
                            <p class="Surayt font-size-22">
                                ܒܫܰܝܢܰܐ ܕܰܐܬ̥ܽܘܬܽܘ (ܕܰܐܬ̥ܺܝܬܽܘ)؟
                                ܐܰܠܳܗܳܐ ܐܰܥܡܰܝܟ̥ܽܘ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܚܰܒܽܘܫܳܐ ؟
                                ܚܰܒܽܘܫܳܐ ܚܰܒܽܘܫܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܚܰܒܽܘܫܳܐ ؟
                                ܗܰܒ̥ ܠܰܢ ܚܰܒܽܘܫܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܐܰܛܪܘܓ̥ܳܐ؟
                                ܐܰܛܪܘܓ̥ܳܐ، ܐܰܛܪܘܓ̥ܳܐ
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܐܰܛܪܘܓ̥ܳܐ؟
                                ܗܰܒ̥ ܠܰܢ ܐܰܛܪܘܓ̥ܳܐ؟
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܡܽܘܙܳܐ؟
                                ܗ̄ܽܡܽܘܙܳܐ، ܗ̄ܽܡܽܘܙܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܡܽܘܙܳܐ؟
                                ܗܰܒ̥ ܠܰܢ ܗ̄ܽܡܽܘܙܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܶܝ ܗ̄ܰܬܽܘ̈ܬܶܐ؟
                                ܗ̄ܰܬܽܘ̈ܬܶܐ.ܗ̄ܰܬܽܘ̈ܬܶܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܶܝ ܗ̄ܰܬܽܘ̈ܬܶܐ؟
                                ܗܰܒ̥ ܠܰܢ ܗ̄ܰܬܽܘ̈ܬܶܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܪܶܡܽܘܢܳܐ؟
                                ܪܶܡܽܘܢܳܐ، ܪܶܡܽܘܢܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܪܶܡܽܘܢܳܐ؟
                                ܗܰܒ̥ ܠܰܢ ܪܶܡܽܘܢܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܶܝ ܗ̄ܰܬّܶܢ̈ܶܐ؟
                                ܗ̄ܰܬܶܐܢ̈ܶܐ، ܗ̄ܰܬܶܐܢ̈ܶܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܢܶܝ ܗ̄ܰܬّܶܢ̈ܶܐ؟
                                ܗܰܒ̥ ܠܰܢ ܗ̄ܰܬܶܐܢ̈ܶܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܽܦّܽܘܓܳܐ؟
                                ܗ̄ܽܦܽܘܓܳܐ، ܗ̄ܽܦܽܘܓܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܝܳܐ ܗ̄ܰܦّܽܘܓܳܐ؟
                                ܗܰܒ̥ ܠܰܢ ܗ̄ܽܦܽܘܓܳܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܢܶܝ ܗ̄ܰܥّܶܢ̈ܒ̥ܶܐ؟
                                ܗ̄ܰܥܶܢ̈ܒ̥ܶܐ، ܗ̄ܰܥܶܢ̈ܒ̥ܶܐ.
                            </p>
                            <p class="Surayt font-size-22">
                                ܐܰܝܟܳܐ ܢܶܝ ܗ̄ܰܥّܶܢ̈ܒ̥ܶܐ؟
                                ܗܰܒ̥ ܠܰܢ ܗ̄ܰܥܶܢ̈ܒ̥ܶܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/FruitsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22"> ܒܫܲܝܢܵܐ ܘܒܲܫܠܵܡܵܐ!</p>
                            <p class="Surit font-size-22"> ܡܘܼܕܝ݉ ܦܸܐܖܸ̈ܐ ܒܲܥ݉ܝܝܼܬܘܼܢ؟</p>
                            <p class="Surit font-size-22">
                                ܠܡܘܼܕܝܼ ܝ݉ܬܘܼܢ ܛܲܥ݉ܘܼܝܸܐ؟
                                ܒܫܲܝܢܵܐ ܐ݉ܬܸܠܘܿܟܼܘܿܢ!
                                ܐܲܠܵܗܵܐ ܡ݀ܢܘܿܟܼܘܿܢ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܚܵܒܘܼܫܵܐ؟
                                ܚܵܒܘܼܫܵܐ، ܚܵܒܘܼܫܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܚܵܒܘܼܫܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܚܵܒܘܼܫܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܐܲܛܪܘܿܓܼܵܐ؟
                                ܐܲܛܪܘܿܓܼܵܐ ، ܐܲܛܪܘܿܓܼܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܐܲܛܪܘܿܓܼܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܐܲܛܪܘܿܓܼܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܡܘܿܙܵܐ؟
                                ܡܘܿܙܵܐ، ܡܘܿܙܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܘ ܡܘܿܙܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܡܘܿܙܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܬܘܼܬܸ̈ܐ؟
                                ܬܘܼܬܸ̈ܐ، ܬܘܼܬܸ̈ܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܬܘܼܬܸ̈ܐ؟
                                ܗܲܒ݉ܠܲܢ ܬܘܼܬܸ̈ܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܪ݀ܡܘܼܢܬܵܐ؟
                                ܪ݀ܡܘܼܢܬܵܐ، ܪ݀ܡܘܼܢܬܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܪ݀ܡܘܼܢܬܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܪ݀ܡܘܼܢܬܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܬܸܐܢܸ̈ܐ؟
                                ܬܸܐܢܸ̈ܐ، ܬܸܐܢܸ̈ܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܬܸܐܢܸ̈ܐ؟
                                ܗܲܒ݉ܠܲܢ ܬܸܐܢܸ̈ܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܫܲܦܬܝܼܵܐ؟
                                ܫܲܦܬܝܼܵܐ، ܫܲܦܬܝܼܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܫܲܦܬܝܼܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܫܲܦܬܝܼܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܓ݀ܢܕܘܼܪܬܵܐ؟
                                ܓ݀ܢܕܘܼܪܬܵܐ، ܓ݀ܢܕܘܼܪܬܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܗܵܝ ܓ݀ܢܕܘܼܪܬܵܐ؟
                                ܗܲܒ݉ܠܲܢ ܓ݀ܢܕܘܼܪܬܵܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܥ݀ܢ̈ܒܸܐ؟
                                ܥ݀ܢ̈ܒܸܐ، ܥ݀ܢ̈ܒܸܐ!
                            </p>
                            <p class="Surit font-size-22">
                                ܐܝܼܟܵܐ ܝܼܠܸܗ ܐܵܢܝ ܥ݀ܢ̈ܒܸܐ؟
                                ܗܲܒ݉ܠܲܢ ܥ݀ܢ̈ܒܸܐ!
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/FruitsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>







                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/c7WLlNNOUQo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Fruits Song - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Nov 1, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9wLiqyqbDVc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Fruits Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Nov 1, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATIOR AND ANIMATIOR: <strong>GABI CHABO</strong></li>
                                    <li>CHILDREN VOICEOVER: <strong>FARAH FARJO, AYLA ELYO,PERLA YOUSSEF, RASHEL LAHDO</strong></li>
                                    <li>SALESMAN VOICE: <strong>ELIAS BOJAQLI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>LANGUAGE OTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATIOR AND ANIMATIOR: <strong>GABI CHABO</strong></li>
                                    <li>CHILDREN VOICEOVER: <strong>FARAH FARJO, AYLA ELYO,PERLA YOUSSEF, RASHEL LAHDO</strong></li>
                                    <li>SALESMAN VOICE: <strong>ELIAS BOJAQLI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>TRANSLATION: <strong>RAMINA SAMUEL</strong></li>
                                    <li>TYPEST: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>