
@{
    ViewBag.Title = "GrandmaSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidd\
             en-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/GrandmaSong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/GrandmaSong_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Grandma Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i>Traditional Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Jul 4, 2022</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Childrens Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            “Soto Siqla L Eelana” is a traditional children’s song in many Assyrian areas, but it is known mostly in the Nineveh Plain. It is now produced for the first time to include a new original melody inspired by folk music. The song is usually sung to put children to sleep and has been orally passed down to future generations. The lyrics of the song show the synchronicity between humans and nature. Although there are different versions of the song, they all illustrate how the circle of life is connected between all living creatures. The scenes depicted in the cartoon are from Alqosh, including its traditional clothes, as it is one of the beloved towns in the Nineveh Plain.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-20" style="text-align:center">
                                ܩܰܫܬܳܐ ܣܰܠܺܝܩܳܐ ܠܣܰܬܳܐ
                              <br>  ܕܚ݄ܪܙܳܐ ܠܰܗ ܡܶܕܶܐ ܛܰܘܩܳܐ
                              <br>  ܛܰܘܩܳܐ ܡܶܢ̱ ܡَܪ̈ܓܰܢܝܳܬ݂ܳܐ
                              <br> ܡܰܪ̈ܓܰܢܝܳܬ݂ܳܐ ܡܢ̱ ܥܰܛܳܪܳܐ



                            </p>
                            <p class="Surayt font-size-20" style="text-align:center">

                                ܥܰܛܳܪܳܐ ܟܳܐܒ݄ܥ ܒ݄ܥܬܳܐ
                                <br>  ܒ݄ܥܬܳܐ ܡܢ̱ ܠܶܒܰܗ ܕܺܗ̄ܝ ܓܕ̥ܰܝܬܳܐ
                                <br> ܓܕ̥ܰܝܬܳܐ ܟܳܐܒܰܥ ܠܰܗ ܠܰܩܛܳܐ
                                <br> ܠܰܩܛܳܐ ܡ݄ܢ̱ ܩܕ̥ܳܠܶܗ ܪܳܚܝܳܐ
                                ܪܳܚܝܳܐ


                            </p>

                            <p class="Surayt font-size-20" style="text-align:center">
                                ܪܳܚܝܳܐ ܟ݄ܐܒܥܳܐ ܫܰܦܽܘ̈ܕ̥ܶܐ
                                <br> ܫܰܦܽܘ̈ܕ̥ܶܐ ܡܢ̱ ܥܰܪܫܶܗ ܕܩܰܫܬܳܐ
                                <br>  ܩܰܫܬܳܐ ܟ݄ܐܒܥܳܐ ܠܰܗ ܓܘ̇ܪ̈ܒ̥ܶܐ
                                <br>  ܓܘ̇ܪ̈ܒ̥ܶܐ ܡܢ̱ ܚܰܨܰܗ ܕܺܗ̄ܝ ܥܘܳܢܳܐ


                            </p>

                            <p class="Surayt font-size-20" style="text-align:center">

                                ܥܘܳܢܳܐ ܟ݄ܐܒܥܳܐ ܠܰܗ ܓܶܠܳܐ
                                <br>   ܓܶܠܳܐ ܡܢ̱ ܪܶܝܫܶܗ ܕܺܗ̄ܝ ܬܶܠܳܐ


                            </p> 

                           <a class="btn btn-info" href="http://www.betkanu.com/Downloader/sulaqaWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>

                            <p class="Surit font-size-20" style="text-align:center">
                                ܣܵܒܼܬܘܿ ܣܸܠ݇ܩܠܵܗܿ ܠܐܝܼܠܵܢܵܐ
                                <br> ܚܵܪܙܵܐ ܠܵܗܿ ܚܲܕ݇ ܓܸܪܕܵܢܵܐ
                                <br> ܓܸܪܕܵܢܵܐ ܕܟܸܣܢܹ̈ܐ ܘܦܵܪܹ̈ܐ
                                <br>  ܟܸܣܢܹ̈ܐ ܘܦܵܪܹ̈ܐ ܡܥܲܛܵܪܵܐ


                            </p>
                            <p class="Surit font-size-20" style="text-align:center">

                                ܥܲܛܵܪܵܐ ܟܸܒܥܹܐ ܦܵܪܹ̈ܐ
                                <br>  ܒܹܥܬܵܐ ܡܠܸܒܵܐ ܕܲܟܬܲܝܬܵܐ
                                <br>  ܟܬܲܝܬܵܐ ܟܸܒܥܵܐ ܠܵܗܿ ܠܸܩܛܵܐ
                                <br>  ܠܸܩܛܵܐ ܡܒܵܠܘܿܥܬܵܐ ܕܐܲܪܚܸܠ

                            </p>

                            <p class="Surit font-size-20" style="text-align:center">

                                ܐܲܪܚܸܠ ܟܸܒܥܵܐ ܫܲܦܘܼܕܼܹ̈ܐ
                                <br> ܫܲܦܘܼܕܼܹ̈ܐ ܡܟܵܟܹ̈ܐ ܕܣܵܒܼܬܘܿ
                                <br> ܣܵܒܼܬܘܿ ܟܸܒܥܹܐ ܠܵܗܿ ܓܘܼܪ̈ܒܼܹܐ
                                <br> ܓܘܼܪ̈ܒܼܹܐ ܡܚܲܨܵܐ ܕܲܥܘܵܢܵܐ

                            </p>

                            <p class="Surit font-size-20" style="text-align:center">
                                ܥܘܵܢܵܐ ܟܸܒܥܵܐ ܠܵܗܿ ܓܸܠܵܐ
                                <br> ܓܸܠܵܐ ܡܗܵܘ ܪܹܫܵܐ ܕܬܸܠܵܐ


                            </p>

                           <a class="btn btn-info" href="http://www.betkanu.com/Downloader/sulaqaEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SNyr5T6vyKU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Grandma Song | Qashto Saliqo L Sato | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Jul 4, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0XjNGOz_kAs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Grandma Song | Sawto siqla l ilana | Eastern Syriac (Surit) 
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jul 4, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> SINGERS: <strong>IVLA SAADI, GEORGE AFRAM, ELIAS BOJAQLY  </strong></li>
                                    <li> MELODY BY: <strong> WADHAH ESAU</strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li> WESTERN TRANSLATION: <strong>AKKAD SAADI </strong></li>
                                    <li> SYRIAC TYPIST: <strong> BOUTROS SHABO</strong></li>
                                    <li> SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li> ILLUSTRATON AND ANIMATON: <strong>GABI MALKI </strong></li>
                                    <li> ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong>SAMIR SHAMOUN </strong></li>
                                    <li> MARKETING DESIGNER: <strong> GABI MALKI</strong></li>
                                    <li> PRODUCT LEAD: <strong> AKKAD SAADI</strong></li>
                                    <li> SPECIAL THANKS: <strong> EIVAN SHAHARA, SAAD ZAI, OJIN HIKMAT</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>
                                     


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> SINGERS: <strong>WADHAH ESAU, SHANEL WADHAH ESAU</strong></li>
                                    <li> MELODY BY: <strong> WADHAH ESAU</strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li> VOCALS: <strong>WADHAH ESAU, SHANEL WADHAH ESAU</strong></li>
                                    <li> RESEARCH AND DOCUMANTATION: <strong>ATHRA KADO </strong></li>
                                    <li> TYPIST EASTERN: <strong> YOUSIP AUDESHO</strong></li>
                                    <li> EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li> ILLUSTRATON AND ANIMATON: <strong>GABI MALKI </strong></li>
                                    <li> ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong>SAMIR SHAMOUN </strong></li>
                                    <li> MARKETING DESIGNER: <strong> GABI MALKI</strong></li>
                                    <li> PRODUCT LEAD: <strong> AKKAD SAADI</strong></li>
                                    <li> SPECIAL THANKS: <strong> EIVAN SHAHARA, SAAD ZAI, OJIN HIKMAT</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
