
@{
    ViewBag.Title = "HolaHolaSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/HolaHola_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/HolaHola_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Hola Hola Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i>Traditional Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Feb 11, 2022</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Childrens Song Song</span></li>
                                </ul>
                            </div>
                        </div>
                        Hola Hola song, Talyo E Shemsho, is an authentic song created in 1994 as part of the "Nineveh Children Songs" Album #3. The album was entirely composed by the legendary musician Nouri Iskander. The song is a lullaby to put kids to sleep in such a beautiful setting describing the nature at night.                    <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܬܰܠܝܳܐ ܗ̄ܺܝ ܫ݄ܡܫܳܐ ܒ݄ܬ̥ܪ ܗ̄ܺܝ ܥܘ̇ܬܡܳܐ ܘܰܟّܽܘ̈ܟܒ̥ܶܐ ܟܓ݄ܚܟ̥ܝ
                                ܗ̄ܽܘ ܣܰܗܪܳܐ ܡܰܡܛܶܐ ܠܶܗ ܙܡܺܝܪܬܳܐ ܠܰܛܠܳܝ̈ܶܐ ܕܕܡܟ̥ܺܝ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܬܰܠܝܳܐ ܗ̄ܺܝ ܫ݄ܡܫܳܐ ܒ݄ܬ̥ܪ ܗ̄ܺܝ ܥܘ̇ܬܡܳܐ ܘܰܟّܽܘ̈ܟܒ̥ܶܐ ܟܓ݄ܚܟ̥ܝ
                                ܗ̄ܽܘ ܣܰܗܪܳܐ ܡܰܡܛܶܐ ܠܶܗ ܙܡܺܝܪܬܳܐ ܠܰܛܠܳܝ̈ܶܐ ܕܕܡܟ̥ܺܝ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܰܬ̥ܺܝ ܗ̄ܽܘ ܠܰܠܝܳܐ ܘܗ̄ܽܘ ܫܪܳܓ̥ܰܝܕ̥ܰܢ ܡܽܗ̄ܘ ܙܰܝܬܳܐ ܟ̥ܰܠܝܳܐ
                                ܦܰܝܺܝܫܺܝܢܰܐ ܟܳܢ݄ܛܪܺܝܢܰܐ ܗ̄ܺܝ ܥܘ̇ܬܡܳܐ ܕܟ݄ܠܝܳܐ
                                ܗ̄ܽܘ ܢܰܗܪܳܐ ܟܡܰܫܬܶܐ ܠܗܰܒܳܒ̈ܶܐ ܕܥܳܒܳܐ
                                ܒܰܛ݄ܠ ܐܰܕܠܰܠܝܳܐ ܒܰܛ݄ܠ ܐܰܕܠܰܠܝܳܐ
                                ܩܳܠܶܗ ܕܢܰܥܺܝܡ̈ܶܐ ܣܰܓܺܝ ܗ̱ܘܳܐ ܫܰܠܝܳܐ
                                ܡܰܬ݄ܡّܶܗ ܙܡܺܝܪܬܳܐ ܕܽܗ̄ܘ ܪܶܟ̥ܢܳܐ ܚܰܠܝܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܬܰܠܝܳܐ ܗ̄ܺܝ ܫ݄ܡܫܳܐ ܒ݄ܬ̥ܪ ܗ̄ܺܝ ܥܘ̇ܬܡܳܐ ܘܰܟّܽܘ̈ܟܒ̥ܶܐ ܟܓ݄ܚܟ̥ܝ
                                ܗ̄ܽܘ ܣܰܗܪܳܐ ܡܰܡܛܶܐ ܠܶܗ ܙܡܺܝܪܬܳܐ ܠܰܛܠܳܝ̈ܶܐ ܕܕܡܟܺܝ
                                ܬܰܠܝܳܐ ܗ̄ܺܝ ܫ݄ܡܫܳܐ ܒ݄ܬ̥ܪ ܗ̄ܺܝ ܥܘ̇ܬܡܳܐ ܘܰܟّܽܘ̈ܟܒ̥ܶܐ ܟܓ݄ܚܟ̥ܝ
                                ܗ̄ܽܘ ܣܰܗܪܳܐ ܡܰܡܛܶܐ ܠܶܗ ܙܡܺܝܪܬܳܐ ܠܰܛܠܳܝ̈ܶܐ ܕܕܡܟܺܝ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܡ݄ܪ ܠܶܗ ܗ̄ܽܘ ܢܰܗܪܳܐ ܒܰܣܝܳܐ ܗ̄ܽܘ ܫܰܗܪܳܐ ܘܰܐܚܢܰܐ ܕܠܰܐ ܒܰܗܪܳܐ
                                ܪܰܡܚ݄ܠ ܫ݄ܡܫܳܐ ܥܰܠ  ܢܰܥܺܝ̈ܡܶܐ ܓ݄ܕ ܢ݄ܦܩܳܐ ܒܨܰܦܪܳܐ
                                ܐܳܢܳܐ ܓܕܳܡܟ̥ܳܐ ܐ̱ܢܳܐ ܟܪܳܚܡܳܐ ܐ̱ܢܳܐ ܠܚܽܘ̈ܠܡܶܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܚܘ̈ܠܡܶܐ ܠܰܛܠܳܝ̈ܶܐ ܕܗܳܘ݄ܢ ܒܰܣܺܝ̈ܡܶܐ
                                ܦܽܘܫܽܘܢ ܒܰܫܠܳܡܳܐ ܥܰܡ ܠܰܠܝܳܐ ܛܳܒܳܐ
                                ܒܫܰܝܢܳܐ ܘܚܰܕܽܘܬ̥ܳܐ ܠܚܰܒܪ̈ܶܐ ܢܰܥܺܝ̈ܡܶܐ
                                ܦܽܘܫܽܘܢ ܒܰܫܠܳܡܳܐ ܥܰܡ ܠܰܠܝܳܐ ܛܳܒܳܐ
                                ܒܫܰܝܢܳܐ ܘܚܰܕܽܘܬ̥ܳܐ ܠܚܰܒܪ̈ܶܐ ܢܰܥܺܝ̈ܡܶܐ


                            </p>
                           <a class="btn btn-info" href="http://www.betkanu.com/Downloader/HolaHolaSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>



                        </div>
                    </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܛܫܹܐ ܠܵܗܿ ܫܸܡܫܵܐ ܒܵܬܲܪ ܚܸܫܟܵܐ ܘܐܵܢܝ݇ ܟܵܘܟܒܼܹ̈ܐ ܓܵܚܟܝܼ
                                ܗܵܘ ܣܲܗܪܵܐ ܡܘܼܡܛܹܐ ܠܹܗ ܙܡܝܼܪܬܵܐ ܠܲܛܠܵܝܹ̈ܐ ܕܕܵܡܟܼܝܼ


                            </p>
                            <p class="Surit font-size-22">

                                ܛܫܹܐ ܠܵܗܿ ܫܸܡܫܵܐ ܒܵܬܲܪ ܚܸܫܟܵܐ ܘܐܵܢܝ݇ ܟܵܘܟܒܼܹ̈ܐ ܓܵܚܟܝܼ
                                ܗܵܘ ܣܲܗܪܵܐ ܡܘܼܡܛܹܐ ܠܹܗ ܙܡܝܼܪܬܵܐ ܠܲܛܠܵܝܹ̈ܐ ܕܕܵܡܟܼܝܼ

                            </p>
                            <p class="Surit font-size-22">
                                ܐ݇ܬܹܐ ܠܹܗ ܠܸܠܝܵܐ، ܘܐܵܗܵܐ  ܫܪܵܓܼܵܐ، ܡܼ݂ܢ ܙܲܝܬܵܐ ܣܦܝܼܩܵܐ
                                ܦܝܼܫܠܲܢ ܣܦܵܪܵܐ، ܝܬܝܼܒܼܹ̈ܐ ܢܛܵܪܵܐ، ܠܲܦܪܵܩܬܵܐ ܕܚܸܫܟܵܐ
                                ܗܵܘ ܢܲܗܪܵܐ ܟܡܲܫܬܹܐ ܠܗܲܒܵܒܼܹ̈ܐ ܕܥܵܒܼܵܐ
                                ܫܘܼܪܫܹܐ ܠܹܗ ܠܸܠܝܵܐ, ܫܘܼܪܫܹܐ ܠܹܗ ܠܸܠܝܵܐ
                                ܩܵܠܵܐ ܕܲܛܠܵܝܹ̈ܐ ܪܵܒܵܐ ܝܠܹܗ ܫܸܠܝܵܐ
                                ܬܘܼܡܸܡܠܲܝܗܝ ܙܡܝܼܪܬܵܐ ܕܗܵܘ ܪܸܟܼܢܵܐ ܚܸܠܝܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܛܫܹܐ ܠܵܗܿ ܫܸܡܫܵܐ ܒܵܬܲܪ ܚܸܫܟܵܐ ܘܐܵܢܝ݇ ܟܵܘܟܒܼܹ̈ܐ ܓܵܚܟܝܼ
                                ܗܵܘ ܣܲܗܪܵܐ ܡܘܼܡܛܹܐ ܠܹܗ ܙܡܝܼܪܬܵܐ ܠܲܛܠܵܝܹ̈ܐ ܕܕܵܡܟܼܝܼ
                                ܛܫܹܐ ܠܵܗܿ ܫܸܡܫܵܐ ܒܵܬܲܪ ܚܸܫܟܵܐ ܘܐܵܢܝ݇ ܟܵܘܟܒܼܹ̈ܐ ܓܵܚܟܝܼ
                                ܗܵܘ ܣܲܗܪܵܐ ܡܘܼܡܛܹܐ ܠܹܗ ܙܡܝܼܪܬܵܐ ܠܲܛܠܵܝܹ̈ܐ ܕܕܵܡܟܼܝܼ


                            </p>
                            <p class="Surit font-size-22">

                                ܐ݇ܡܸܪܹܗ ܢܲܗܪܵܐ ܡܲܟܠܹܐ ܡܘܿܢ ܫܲܗܪܵܐ ܘܐܲܚܢܲܢ ܕܠܵܐ ܒܲܗܪܵܐ
                                ܩܘܼܕܡܹܐ ܫܸܡܫܵܐ ܥܲܠ ܐܵܢܝ݉ ܛܠܵܝܹ̈ܐ ܒܸܕ ܦܵܠܛܵܐ ܒܨܲܦܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܐܵܢܵܐ ܒܸܕ ܕܵܡܟܼܵܢ ܟܹܐ ܡܲܚܒܵܢ ܠܚܸܠܡܹ̈ܐ
                                ܚܸܠܡܹ̈ܐ ܠܲܛܠܵܝܹ̈ܐ ܕܗܵܘܝܼ ܒܲܣܝܼܡܹ̈ܐ
                                ܦܘܼܫܘܿܢ ܒܲܫܠܵܡܵܐ ܥܲܡ ܪܲܡܫܵܐ ܒܪܝܼܟܼܵܐ
                                ܫܲܝܢܵܐ ܘܚܲܕܘܼܬܵܐ ܚܲܒܼܪ̈ܵܢܹܐ ܙܥܘܿܪܹ̈ܐ
                                ܦܘܼܫܘܿܢ ܒܲܫܠܵܡܵܐ ܥܲܡ ܪܲܡܫܵܐ ܒܪܝܼܟܼܵܐ
                                ܫܲܝܢܵܐ ܘܚܲܕܘܼܬܵܐ ܠܚܲܒ݂ܖ̈ܵܢܹܐ ܙܥܘܿܖܹ̈ܐ


                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/HolaHolaSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>



                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b3PlLLMsWCM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Hola Hola Song | Talyo E Shimsho | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Feb 11, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uybJBA-XwbM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Hola Hola Song | Tshithela Shimsha | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Feb 11, 2022</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div> 
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SOLO SINGER: <strong>ILONA DANHO</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>SYRIAC TYPEST: <strong>BOUTROS SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>GABI MALKI</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong>ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li> TALYO E SHEMSHO, IS AN OLD SONG CREATED IN 1994 AS PART OF THE "NINEVE CHILDREN SONGS" ALBUM #3 COMPOSED BY NOURI ISKANDAR AND WRIITEN BY GEORGE SHAMOUN</li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong>IVLA SAADI</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>TRANSLATION & TYPING: <strong>YOUSIP AUDISHO</strong></li>
                                    <li>EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>GABI MALKI</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong>ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>SPECIAL THANKS: <strong>ASHEER KOULI AND KOULISTUDIOS - SWEDEN FOR RECORDING VOCAL</strong></li>
                                    <li> TALYO E SHEMSHO, IS AN OLD SONG CREATED IN 1994 AS PART OF THE "NINEVE CHILDREN SONGS" ALBUM #3 COMPOSED BY NOURI ISKANDAR AND WRIITEN BY GEORGE SHAMOUN</li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
