﻿
<head>
    @{
        ViewBag.Title = "Products";
    }


</head> 
 
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/thesunsetsong"><img src="/img/products/TheSunSet.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/thesunsetsong">The Sun Set Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i>Traditional Song</li>
                                        <li><i class="fa fa-info"></i>Childrens Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                The Sunset song, Talyo E Shemsho, is an authentic song created in 1994 as part of the "Nineveh Children Songs" Album #3. The album was entirely composed by the legendary musician Nouri Iskander. The song is a lullaby to put kids to sleep in such a beautiful setting describing the nature at night.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/thesunsetsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/b3PlLLMsWCM" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Ei6YQMgColE" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/wethreekingssong"><img src="/img/products/wethreekings.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/wethreekingssong">We Three Kings Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> International Song</li>
                                        <li><i class="fa fa-info"></i> Universal Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                We Three Kings of Orient"" is a Christmas carol that was written by John Henry Hopkins Jr. in 1857.  He organized the carol in such a way that three male voices would each sing a solo verse in order to correspond with the three kings.  The carol's melody has been described as ""sad"" and ""shifting"" in nature. Because of this, it highly resembles a song from the Middle Eastern music, both of which it has been frequently compared to.  BET KANU is presenting this song for the first time in Syriac, which makes it even closer to the vision John Hopkins intended.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/wethreekingssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/ESujo39P6vY  " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/vIfsdFe8zGE  " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/OpenShutThemsong"><img src="/img/products/openshutthem.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/OpenShutThemsong">Open Shut Them Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                “Open Shut Them” is a popular international kids' nursery rhyme song! It is great for learning some basic opposites. It’s full of easy-to-understand and easy-to-gesture vocabulary. This song is a fun movement song that can be guided by a teacher or a parent to the children. Kids would learn some basic understanding of the physical attributes of the world. Children will love to sing and dance along with Open Shut Them.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/OpenShutThemsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/wRbzLrb72nA  " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/C1Oc6G9vDJQ  " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/CanopyofUnity"><img src="/img/products/qoobrana.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/CanopyofUnity">Canopy of Unity Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Traditional Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This song was written by the well-established writer, Mr. Odisho Yusep.  It is a personal song given to his children. The environment is set in the plantation fields and mountains of the writer’s village (Bebede), as that inspired the lyrics of this song from landmarks of his village. The song describes two young men wearing the traditional Assyrian clothing wandering around the lands of the village to hunt and collect the daily food, and then return to their homes to build a Quprana (ܩܘܼܦܪܵܢܵܐ), a vineyard canopy.  The canopy is a metaphor for the House of the Assyrian nation for people to sit underneath it united and cohesive.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/CanopyofUnity" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/CW0VIdSJ-FI  " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/rhB_XPaXy80  " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/EveryoneHasaCarsong"><img src="/img/products/EveryOneHasACar.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/EveryoneHasaCarsong">Everyone Has a Car Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Traditional Song</li>
                                        <li><i class="fa fa-info"></i> Middle Eastern Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Over 40 years old children's song derived from the Lebanese culture. The song was made originally by Elias Al Rahbani, and recently UNICEF supported the remake of these songs to be sung for the children of Syria during the Syria Crisis. This song reflects the humble nature of people, and it shows the amount of love two grandchildren have for their grandfather who does not own a fancy car but owns a donkey instead.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/EveryoneHasaCarsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/qcRcMTBeibo  " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/-VbcAilvw5A  " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/betkanureaderapp"><img src="/img/products/Reader.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:orange">App</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/betkanureaderapp">BET KANU Reader App</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-mobile"></i> App</li>
                                        <li><i class="fa fa-info"></i> Scan App </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                BET KANU presents BET KANU READER App, a great Syriac reading App for everyone.

                            </p>
                            <a style="background-color:#32a6de" href="~/products/betkanureaderapp" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://apps.apple.com/be/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-shadow">Get it on the App Store!</a>
                            <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-shadow">Get it on the Google Play!</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/JosephtheGardenerSong"><img src="/img/products/JosephtheGardener.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/JosephtheGardenerSong">Joseph The Gardener Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                "Yawse Ganono" is an old traditional song in Western Surayt, originally released in 1986 by Nineveh group, under the album title "Nineveh Children Songs - Album 1". The song was composed by Ninos Garis and written by Augin Kurt. The song depicts the beautiful work of gardeners in the old days in TurAbdin, which is also representative of our other mountainous regions. Reviving such songs helps with promoting them among the new generation to maintain their connection with their authentic traditions, music, and culture.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/JosephtheGardenerSong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/0VAT2tbeTJo " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/mW6OVV4Lrzc " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/UrhoySchooCurriculum"><img src="/img/products/sheshltodorhoy.jpg" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:darkgray">Book</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/UrhoySchooCurriculum">Urhoy School Curriculum</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> Book</li>
                                        <li><i class="fa fa-info"></i> Educational Book </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                It is a series of educational curriculum books that will be taught in schools, and this is the second book in which the child will learn in addition to letters and movements and will be able to read words with the way they are written.


                            </p>
                            <a href="~/products/UrhoySchooCurriculum" class="btn btn-info btn-shadow">Read More</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/penandpaperbook"><img src="/img/products/penandpaper.jpg" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:darkgray">Book</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/penandpaperbook">    PEN, PAPER, & APP</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> Book</li>
                                        <li><i class="fa fa-info"></i> Educational Book </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This is the first full curriculum in Surayt, the Syriac Language of Tur-abdin. In this series, the child learns the letters and how to read and hear Syriac and speak on different topics. He or she also learns to read a sentence, a word, or a text, and the child builds a sentence and can read the word with the vowels.


                            </p>
                            <a href="~/products/penandpaperbook" class="btn btn-info btn-shadow">Read More</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/antsong"><img src="/img/products/antsong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/antsong">Ant Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                The Ant song, Shushwono, is an authentic song created in 1994 as part of the "Nineveh Children Songs" Album #3. The album was entirely composed by the legendary musician Nouri Iskander. The lyrics of the song was beautifully written by Shlemun Moushe. The song teaches kids resiliency, hard-working, and collaboration. It is a masterpiece of music composition, lyrics, voice, and arrangement.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/antsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/EO6nCQKdAIE " class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/r-y6Mql2DY8 " class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/MothersSong"><img src="/img/products/MothersSong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MothersSong">Mother's Day Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Traditional Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A very simple song made for young kids to learn the names of some of the most common animals along with their sounds. The melody is a common American style made for children. With simplification of the names of the animals sounds, the child will associate the animal's name, to its sound and look.

                            </p>
                            <a style="background-color:#32a6de" href="~/products/MothersSong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/1cg5riVveb0 " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Nkj45rtS8kc " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/kidssongsbook"><img src="/img/products/kidssongsbook.jpg" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:darkgray">Book</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/kidssongsbook">Kids Songs Book</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> Book</li>
                                        <li><i class="fa fa-music"></i> Educational Book </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A children's book that contains many songs and stories in addition to poetry. The content is displayed via text and graphics that express the content. The book is in Syriac and Swedish. The texts were written and collected by Nursel Awrohum

                            </p>
                            <a href="~/products/kidssongsbook" class="btn btn-info btn-shadow">Read More</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/AnimalSounds.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/AnimalSoundsSong">Animal Sounds Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A very simple song made for young kids to learn the names of some of the most common animals along with their sounds. The melody is a common American style made for children. With simplification of the names of the animals sounds, the child will associate the animal's name, to its sound and look.

                            </p>
                            <a style="background-color:#32a6de" href="~/products/AnimalSoundsSong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/P-guNr4ors8 " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/i2SwMg0WM4s " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/todayisnewyear.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MomisComigNowsong">Today is New Years Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An old song produced in 1983 by the Ishtar Group, under the second album titled "Zmirotho d-Shabre Men Beth-Nahri". This song was written by George Shamoun and composed by Joseph Malki. BET KANU has worked on reviving this Christmas song to celebrate it once again in the New Year's with the new generation.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/TodayIsNewYearssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/4tuMu-y9a1w " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/2YeNd-J4IGk " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <img src="/img/products/videocollection.jpg" loading="lazy" alt="" style="width:50%">
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4> BET KANU Album Vol. 1 (Video Collection) </h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A collection of 16 BET KANU children’s songs in the Syriac language. Your kids will enjoy 40 minutes of nonstop educational entertainment from popular international songs like Finger Family, Seasons, and Mary Had a Little Lamb, to songs from the Assyrian tradition like Allalayeh and the Alphabet songs.
                            </p>
                            <a style="background-color: #f6a500" href="https://youtu.be/N1-TtJBzcPE " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/pndLwu3X2mU " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/momiscoming.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MomisComigNowsong">Mom Is coming Now Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i>Middle Eastern Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Way back to 1951 in Egypt, "Mama Zamanha Gaya" - "ماما زمنها جاية" , the very first filmed children's song was born in Egypt. The song was beautifully written and sung by Muhamad Fawzi, and composed by FatHi Qora. The song is about a father who is taking care of his child, while the mother is away from home. The father then keeps trying to entertain the child, while giving her/him good life lessons using beautiful and affective singing and acting. You could do the same for your child, and you can add your own version of a life lesson in the second and third parts of the song.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/MomisComigNowsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/l5KQ8OEX2qc " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/GiEla7RV2Fw " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/bedtimeprayersong"><img src="/img/products/bedtimeprayer.png" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/bedtimeprayersong">Bedtime Prayer Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Religious Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This is a reproduction of the popular Eastern bedtime prayer (Sluta Dramsha), commonly known as "Eman Damkhin Gu Shweetee."  Reference: Nineveh Publishing, 1958, "Second Level for Beginners" by Deacon Gewargis dBeth Benyamin dAshitha.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/bedtimeprayersong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/jTI-23NLxyY " class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/BV2b6HjZTCk " class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/myunclesong"><img src="/img/products/myuncle.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/myunclesong">My Uncle Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Middle Eastern Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A traditional Middle Eastern song originally done by the famous Lebanese writers, Ghassan and Jad Rahbani. The song tries to increase children's awareness about unhealthy eating habits, but it treats it in a fun and a humorous way. This song also teaches few new words about food and nature.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/myunclesong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/bQTIZmUnPXI" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/V2m1rj_ekKY" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/washyourhandssong"><img src="/img/products/washyourhands.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/washyourhandssong">Wash Your Hands | Baby Shark Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Let's do what is healthy and good! Do wash your hands and eat healthy food! Do cover your cough and sneeze! Do say thank you and do say please! Let's doo doo doo doo it together with Baby Sharks!
                            </p>
                            <a style="background-color:#32a6de" href="~/products/washyourhandssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/IIdLEWiPXpM" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/BvKmuwuPDZg" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/seasonssong"><img src="/img/products/season.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/seasonssong">Seasons Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                BET KANU presents you with the first educational song teaching about the seasons in our beloved colloquial dialects of Surayt and Surit (Sureth).    Your kids can now about the 4 seasons of the year and their names and attributes.  You kids won't blink, as they will be touring with our humorous "globe" character. The melody, although very similar to the oriental style, was actually inspired by the traditional African Nursery Rhymes.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/seasonssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/4G93cMHhbJ4" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/uWWBwml-4oo" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/HassisanSong"><img src="/img/products/hassisan.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/HassisanSong">Little Chicks "Hassisan" Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Arabic Rhyme</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An old Middle-Eastern traditional kids song, sung originally in Arabic, made for the first time in the modern Syriac colloquial dialects (Surayt/Surit).
                            </p>
                            <a style="background-color:#32a6de" href="~/products/HassisanSong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/n-QKz6GDpXg" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Giwip4bx3fE" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/rowyourboatsong"><img src="/img/products/rowyourboat.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/rowyourboatsong">Row your Boat Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This song is an adaptation of the English nursery rhyme “Row, Row, Row Your Boat.” It can be made into an action nursery rhyme where you can sit opposite your child and hold their hands, or put your baby on your lap facing you, and row back and forwards in time with the music.

                            </p>
                            <a href="~/products/rowyourboatsong" class="btn btn-info btn-shadow">Read More</a>
                            <a href="https://youtu.be/IFWwXDLxtag" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a href="https://youtu.be/8jhEgS1SIK0" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/deckthehalls"><img src="/img/products/deckthehalls.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/deckthehalls">Deck the Halls Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Holiday Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This is an adaptation of the Christmas carol originally called "Deck the Hall." This exciting version is created in hopes of increasing the love for our language among the young and the old.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/deckthehalls" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/XnSxRHxSHHU" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/aR-B-jAxoX0" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/allalayesong"><img src="/img/products/allalaye.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/allalayesong">Allalaye Folk Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Folk Song</li>
                                        <li><i class="fa fa-info"></i> Children's Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An Assyrian folk song hundreds of years old, popular amongst eastern speakers of the Syriac dialect. Allalaye is a lullaby traditionally sung by mothers, grandmothers, and anyone rocking their baby or child to sleep. The lyrics were researched and collected by Mr. Shlimon Betshmuel.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/allalayesong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/8rovNXN6Vl8" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/MXOy_xsQChU" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/fruitssong"><img src="/img/products/fruitssong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/fruitssong">Fruits Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                        <li><i class="fa fa-info"></i> Children's Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An original song made to teach children some of the common fruits.  The song was built on the international Nursery Rhyme melody of "The Wheels on the Bus".
                            </p>
                            <a style="background-color:#32a6de" href="~/products/fruitssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/c7WLlNNOUQo" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/9wLiqyqbDVc" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/johnnyjohnnysong"><img src="/img/products/johnny.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/johnnyjohnnysong">Johnny Johnny Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i>Universal Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An international song about a child, Johnny, who is caught by his father to have lied about whether he is "eating sugar".  This song has both a funny humor and a valuable lesson for kids.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/johnnyjohnnysong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/F95dBr-Kjuc" class="btn btn-warning  btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/gxL3afeDTc4" class="btn btn-primary  btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/betkanucoloringbook"><img src="/img/products/NMColoring book.jpg" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:darkgray">Book</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/betkanucoloringbook">Nino & Mia Coloring Book</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> Book</li>
                                        <li><i class="fa fa-paint-brush"></i> Coloring Book </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A simple handout coloring book based on the first season of Nino & Mia.  The children will enjoy going through and coloring the 13 episodes of the Habits season of N&M, while also remembering what were the good habits taught in those episodes.  A 2-in-1 book for kids.
                            </p>
                            <a href="~/products/betkanucoloringbook" class="btn btn-info btn-shadow">Read More</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/Products/BETKANUConversationBooklet"><img src="/img/products/bkconversationbook.jpg" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:darkgray">Book</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/Products/BETKANUConversationBooklet">BK Conversation Booklet</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> Book</li>
                                        <li><i class="fa fa-info"></i> Educational </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Simple entry level conversation booklet to be distributed in our local and global events; premiered in the Syriac Youth Meeting in Damascus (SYGG) in September 2019 in Syria.
                            </p>
                            <a href="~/Products/BETKANUConversationBooklet" class="btn btn-info btn-shadow">Read More</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/studio/alphabetseries"><img src="/content/img/products/alphabetsong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:red">Cartoon</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/studio/alphabetseries">Alphabet Series</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-video-camera"></i> Children's Cartoon</li>
                                        <li><i class="fa fa-info"></i> Educational Cartoon </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A 22 episode cartoon series that teaches children the Syriac alphabet in both Eastern and Western, while using the colloquial Surit/Surayt dialects to share a simple and fun story for each alphabet.  In each espisode, the child will learn an alphabet along with three associated words that begin with that alphabet (name, object, and animal).
                            </p>
                            <a style="background-color:#32a6de" href="~/studio/alphabetseries" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://www.youtube.com/playlist?list=PLsfZA-ZA9qwqfJQ41qbmrQAsOYrQXH6JG" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://www.youtube.com/playlist?list=PLsfZA-ZA9qwp2BEIpHrVXLK3vLDUYbW0W" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/bodypartssong"><img src="/img/products/bodyparts.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/bodypartssong">Body Parts Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An original song about teaching the kids some of the body parts in Surit and Surayt.  Song was made in collaboration with AJM, as it was originally created as part of a Syriac Song Writing competition hosted in the AJM Dolabani Camp of 2018 and conducted by Akkad Saadi.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/bodypartssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/NIcnOGTtaFs" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/iUXHZfs0uvk" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Alphabetsong"><img src="/img/products/alphabetsong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Alphabetsong">Alphabet Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                The internal Alphabet Song melody done for the first time using the Syriac Alphabet letters.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/Alphabetsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/1qqxefuHQUo" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/K5BuCAiEUug" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Marysong"><img src="/img/products/MarySong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Marysong">Mary Had a Little Lamb Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Based on the original "Mary Had a Little Lamb," a children's nursery rhyme provided in our beloved language.</p>
                            <a style="background-color:#32a6de" href="~/products/Marysong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/7OZXTGnu9g8" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/QedNrSsszTw" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/mshihosong"><img src="/img/products/mshihosong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/mshihosong">Mshiho/ Mshikha Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Youth's Song </li>
                                        <li><i class="fa fa-info"></i> Religious Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>The "Mshiho/Mshikha" song is a religous song produced in collaboration with our partner Save Our Souls - 1915.de e.V. (SOS). It deals with daily problems of a teenager and the support she gets from God.</p>
                            <a style="background-color:#32a6de" href="~/products/mshihosong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/oMvgDeVobrk" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/eFdMuhNMNfM" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Numbersong"><img src="/img/products/numberssong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Numbersong">Numbers Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Learn how to count up to 10 with our number song. A song inspired by the "Once I Caught a Fish Alive" rhyme.</p>
                            <a style="background-color:#32a6de" href="~/products/Numbersong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/qAIyISqMguA" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/REfR0tiBzWo" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Shapessong"><img src="/img/products/shapes.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Shapessong">Shapes Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Universal Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Inspired from a Spanish song about shapes, this song is used for helping children learn shapes using authentic Syriac words.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/Shapessong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/XmDoMz-Oo6Q" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/BjFEYSVpdYs" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Birthdaysong"><img src="/img/products/birthday.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Birthdaysong">Happy Birthday Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Universal Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Inspired from the popular "Happy Birthday" song. This sing a long song greets both boys and girls in Syriac on their birthday using the popular birthday tune. </p>
                            <a style="background-color:#32a6de" href="~/products/Birthdaysong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/dcb8I8izauc" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/69J8QafbKHo" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/mondayschildsong"><img src="/img/products/mondayschild.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/mondayschildsong">Monday's Child Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>This song is based on the popular nursery rhyme “Monday’s Child”. It is supposed to teach and help children remember the days of the week.</p>
                            <a style="background-color:#32a6de" href="~/products/mondayschildsong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/IFO9wdXhFfQ" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/lsafU-IqP18" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Colorssong"><img src="/img/products/colorssong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Colorssong">Colors Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>This song is used for helping children learn colors using authentic words. Simply place colors in front of them and have them pick out the color that you sing about.</p>
                            <a style="background-color:#32a6de" href="~/products/Colorssong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/npJ3Ol-bHYI" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/GdvbfXHQvHM" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Radiokifoapp"><img src="/img/products/RadioKifo.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:orange">App</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Radiokifoapp">Radio Kifo App</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-mobile"></i> App</li>
                                        <li><i class="fa fa-info"></i> Radio App </li>
                                    </ul>
                                </div>
                            </div>
                            <p>A new project by the Suryoyo Patriarchal Youth Department (SPYD), which focuses on the young Syriac Christian Youth.  Radio Kifo is an Internet radio broadcasting worldwide with the goal of spreading the voice of the Christian faith to everyone in Classical Syriac, Surayt, Arabic, and English.</p>
                            <a style="background-color:#32a6de" href="~/products/Radiokifoapp" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://itunes.apple.com/us/app/radio-kifo/id1230356699?mt=8" class="btn btn-warning btn-shadow">Get it on the App Store!</a>
                            <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.suryo.radiokifo&hl=en" class="btn btn-primary btn-shadow">Get it on the Google Play!</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Santasong"><img src="/img/products/santa.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Santasong">Santa Claus is Coming To Town Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Holiday Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>This song is inpired by the world famous 1930's American song “Santa Claus is Coming to Town.” Enjoy and celebrate Christmas with a special version in your beloved Syriac language. </p>
                            <a style="background-color:#32a6de" href="~/products/Santasong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/mVxsUbTTab4" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Z5Stgq4oZX4" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Kanuguessapp"><img src="/img/products/Kanu_Guess_Teaser.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:orange">App</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Kanuguessapp">KANU GUESS App</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-mobile-phone"></i> App</li>
                                        <li><i class="fa fa-info"></i> Game App </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one.  KANU GUESS is our first video game challenging you to learn new words.  Available on Android and iOS.  Look out for new levels and updates.</p>
                            <a style="background-color:#32a6de" href="~/products/Kanuguessapp" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://itunes.apple.com/us/app/kanu-guess/id1299765596" class="btn btn-warning btn-shadow">Get it on the App Store!</a>
                            <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.Kanusoft.BetKanu.KanuGuess" class="btn btn-primary btn-shadow">Get it on the Google Play!</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/studio/ninoandmia"><img src="/img/products/nino.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:red">Cartoon</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/studio/ninoandmia">Nino & Mia Cartoon Series</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-video-camera"></i> Children's Cartoon</li>
                                        <li><i class="fa fa-info"></i> Educational Cartoon </li>
                                    </ul>
                                </div>
                            </div>
                            <p>Nino is always getting himself into trouble, thankfully he has Mia to help him get out of it!</p>
                            <a style="background-color:#32a6de" href="~/studio/ninoandmia" class="btn btn-info btn-shadow">See More</a>
                            <a style="background-color: #f6a500" href="https://www.youtube.com/playlist?list=PLsfZA-ZA9qwoCh-QBYjsHqhoY1n9aCWrm" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://www.youtube.com/playlist?list=PLsfZA-ZA9qwrYq1XMkYA3L8O8iLK_naLo" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Fingerfamily"><img src="/img/products/Finger Family.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Fingerfamily">Finger Family Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>A translation of the world popular song to ensure that our children have a version in their language. Learn about family and sing along with your infants and toddlers.</p>
                            <a style="background-color:#32a6de" href="~/products/Fingerfamily" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/iYHLY-Ogl3I" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/oJHar7NKdlg" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/Bethnahrin"><img src="/img/products/bethnahrin.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/Bethnahrin">Beth Nahrin Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>Come learn about ancient Mesopotamia using this catchy song! The cartoon showcases the Ishtar Gates, a Ziggurat, and a King!</p>

                            <a style="background-color: #f6a500" href="https://www.youtube.com/watch?v=NkUJdlGclag&t=12s" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="post post-md no-border ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumbnail">
                                <a href="~/products/BirdSong"><img src="/img/products/BirdSong.jpg" loading="lazy" alt="" style="width:50%"></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/BirdSong">The Bird Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Universal Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>The story of a young girl who saves a baby bird from danger, told in a fun song and cartoon! This melody was inpired from the French folk song, "Une Souris Verte."</p>
                            <a style="background-color:#32a6de" href="~/products/BirdSong" class="btn btn-info btn-shadow">Read More</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/wrs5x483tUA" class="btn btn-warning btn-shadow">Watch in Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/H2wHEgKBq48" class="btn btn-primary btn-shadow">Watch in Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Javascript -->
<script src="./plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="./js/core.min.js"></script>
<script src="./plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<script src="./plugins/masonry/imagesloaded.pkgd.min.js"></script>
<script src="./plugins/masonry/masonry.pkgd.min.js"></script>
<script>
    (function ($) {
        "use strict";
        // Masonry
        var $container = $('.masonry');
        $($container).imagesLoaded(function () {
            $($container).masonry({
                itemSelector: '.masonry-item',
                columnWidth: '.masonry-item'
            });
        });

        // Lightbox
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        // Filter
        var $filter = $('.filter a').click(function (e) {
            e.preventDefault();
            var id = $(this).attr("href");
            if (id == '#all') {
                $('.masonry-item').removeClass('faded');
            } else {
                var $el = $(id).removeClass('faded');
                $('.masonry-item').not($el).addClass('faded');
            }
            $filter.removeClass('active');
            $(this).addClass('active');
        });
    })(jQuery);
</script>



