
@{
    ViewBag.Title = "johnnyjohnnySong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/johnnyjohnnysong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/johnnyjohnnysong_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Johnny Johnny Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Sep 23, 2019</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Universal Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            An international song about a child, Johnny, who is caught by his father to have lied about whether he is "eating sugar".  This song has both a funny humor and a valuable lesson for kids.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">ܚܢܳܐ ܚܢܳܐ، ܟܲܢܝܼ! ܐܶܝ ܒܰܒܰܐ</p>
                            <p class="Surayt font-size-22">ܟܳܐܟ̥ܠܰܬ ܫܰܟܰܪ؟ ܠܳܐ ܒܰܒܰܐ</p>
                            <p class="Surayt font-size-22">ܟܳܡܕܰܓܠܰܬ ܐܰܥܠܝ؟ ܠܳܐ ܒܰܒܰܐ</p>
                            <p class="Surayt font-size-22">ܦܬܰܚ ܠܺܝ ܦܶܡܳܟ̥، ܗܰܗܰܗܰܗܰ</p>
                            <p class="Surayt font-size-22">ܚܢܳܐ ܚܢܳܐ، ܟܲܢܝܼ! ܐܶܝ ܡܰܡܰܐ</p>
                            <p class="Surayt font-size-22">ܟܳܐܟ̥ܠܰܬ ܫܰܟܰܪ؟ ܠܳܐ ܡܰܡܰܐ </p>
                            <p class="Surayt font-size-22"> ܟܳܡܕܰܓܠܰܬ ܐܰܥܠܝ؟ ܠܳܐ ܡܰܡܰܐ</p>
                            <p class="Surayt font-size-22"> ܦܬܰܚ ܠܺܝ ܦܶܡܳܟ̥، ܗܰܗܰܗܰܗܰ</p>
                            <p class="Surayt font-size-22"> ܚܢܳܐ ܚܢܳܐ، ܟܲܢܝܼ! ܐܶܝ ܩܰܫّܳܐ </p>
                            <p class="Surayt font-size-22"> ܟܳܐܟ̥ܠܰܬ ܫܰܟܰܪ؟ ܠܳܐ ܩܰܫّܳܐ</p>
                            <p class="Surayt font-size-22"> ܟܳܡܕܰܓܠܰܬ ܐܰܥܠܝ؟ ܠܳܐ ܩܰܫّܳܐ</p>
                            <p class="Surayt font-size-22"> ܦܬܰܚ ܠܺܝ ܦܶܡܳܟ̥، ܗܰܗܰܗܰܗܰ</p>
                            <p class="Surayt font-size-22">ܚܢܳܐ ܚܢܳܐ، ܟܲܢܝܼ! ܐܶܝ ܩܰܫܬܳܐ</p>
                            <p class="Surayt font-size-22"> ܟܳܐܟ̥ܠܰܬ ܫܰܟܰܪ؟ ܠܳܐ ܩܰܫܬܳܐ </p>
                            <p class="Surayt font-size-22"> ܟܳܡܕܰܓܠܰܬ ܐܰܥܠܝ؟ ܠܳܐ ܩܰܫܬܳܐ </p>
                            <p class="Surayt font-size-22">ܦܬܰܚ ܠܺܝ ܦܶܡܳܟ̥، ܗܰܗܰܗܰܗܰ</p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/JohnnyJohnnySongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">ܟܲܢܝܼ، ܟܲܢܝܼ!  ܗܸܐ ܒܵܒܵܐ؟</p>
                            <p class="Surit font-size-22"> ܐ݉ܟ݀ܠܘܿܟܼ ܠܫܸܟܵܪ؟ ܠܵܐ ܒܵܒܵܐ!</p>
                            <p class="Surit font-size-22"> ܕܲܓܘܼܠܸܐ ܝ݉ܘ݀ܬ؟ ܠܵܐ ܒܵܒܵܐ!</p>
                            <p class="Surit font-size-22">ܦܬܘܼܚ ܠܸܗ ܦܘܼܡܘܿܟܼ! ܗܵܐ ܗܵܐ ܗܵܐ…</p>
                            <p class="Surit font-size-22">ܟܲܢܝܼ، ܟܲܢܝܼ! ܗܸܐ ܡܵܡܵܐ؟</p>
                            <p class="Surit font-size-22">ܐ݉ܟ݀ܠܘܿܟܼ ܠܫܸܟܵܪ؟  ܠܵܐ ܡܵܡܵܐ!</p>
                            <p class="Surit font-size-22"> ܕܲܓܘܼܠܸܐ ܝ݉ܘܸܬ؟ ܠܵܐ ܡܵܡܵܐ!</p>
                            <p class="Surit font-size-22">ܦܬܘܼܚ ܠܸܗ ܦܘܼܡܘܿܟܼ! ܗܵܐ ܗܵܐ ܗܵܐ...</p>
                            <p class="Surit font-size-22"> ܟܲܢܝܼ، ܟܲܢܝܼ! ܗܸܐ ܣܵܒܼܵܐ؟</p>
                            <p class="Surit font-size-22">ܐ݉ܟ݀ܠܘܿܟܼ ܠܫܸܟܵܪ؟   ܠܵܐ ܣܵܒܼܵܐ!</p>
                            <p class="Surit font-size-22"> ܕܲܓܘܼܠܸܐ ܝ݉ܘ݀ܬ؟ ܠܵܐ ܣܵܒܼܵܐ!</p>
                            <p class="Surit font-size-22"> ܦܬܘܼܚ ܠܸܗ ܦܘܼܡܘܿܟܼ! ܗܵܐ ܗܵܐ ܗܵܐ…</p>
                            <p class="Surit font-size-22">ܟܲܢܝܼ، ܟܲܢܝܼ!  ܗܸܐ ܣܵܒܼܬܵܐ؟</p>
                            <p class="Surit font-size-22"> ܐ݉ܟ݀ܠܘܿܟܼ ܠܫܸܟܵܪ؟ܠܵܐ ܣܵܒܼܬܵܐ!</p>
                            <p class="Surit font-size-22">ܕܲܓܘܼܠܸܐ ܝ݉ܘ݀ܬ؟   ܠܵܐ ܣܵܒܼܬܵܐ!</p>
                            <p class="Surit font-size-22"> ܦܬܘܼܚ ܠܸܗ ܦܘܼܡܘܿܟܼ! ܗܵܐ ܗܵܐ ܗܵܐ… </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/JohnnyJohnnySongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F95dBr-Kjuc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Johnny Johnny Song - Western Syriac (Surayt font-size-22)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 23, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gxL3afeDTc4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Johnny Johnny Song - Eastern Syriac (Surit font-size-22)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 23, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATIOR AND ANIMATIOR: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong> AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>SIMON MALKI, MILAD S YOUSSEF,MERAY YOUSSEF, ELIAS BUJAKLI, SAMIRA GAWRIEH</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATIOR AND ANIMATIOR: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>  RAMINA SAMUEL</strong></li>
                                    <li>TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>SIMON MALKI, MILAD S YOUSSEF,MERAY YOUSSEF, ELIAS BUJAKLI, SAMIRA GAWRIEH</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
    