
@{
    ViewBag.Title = "JosephtheGardenerSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/JosephtheGardener_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/JosephtheGardener_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Joseph the Gardener | Yawsep Gannana Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Jun 18, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Traditional  Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            "Yawse Ganono" is an old traditional song in Western Surayt, originally released in 1986 by Nineveh group, under the album title "Nineveh Children Songs - Album 1". The song was composed by Ninos Garis and written by Augin Kurt. The song depicts the beautiful work of gardeners in the old days in TurAbdin, which is also representative of our other mountainous regions. Reviving such songs helps with promoting them among the new generation to maintain their connection with their authentic traditions, music, and culture.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">

                                ܝܰܘܣܶܝ ܕܳܕܳܐ ܓܰܢܳܢܳܐ
                                ܟܳܪܳܚ݄ܡ ܗ̄ܽܘ ܦܽܘܠܚܳܢܳܐ ܟܳܥܳܒ̥݄ܕ ܕܠܳܐ ܟ݄ܠܝܳܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܝܰܘܣܶܝ ܕܳܕܳܐ ܓܰܢܳܢܳܐ
                                ܟܡܰܫܬܶܐ ܗ̄ܺܝ ܓܰܢܬ̥ܳܐ ܪܰܒܬ̥ܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܟܺܝܬܳܐ ܒ݄ܬ̥ܪܶܗ ܕܺܗ̄ܝ ܫܰܘܬܳܐ
                                ܡܰܠܝܳܐ ܡܺܗ̄ܝ ܝܰܪܽܘܩܽܘܬ̥ܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܦܺܐܪ̈ܶܐ ܕܺܗ̄ܝ ܒܰܣܺܝܡܽܘܬ̥ܳܐ
                                ܩܳܛܰܦ ܠܰܢ ܡܰܗ̄ܢ ܐܺܝ̈ܠܳܢܶܐ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܥܶܢܒ̥̈ܶܐ ܘܬܶܐܢ̈ܶܐ ܘܪܰܝܡܽܘܢ̈ܶܐ
                                ܟܝܳܬܒ̥ܺܝܢܰܐ ܥܰܠ ܗ̄ܰܓّܶܠܳܢ̈ܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܳܡܟ̥ܺܝܢܰܐ ܒܰܦّܽܘܚܳܢ̈ܶܐ
                                ܢܺܚܶܐ ܕܳܕܰܢ ܓܰܢܳܢܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܟ݄ܬܝܳܐ ܣܰܓܺܝ ܚܰܢܳܢܳܐ
                                ܟ݄ܬ ܠܶܗ ܠܶܒܳܐ ܡܪܰܚܡܳܢܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܝܰܘܣܶܝ ܕܳܕܰܢ ܓܰܢܳܢܳܐ


                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/JosephTheGardenerSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">

                                ܝܵܘܣܸܦ ܥܲܡܵܐ ܓܲܢܵܢܵܐ
                                ܟܹܐ ܡܲܚܸܒ ܠܗܵܘ ܦܘܼܠܚܵܢܵܐ

                            </p>
                            <p class="Surit font-size-22">

                                ܟܹܐ ܦܵܠܹܚ ܕܠܵܐ ܟܸܠܝܵܢܵܐ
                                ܝܵܘܣܸܦ ܥܲܡܵܐ ܓܲܢܵܢܵܐ

                            </p>
                            <p class="Surit font-size-22">

                                ܟܡܲܫܬܹܐ ܠܗܵܝ ܓܲܢܬܵܐ ܪܲܒܬܵܐ
                                ܕܝܼܠܵܗܿ ܒܵܬܲܪ ܥܵܠܘܿܠܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܠܝܼܬܵܐ ܡܼܢ ܝܲܪܘܼܩܘܼܬܵܐ
                                ܘܦܹܐܪܹ̈ܐ ܕܗܵܝ ܒܲܣܝܼܡܘܼܬܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܩܵܛܹܦ ܠܲܢ ܡܕܐܵܢܝ݇ ܐܝܼܠܵܢܹ̈ܐ
                                ܥܸܢܒܹ̈ܐ ܘܬܹܐܢܹ̈ܐ ܘܪܸ̈ܡܘܿܢܹܐ

                            </p>
                            <p class="Surit font-size-22">

                                ܟܹܐ ܝܵܬܒܼܲܚ ܥܲܠ ܓܸܠܵܠܹ̈ܐ
                                ܟܹܐ ܕܵܡܟܼܲܚ ܬܚܘܿܬ ܛܸܠܵܠܹ̈ܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܚܵܝܹܐ ܥܲܡܲܢ ܓܲܢܵܢܵܐ
                                ܕܝܼܠܹܐ ܪܵܒܵܐ ܚܲܢܵܢܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܘܐܝܼܬ ܠܹܗ ܠܸܒܵܐ ܡܪܲܚܡܵܢܵܐ
                                ܝܵܘܣܸܦ ܥܲܡܵܐ ܡܪܲܚܡܵܢܵܐ


                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/JosephTheGardenerSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0VAT2tbeTJo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Joseph the Gardener | Yawse Ganono | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Jun 18, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mW6OVV4Lrzc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Joseph the Gardener | Yawsep Gannana | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jun 18, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>MILAD YOUSSEF</strong></li>
                                    <li>WESTERN TYPING : <strong> BOTRES SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR : <strong> DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER : <strong> MIRNA SHAMOUN</strong></li>
                                    <li>CHORUS : <strong> MIMRA KERIAKUS, MILA KERIAKUS</strong></li>
                                    <li>OUD : <strong> FADI ISSAC</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li>
                                        REFERENCE : <strong>
                                            "Yawse Ganono" composed by Ninos Garis & written by Augin Kurt.
                                            "Nineveh Children Songs - Album 1." Nineveh Group, 1986.
                                        </strong>
                                    </li>

                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>MILAD YOUSSEF</strong></li>
                                    <li>EASTERN TRANSLATION : <strong> RAMINA SAMUEL, MARGANITA SAMUEL</strong></li>
                                    <li>EASTERN SUPERVISION : <strong> RAMINA SAMUEL</strong></li>
                                    <li>SINGER : <strong> MIRNA SHAMOUN</strong></li>
                                    <li>CHORUS : <strong> MIMRA KERIAKUS, MILA KERIAKUS</strong></li>
                                    <li>OUD : <strong> FADI ISSAC</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li>
                                        REFERENCE : <strong>
                                            "Yawse Ganono" composed by Ninos Garis & written by Augin Kurt.
                                            "Nineveh Children Songs - Album 1." Nineveh Group, 1986.
                                        </strong>
                                    </li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
