
@{
    ViewBag.Title = "KanuguessApp";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/kanuguessapp_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/kanuguessapp_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Kanu Guess</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-mobile"></i> App</li>
                                    <li><i class="fa fa-calendar-o"></i> Oct 26, 2018</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one. KANU GUESS is our first video game challenging you to learn new words. Available on Android and iOS. Look out for new levels and updates.
                        </p>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <p>
                                BET KANU presents its own version of the classical trivia game 4 pictures 1 word.
                            </p>
                            <p>
                                The game will challenge your Syriac skills in an entertaining way.
                            </p>
                            <p>
                                If you love guessing, then you will love KANU GUESS.
                            </p>
                            <p>
                                Can you guess the word in Syriac?
                            </p>
                            <p>
                                The game has multiple Syriac language skill levels. It starts with 1 picture 1 word, and then ends with 4 pictures 1 word.
                            </p>
                            <p>
                                The picture(s) will show, and you will get a list of random letters to pick the right combination of letters to construct the word that is depicted in the picture(s). :)

                                You can use either the Eastern Syriac font (East Marcus) or the Western Syriac font (Serto Urhoy).

                            </p>

                        </div>

                        <div class="well" style="text-align:left ; direction:ltr">
                            <h4 style="text-align:left ; direction:ltr">WHAT'S NEW:</h4>

                            <p>
                                KANU GUESS V3 Upgrade is HERE!
                            </p>
                            <ul>
                                <li>
                                    Adding 3 new categories
                                </li>
                                <li>
                                    Reset game feature.
                                </li>
                                <li>
                                    Automatic download of new categories!
                                </li>
                                <li>
                                    Enhanced visuals!
                                </li>
                            </ul>

                        </div>
                        <div class="widget widget-list">
                            <div class="title">Features</div>
                            <div class="  col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <ul>
                                    <li>
                                        <img class="thumb" src="/img/blog/xs/1.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Updated</strong></h4>
                                            <p><i class="fa fa-refresh"></i> October 26, 2018</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="/img/blog/xs/2.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Size</strong></h4>
                                            <p><i class="fa fa-gear"></i> 33 M</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="/img/blog/xs/3.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Installs</strong></h4>
                                            <p><i class="fa fa-download"></i>2,000+</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="  col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                <ul>

                                    <li>
                                        <img class="thumb" src="/img/blog/xs/4.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Current Version</strong></h4>
                                            <p><i class="fa fa-check"></i> 3 </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="/img/blog/xs/5.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Requires Android</strong></h4>
                                            <p><i class="fa fa-android"></i>4.1 and up</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img class="thumb" src="/img/blog/xs/6.jpg" alt="">
                                        <div class="widget-list-meta">
                                            <h4 class="widget-list-title"><strong>Content Rating</strong></h4>
                                            <p><i class="fa fa-star"></i> Rated for 4+</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>Updated</strong>
                                </p>
                                <p>
                                    October 26, 2018
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="well">
                                    <p>
                                        <strong>Size</strong>
                                    </p>
                                    <p>
                                        33M
                                    </p>
                                </div>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>Installs</strong>
                                </p>
                                <p>
                                    1,000+
                                </p>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>
                                        Current Version
                                    </strong>
                                </p>
                                <p>
                                    3
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="well">
                                    <p>
                                        <strong>
                                            Requires Android
                                        </strong>
                                    </p>
                                    <p>
                                        4.1 and up
                                    </p>
                                </div>
                            </div>
                            <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <p>
                                    <strong>
                                        Content Rating
                                    </strong>
                                </p>
                                <p>
                                    Rated for 4+
                                </p>
                            </div>*@
                        <p> &nbsp;</p>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="title outline">
                                    <h4><i class="fa fa-life-ring"></i>Hidden Gems</h4><br><br>
                                </div>
                            </div>
                        </div>

                        <div class="post post-md  no-border">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="post-thumbnail">
                                        <a href="https://gameskeys.net/top-offline-games-to-play-on-ios-hidden-gems/"><img src="~\Content\img\Products\materials/hiddengems.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h4>
                                        KANU GUESS App has been selected by "gameskeys.net" to be on the Top Offline games to play on IOS (Hidden Gems) list for 2020
                                    </h4>
                                    &nbsp;
                                    <p>
                                        If you’re worried about playing games on your Mobile data or if you’re traveling with no wifi connection then offline games are the way to go. Playing games on mobile data can get expensive especially if you haven’t subscribed to any package. We have curated a list of hidden gems that will make your life fun.
                                    </p>
                                    <a href="https://gameskeys.net/top-offline-games-to-play-on-ios-hidden-gems/" class="btn btn-success btn-block">Read full Article</a>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                <div class="col-md-4 rightside">

                    <div class="col-md-12">

                        <div class="row">
                            <p>
                                &nbsp;
                            </p>
                            <a href="https://itunes.apple.com/us/app/kanu-guess/id1299765596" class="btn btn-warning btn-block">Get it on the App Store!</a>
                            <a href="https://play.google.com/store/apps/details?id=com.Kanusoft.BetKanu.KanuGuess" class="btn btn-warning btn-block">Get it on the Google Play!</a>
                            <p>
                                &nbsp;
                            </p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/materials/kanu1.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/materials/kanu2.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/materials/kanu3.jpg" alt="">

                                </div>
                            </div>

                            @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="well">
                                 <img src="/img/products/materials/kanu4.jpg" alt="" >




                                    </div>
                                </div>*@

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">


                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>