
@{
    ViewBag.Title = "MarySong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/marysong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/marysong_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Mary Had a Little Lamb Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Jan 14, 2019</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Based on the original "Mary Had a Little Lamb," a children's nursery rhyme provided in our beloved language.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">
                                ܡܰܪܝܰܡ ܟ݄ܬ ܗ̄ܘܰܝ ܠܰܗ ܦܰܪܳܐ
                                ܠܰܗ ܦܰܪܳܐ، ܠܰܗ ܦܰܪܳܐ
                                ܡܰܪܝܰܡ ܟ݄ܬ ܗ̄ܘܰܝ ܠܰܗ ܦܰܪܳܐ
                                ܕܽܗ̄ܘ ܥܰܡܪܳܐ ܚܶܘܳܪܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܘܐܰܝܟܳܐ ܕܟܙّܰܗ ܡܰܪܝܽܘܡܰܗ
                                ܡܰܪܝܽܘܡܰܗ،  ܡܰܪܝܽܘܡܰܗ
                                ܘܐܰܝܟܳܐ ܕܟܙّܰܗ ܡܰܪܝܽܘܡܰܗ
                                ܟܙّܶܗ ܗܝّܶܗ ܐܰܥܡܰܗ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܒܝܰܘܡܳܐ ܒ݄ܬ̥ܪܰܗ ܡܗܰܠܰܟ̥ ܠܶܗ
                                ܡܗܰܠܰܟ̥ ܠܶܗ، ܡܗܰܠܰܟ̥ ܠܶܗ
                                ܒܝܰܘܡܳܐ ܒ݄ܬ̥ܪܰܗ ܡܗܰܠܰܟ̥ ܠܶܗ
                                ܘܠܺܗ̄ܝ ܡܰܕܪܰܫܬܳܐ ܡܰܛܺܝ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܛܪܶܐ ܠܶܗ ܗ̄ܰܙܥܽܘܖ̈ܶܐ ܓ݄ܚܟ̥ܺܝ
                                ܪܶܐ ܓ݄ܚܟ̥ܺܝ، ܪܶܐ ܓ݄ܚܟ̥ܺܝ
                                ܛܪܶܠܶܗ ܗ̄ܰܙܥܽܘܖ̈ܶܐ ܓ݄ܚܟ̥ܺܝ
                                ܘܡܽܗ̄ܘ ܓܰܚܟ̥ܳܐ ܦܪܺܝܛܺܝ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܘܽܗ̄ܘ ܡܰܠܦܳܢܳܐ ܡܰܙܥܰܩ ܠܶܗ
                                ܡܰܙܥܰܩ ܠܶܗ، ܡܰܙܥܰܩ ܠܶܗ
                                ܘܽܗ̄ܘ ܡܰܠܦܳܢܳܐ ܡܰܙܥܰܩ ܠܶܗ
                                ܘܦܰܪܳܐ ܠܳܐ ܡܰܪܚܰܩ ܠܶܗ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܢܰܛ݄ܪ ܗ̄ܘܰܐ ܘ݄ܡܣܰܝܒܰܪ ܠܶܗ
                                ܡܣܰܝܒܰܪ ܠܶܗ، ܡܣܰܝܒܰܪ ܠܶܗ
                                ܢܰܛ݄ܪ ܗ̄ܘܰܐ ܘ݄ܡܣܰܝܒܰܪ ܠܶܗ
                                ܗܳܠ ܕܡܰܪܝܰܡ ܩܪܶܐ ܠܰܗ ܠܶܗ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܩܰܝ ܦܰܪܳܐ ܟܪܳܚ݄ܡ ܡܰܪܝܰܡ
                                ܪܳܚ݄ܡ ܡܰܪܝܰܡ، ܪܳܚ݄ܡ ܡܰܪܝܰܡ
                                ܩܰܝ ܦܰܪܳܐ ܟܪܳܚ݄ܡ ܡܰܪܝܰܡ
                                ܗ̄ܰܙܥܽܘܖ̈ܶܐ ܡܫܰܐܝܰܠّܶܗ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܥܰܠ ܕܡܰܪܝܰܡ ܟܳܪܳܚܡܳܐ ܠܶܗ
                                ܪܳܚܡܳܐ ܠܶܗ، ܪܳܚܡܳܐ ܠܶܗ
                                ܥܰܠ ܕܡܰܪܝܰܡ ܟܳܪܳܚܡܳܐ ܠܶܗ
                                ܗ̄ܽܘ ܡܰܠܦܳܢܳܐ ܐܡ݄ܪ ܠܶܗ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܡܰܪܝܰܡ ܟ݄ܬ ܗ̄ܘܰܝ ܠܰܗ ܦܰܪܳܐ
                                ܠܰܗ ܦܰܪܳܐ، ܠܰܗ ܦܰܪܳܐ
                                ܡܰܪܝܰܡ ܟ݄ܬ ܠܰܗ ܩܰܪܩܽܘܪܳܐ
                                ܕܽܗ̄ܘ ܥܰܡܪܳܐ ܚܶܘܳܪܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MaryHadALittleLambSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܡܲܪܝܲܡ ܐܝܼܬ ܠܵܗ ܚܲܕ݉ ܦܵܪܵܐ،
                                ܚܲܕ݉ ܦܵܪܵܐ، ܚܲܕ݉ ܦܵܪܵܐ
                                ܡܲܪܝܲܡ ܐܝܼܬ ܠܵܗ ܚܲܕ݉ ܦܵܪܵܐ،
                                ܥܲܡܪܘܗ ܬܲܠܓܵܐ ܚܘܵܪܵܐ
                            </p>
                            <p class="Surit font-size-22">
                                ܟܠ ܕܘܼܟܵܐ ܕܡܲܪܝܲܡ ܐܵܙܵܠ݉ܐ،
                                ܡܲܪܝܲܡ ܐܵܙܵܠ݉ܐ، ܡܲܪܝܲܡ ܐܵܙܵܠ݉ܐ
                                ܟܠ ܕܘܼܟܵܐ ܕܡܲܪܝܲܡ ܐܵܙܵܠ݉ܐ
                                ܦܵܪܵܐ ܝܐܵܙܸܠ݉ ܒܵܬ݉ܪܵܗܿ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܠܡܲܕܪܵܫܬܵܐ ܪ݉ܚ݀ܫ ܠܸܗ ܒܵܬ݉ܪܵܗܿ
                                ܪ݉ܚ݀ܫ ܠܸܗ ܒܵܬ݉ܪܵܗܿ
                                ܪ݉ܚ݀ܫ ܠܸܗ ܒܵܬ݉ܪܵܗܿ
                                ܠܡܲܕܪܵܫܬܵܐ ܪ݉ܚ݀ܫ ܠܸܗ ܒܵܬ݉ܪܵܗܿ
                                ܕܠܲܝܬ ܗ݉ܘܵܐ ܐܵܦ ܚܲܕ݉ ܦܵܪܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܙܥܘܿܖܸ̈ܐ ܚܕܝܼܠܗܘܿܢ ܘܛܐܘܼܠܗܘܿܢ،
                                ܘܛܐܘܼܠܗܘܿܢ، ܘܛܐܘܼܠܗܘܿܢ
                                ܙܥܘܿܖܸ̈ܐ ܚܕܝܼܠܗܘܿܢ ܘܛܐܘܼܠܗܘܿܢ،
                                ܠܚܙܵܝܬܵܐ ܕܦܵܪܵܐ ܚܘܵܪܵܐ
                            </p><br>
                            <p class="Surit font-size-22">
                                ܘܡܲܠܦܵܢܵܐ ܩܲܡ ܛܵܪܸܕ ܠܸܗ،
                                ܛܵܪܸܕ ܠܸܗ، ܛܵܪܸܕ ܠܸܗ
                                ܘܡܲܠܦܵܢܵܐ ܩܲܡ ܛܵܪܸܕ ܠܸܗ
                                ܗܲܠ ܕܦܝܼܫ ܠܸܗ ܩܲܕ݉ܡ ܬܲܪܥܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܢܛ݀ܪ ܠܸܗ ܘܣܦ݀ܪ ܠܸܗ ܗܿܘ ܦܵܪܵܐ،
                                ܗܿܘ ܦܵܪܵܐ، ܗܿܘ ܦܵܪܵܐ
                                ܢܛ݀ܪ ܠܸܗ ܘܣܦ݀ܪ ܠܸܗ ܗܿܘ ܦܵܪܵܐ،
                                ܕܦܵܐ݀ܫ ܩ݀ܪܝܵܐ ܠܥܒܼܵܪܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܩܵܡܘܿܕ݉ܝ݉ ܝܡܲܚ݀ܒ ܐܵܗܐ݉ ܡܲܪܝܲܡ،
                                ܐܵܗܐ݉ ܡܲܪܝܲܡ، ܐܵܗܐ݉ ܡܲܪܝܲܡ؟
                                ܩܵܡܘܿܕ݉ܝ݉ ܝܡܲܚ݀ܒ ܐܵܗܐ݉ ܡܲܪܝܲܡ؟
                                ܒܘܼܩ݀ܪܠܗܘܿܢ ܐܵܢܝ݉ ܙܥܘܿܖܸ̈ܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܡܲܪܝܲܡ ܝܡܲܚܒܵܐ ܐܵܗܐ݉ ܦܵܪܵܐ،
                                ܐܵܗܐ݉ ܦܵܪܵܐ، ܐܵܗܐ݉ ܦܵܪܵܐ
                                ܡܲܪܝܲܡ ܝܡܲܚܒܵܐ ܐܵܗܐ݉ ܦܵܪܵܐ،
                                ܗܿܘ ܡܲܠܦܵܢܵܐ ܐ݉ܡ݀ܪܸܗ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MaryHadALittleLambSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7OZXTGnu9g8?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Mary Had a Little Lamb - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jan 14, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QedNrSsszTw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Mary Had a Little Lamb - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jan 14, 2019</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>   AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>RNIA MALKI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>   RAMINA SAMUEL</strong></li>
                                    <li>TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>RNIA MALKI</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
