
@{
    ViewBag.Title = "MomisComigNowSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img style="display:none" src="https://www.alhanouffarm.com/content/assets/images\articles\1\1.jpg" alt="Awesome Image">

            <img src="/img/products/banners/momiscoming_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/momiscoming_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Mom is Coming Now Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Sep 15, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Children Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Way back to 1951 in Egypt, "Mama Zamanha Gaya" - "ماما زمنها جاية" , the very first filmed children's song was born in Egypt. The song was beautifully written and sung by Muhamad Fawzi, and composed by FatHi Qora. The song is about a father who is taking care of his child, while the mother is away from home. The father then keeps trying to entertain the child, while giving her/him good life lessons using beautiful and affective singing and acting. You could do the same for your child, and you can add your own version of a life lesson in the second and third parts of the song.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                -ܡܰܡܰܐ ܓܕܳܐܬ̥ܝܳܐ ܐܽܘܥܕܳܐ
                                ܐܽܘܥܕܳܐ ܒ݄ܬ̥݄ܪ ܫܰܘܛܳܐ
                                ܘܰܐܥܡܰܗ ܟܡܳܐ ܕܳܫܢ̈ܶܐ
                                ܟܺܝܬܳܐ ܐܰܥܡܰܗ ܨܶܡܕܳܐ
                                ܟܺܝܒܰܗ ܘܰܙܳܐ ܘܒܰܛܳܐ
                                ܟ݄ܐܡّܳܪ̱ܐ: ܒ݄ܛ ܒ݄ܛ ܒ݄ܛ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟ݄ܐܕܥܰܬ ܗ̄ܽܘ ܐܰܒܪܳܐ ܕ݄ܐܫܡܶܗ ܓܰܒܪܳܐ
                                ܐܰܬ̥ܺܝ ܗ̄ܽܘ ܐܳܣܝܳܐ ܘܡ݄ܢ ܣ݄ܡ ܠܶܗ ؟
                                ܚܙܶܐ ܠܶܗ ܡ݄ܩّܰܐ ܕܟ݄ܬܝܳܐ ܡܚܺܝܠܳܐ
                                ܘ݄ܒܥܰܝ̈ܢܳܬ̥ܶܗ ܗ̄ܰܬܪܶ ܚ݄ܪ ܠܶܗ.

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܽܘ ܐܳܣܝܳܐ ܡܚܶܐ ܠܶܗ ܠܶܗ ܡܚܰܛܳܐ
                                ܟ݄ܐܕܥܰܬ ܩܰܝ ܗܰܘܟ̥ܰܐ ܣ݄ܡ ܠܶܗ ؟
                                ܥܰܠ ܠ݄ܐ ܟܫܳܬܶܐ ܚܰܠܒ̥ܳܐ ܒܨܰܦܪܳܐ
                                ܐܟ̥ ܕܟܳܫܳܬ݄ܢ ܚܰܒ̥ܪ̈ܳܢܰܝܕ̥ܶܗ
                                ܘܡܽܗ̄ܘ ܝܰܘܡܰܘܳܐ ܫܬܶܐ ܠܶܗ ܘܝܰܪܽܒ̥
                                ܘܗܰܘܺܝ ܩܰܘܝܳܐ ܘܓܰܒܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܰܡܰܐ ܓܕܳܐܬ̥ܝܳܐ ܐܽܘܥܕܳܐ
                                ܐܽܘܥܕܳܐ ܒ݄ܬ̥݄ܪ ܫܰܘܛܳܐ
                                ܘܰܐܥܡܰܗ ܟܡܳܐ ܕܳܫܢ̈ܶܐ
                                ܟܺܝܬܳܐ ܐܰܥܡܰܗ ܨܶܡܕܳܐ
                                ܟܺܝܒܰܗ ܘܰܙܳܐ ܘܒܰܛܳܐ
                                ܟ݄ܐܡّܳܪ̱ܐ: ܒ݄ܛ ܒ݄ܛ ܒ݄ܛ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܟ݄ܐܕܥܰܬ ܡܬܰܐܣܪܳܐ ܐܺܝܕ̥ܶܗ ܕܢܺܝܢܳܘܣ
                                ܘܶܐܡܶܗ ܓ̥ܒܺܝܢܳܐ ܡ݄ܩّܰܐܝ݄ܣ
                                ܟܡ݄ܫܬܰܥܶܐ ܗ̱ܘܰܐ ܒܰܩّܰܣ̈ܠܽܘܣܶܐ
                                ܘܡܰܕܠܰܩ ܗ̱ܘܰܐ ܢܽܘܪܳܐ ܕܠܳܐ ܚ݄ܣ
                                ܘ݄ܒܝܰܘܡܳܐ ܡܰܘܩܰܕ̥ ܠܶܗ ܟܡܳܐ ܩܰܝ̈ܣܶܐ
                                ܘܚܳܬ̥ܶܗ ܚܰܢܰܐ ܚܙܶܐ ܠܰܗ ܠܶܗ
                                ܩܰܝ݄ܡ ܗ̄ܺܝ ܢܽܘܪܳܐ ܡܰܛܝܳܐ ܠܺܐܝܕ̥ܶܗ
                                ܘܡܰܘܩܰܕ̥ ܠܰܗ ܠܶܗ ܘܡܰܟܽܒ̥ ܠܰܗ ܠܶܗ
                                ܘܡܝܰܘܡܰܝܕ̥ܰܗ ܗܰܘܺܝ ܢܰܗܺܝܪܳܐ
                                ܘܗܰܘ ܟܡ݄ܫܬܰܥܶܐ ܒܺܗ̄ܝ ܢܽܘܪܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MomIsComingNowSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܡܵܡܵܐ ܗܵܕܝܼܵܐ ܒܐܵܬܝܵܐ
                                ܒܐܵܬܝܵܐ ܚܲܕ݇ܟ̰ܵܐ ܐ݇ܚܹܪ݇ܢܵܐ
                                ܘܡܸܢܵܗܿ ܪܵܒܵܐ ܕܲܫܢܹ̈ܐ
                                ܡܸܢܵܗܿ ܨܸܡܕܵܐ ܒܡܲܬܝܵܐ
                                ܓܵܘܹܗ ܘܲܙܵܐ ܘܒܲܛܵܐ
                                ܐܵܡܪܝܼ ܘܵܩ ܘܵܩ ܘܵܩ


                            </p>
                            <p class="Surit font-size-22">

                                ܝܵܕܥܸܬ ܠܝܵܠܵܕ݇ܐ ܕܲܫܡܹܗ ܐܲܬܪܵܐ
                                ܐ݇ܬܹܐ ܠܹܗ ܐܵܣܝܵܐ ܘܡܘܿܕ݇ܝ݇ ܥܒܸܕܠܹܗ
                                ܚܙܹܐ ܠܹܗ ܟܡܵܐ ܝܠܹܗ ܐܲܬܪܵܐ ܡܚܝ݂ܠܵܐ
                                ܘܒܥܲܝܢܹ̈ܗ ܐܵܣܝܵܐ ܓܘܼܫܸܩܠܹܗ
                                ܘܚܕܵܐ ܡܚܵܛܵܐ ܩܲܡ ܡܵܚܹܐ ܠܹܗ
                                ܝܵܕܥܸܬ ܠܡܵܐ ܗܵܕܵܟ݂ ܥܒܸܕܠܹܗ؟

                            </p>
                            <p class="Surit font-size-22">
                                ܠܵܐ ܫܵܬܹܐ ܗ݇ܘܵܐ ܚܲܠܒܼܵܐ ܒܨܲܦܪܵܐ
                                ܡܐܲܝܟܼ ܕܚܲܒ݂ܪ̈ܵܢܹܗ ܟܹܐ ܫܵܬܝܼ ܗ݇ܘܵܘ
                                ܘܡܼܢ ܕܗܵܘ ܝܵܘܡܵܐ ܫܬܹܐ ܠܹܗ ܘܪܒܹܐ ܠܹܗ
                                ܕܗܵܘܹܐ ܩܲܘܝܵܐ ܘܟܲܫܝܼܪܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܡܵܡܵܐ ܗܵܕܝܼܵܐ ܒܐܵܬܝܵܐ
                                ܒܐܵܬܝܵܐ ܚܲܕ݇ܟ̰ܵܐ ܐ݇ܚܹܪ݇ܢܵܐ
                                ܘܡܸܢܵܗܿ ܪܵܒܵܐ ܕܲܫܢܹ̈ܐ
                                ܡܸܢܵܗܿ ܨܸܡܕܵܐ ܒܡܲܬܝܵܐ
                                ܓܵܘܹܗ ܘܲܙܵܐ ܘܒܲܛܵܐ
                                ܐܵܡܪܝܼ ܘܵܩ ܘܵܩ ܘܵܩ


                            </p>
                            <p class="Surit font-size-22">
                                ܘܢܝܼܢܘܿܣ ܐܝܼܕܹܗ ܝܼܗ݇ܘܵܐ ܐ݇ܣܝܼܪܬܵܐ
                                ܘܝܸܡܹܗ ܚܸܪܒܵܐ ܝܗ݇ܘܵܐ ܟܪܝܼܒܬܵܐ
                                ܡܲܚܸܒ ܗ݇ܘܵܐ ܛܲܐܸܠ ܗ݇ܘܵܐ ܒܟܸܒܪܝܼܬ
                                ܒܚܲܕ݇ ܫܸܬܩܵܐ ܘܐܵܦ ܥܲܠܕܲܝܬܵܐ
                                ܘܚܲܕ݇ ܝܵܘܡܵܐ ܩܲܝܣܹ̈ܐ ܡܘܼܠܒܼܚ ܠܹܗ
                                ܘܚܲܢܵܐ ܚܵܬܹܗ ܚܵܙܝܵܐ ܠܹܗ
                                ܢܘܼܪܵܐ ܠܐܝܼܕܵܬܹ̈ܗ ܡܘܩܸܕ ܠܹܗ
                                ܘܗܲܠ ܗܵܕܝܵܐ ܟܹܐ ܡܲܡܪܸܥܝܼ ܠܹܗ
                                ܘܡܼܢ ܕܗܵܘ ܝܵܘܡܵܐ ܪܵܚܹܩ ܡܢܘܼܪܵܐ
                                ܡܲܫܡܸܥ ܘܗܵܘܢܵܢܵܐ ܝܼܠܹܗ


                            </p>
                            <p class="Surit font-size-22">
                                ܡܵܡܵܐ ܗܵܕܝܼܵܐ ܒܐܵܬܝܵܐ
                                ܒܐܵܬܝܵܐ ܚܲܕ݇ܟ̰ܵܐ ܐ݇ܚܹܪ݇ܢܵܐ
                                ܘܡܸܢܵܗܿ ܪܵܒܵܐ ܕܲܫܢܹ̈ܐ
                                ܡܸܢܵܗܿ ܨܸܡܕܵܐ ܒܡܲܬܝܵܐ
                                ܓܵܘܹܗ ܘܲܙܵܐ ܘܒܲܛܵܐ
                                ܐܵܡܪܝܼ ܘܵܩ ܘܵܩ ܘܵܩ


                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MomIsComingNowSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l5KQ8OEX2qc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Mom is Coming now Song - Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Sep 15, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GiEla7RV2Fw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Mom is Coming now Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Sep 15, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>MILAD YOUSSEF</strong></li>
                                    <li>TRANSLATED LYRICS : <strong>AKKAD SAADI  </strong></li>
                                    <li>WESTERN TYPING : <strong> BOTRES SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR : <strong> DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER : <strong> ADIB KAZO</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li> PRODUCTION DIRECTOR: <strong> AKKAD SAADI</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>MILAD YOUSSEF</strong></li>
                                    <li>TRANSLATED LYRICS : <strong>AKKAD SAADI  </strong></li>
                                    <li>LYRICS TRANSLATION AND TYPING : <strong> RAMINA SAMUEL, SHIBLA BETSHMUEL</strong></li>
                                    <li>EASTERN SUPERVISION : <strong> RAMINA SAMUEL</strong></li>
                                    <li>SINGER : <strong> ALAN GEORGE</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li> PRODUCTION DIRECTOR: <strong> AKKAD SAADI</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->

</div>
