 
@{
    ViewBag.Title = "MondaysChildSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/mondayschildsong_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/mondayschildsong_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Monday's Child Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> May 11, 2018</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This song is based on the popular nursery rhyme “Monday’s Child”. It is supposed to teach and help children remember the days of the week.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22"> ܝܰܘܡܶܗ ܕܰܬܪܶܝ ܐܰܒܪܳܐ ܚܰܠܝܳܐ</p>
                            <br>
                            <p class="Surayt font-size-22">ܝܰܘܡܶܗ ܕܰܬܠܳܬ̥ܳܐ ܐܰܒܪܳܐ ܩܰܘܝܳܐ </p>
                            <br>
                            <p class="Surayt font-size-22">ܝܰܘܡܶܗ ܕܰܐܪܒܥܳܐ ܐܰܒܪܳܐ ܚܺܐܪܳܐ </p>
                            <br>
                            <p class="Surayt font-size-22"> ܝܰܘܡܶܗ ܕܚܰܡܫܳܐ ܡ݄ܢ ܟܰܫܺܝܪܳܐ</p>
                            <br>
                            <p class="Surayt font-size-22"> ܘܕܺܗ̄ܝ ܥܽܪܘܒ̥ܬܳܐ ܠܶܒܶܗ ܒܰܣܺܝܡܳܐ</p>
                            <br>
                            <p class="Surayt font-size-22"> ܘܕܺܗ̄ܝ ܫܰܒܬ̥ܳܐ ܡ݄ܩܰܐ ܪܚܺܝܡܳܐ</p>
                            <br>
                            <p class="Surayt font-size-22">ܘܰܐܒܪܳܐ ܕܗܰܘܺܝ ܒܚܽܕ̱ܒ̥ܫܰܒܳܐ </p>
                            <br>
                            <p class="Surayt font-size-22"> ܡܗܰܘܢܳܐ ܕܺܗ̄ܝ ܐܶܡܳܐ ܘܒܰܒܳܐ.</p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MondaysChildSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">ܬܪܵܒܼܫܸܒܵܐ ܒܪܘܿܢܵܐ ܚ݀ܠܝܵܐ </p>
                            <br>
                            <p class="Surit font-size-22">ܬܠܵܬ݉ܒܼܫܸܒܵܐ ܒܪܘܿܢܵܐ ܩܘܼܝܵܐ </p>
                            <br>
                            <p class="Surit font-size-22"> ܐܲܪܒܵܥ݉ܒܼܫܸܒܵܐ ܒܪܘܿܢܵܐ ܚܸܐܪܵܐ</p>
                            <br>
                            <p class="Surit font-size-22"> ܘܚܲܡܫܵܒܼܫܸܒܵܐ ܟܡܵܐ ܟܲܫܝܼܪܵܐ</p>
                            <br>
                            <p class="Surit font-size-22"> ܘܗ݉ܘ ܕܥܪܘܼܒܼܬܵܐ ܨܹܦܝܵܐ ܕܠ݀ܒܵܐ</p>
                            <br>
                            <p class="Surit font-size-22">ܘܕܫܲܒܬܵܐ ܟܡܵܐ ܝܼܠܸܗ ܡܘܼܚ݀ܒܵܐ </p>
                            <br>
                            <p class="Surit font-size-22"> ܒܪܘܿܢܵܐ ܕܗܵܘܸܐ ܒܚܲܕ݉ܒܼܫܸܒܵܐ ܗܵܘܢܵܢܵܐ ܕܝ݀ܡܵܐ ܘܒܵܒܵܐ</p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MondaysChildSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IFO9wdXhFfQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Monday's Child - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 11, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lsafU-IqP18?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Monday's Child - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 11, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong> AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong> DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong> ADIB NAAIM</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>



                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>

                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong>, <strong>GABI MALKI</strong></li>
                                    <li>TRANSLATION: <strong> RAMINA SAMUEL</strong>, <strong> MARGANITA SAMUEL</strong></li>
                                    <li>TYPING: <strong> MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong> KHIO NAJIB</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->

</div>
