
@{
    ViewBag.Title = "MyUncleSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/myuncle_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/myuncle_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>My Uncle Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Children Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            A traditional Middle Eastern song originally done by the famous Lebanese writers, Ghassan and Jad Rahbani. The song tries to increase children's awareness about unhealthy eating habits, but it treats it in a fun and a humorous way. This song also teaches few new words about food and nature.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܚܳܠܐ ܚܰܒܨܘܢܐ
                                ܪܚܝܡܐ ܘܚܰܢܽܘܢܳܐ
                                ܟܳܐܟ̥݄ܠ ܠ݄ܐ ܟܣܳܒ̥݄ܥ
                                ܚܳܠܐ ܚܰܒܨܘܢܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡ݄ܢ ܡܰܥܪܶܐ ܠܳܟ̥ ܐܰܕܝܰܘܡܰܐ ؟
                                ܐܘ ܚܳܠ ܚܰܒܨܘܢܐ ؟
                                ܗܐ ܗܐ ܗܐ ܗܐ
                                ܗܐ ܗܐ ܗܐ ܗܐ
                                ܡܰܥܪܶܐ ܠܺܝ ܥܰܣܪܐ ܦܰܪ̈ܐ
                                ܘ݄ܫܬܶܐ ܠܝ ܢܰܗܪܳܐ ܕܡܰܝ̈ܶܐ
                                ܘܰܐܟ̥ܺܝܠ ܠܝ ܣܰܬܳܐ ܕܥ݄ܢ̈ܒ̥ܶܐ
                                ܘܗ݄ܫ ܟܰܦܺܝܢܳܐ ܐ̱ܢܳܐ !

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܚܳܠܳܐ ܚܰܒܨܽܘܢܳܐ
                                ܪܚܝܡܐ ܘܚܰܢܽܘܢܳܐ
                                ܟܳܐܟ̥݄ܠ ܠ݄ܐ ܟܣܳܒ̥݄ܥ
                                ܚܳܠܳܐ ܚܰܒܨܽܘܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡ݄ܢ ܡܰܚܫܰܡ ܠܳܟ̥ ܐܰܕܝܰܘܡܰܐ
                                ܐܳܘ ܚܳܠܳܐ ܚܰܒܨܘܢܳܐ ؟
                                ܗܰܐ ܗܰܐ ܗܰܐ ܗܰܐ
                                ܗܰܐ ܗܰܐ ܗܰܐ ܗܰܐ
                                ܡܰܚܫܰܡ ܠܺܝ ܚܰܡܫܺܝ ܒܺܝ̈ܥܶܐ
                                ܘ݄ܫܬܶܐ ܠܺܝ ܒܝܪܐ ܕܚܰܠܒ̥ܳܐ
                                ܘ݄ܫܬܰܥܣܰܪ ܪ̈ܰܦܫܶܐ ܕܕܰܒ̥ܫܳܐ
                                ܘܗ݄ܫ ܟܰܦܺܝܢܳܐ ܐ̱ܢܳܐ !

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܚܳܠܳܐ ܚܰܒܨܘܢܳܐ
                                ܪܚܝܡܐ ܘܚܰܢܽܘܢܳܐ
                                ܟܳܐܟ̥݄ܠ ܠ݄ܐ ܟܣܳܒ̥݄ܥ
                                ܚܳܠܳܐ ܚܰܒܨܘܢܳܐ

                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MyUncleSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ
                                ܪܲܚܡܵܢܵܐ ܘܡܘܼܚܒܵܐ
                                ܐܵܟܼܹܠ ܘܠܵܐ ܣܵܒܼܹܥ
                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܡܘܿܕܝܼ ܗ݇ܘܵܐ ܟܲܘܸܬܪܘܼܟܼ ܐܸܕܝܘܿܡ
                                ܝܵܐ ܚܵܠܝ݇ ܚܲܕ݇ܒܼܫܵܒܵܐ؟
                                ܗܵܐ ܗܵܐ ܗܵܐ ܗܵܐ
                                ܗܵܐ ܗܵܐ ܗܵܐ ܗܵܐ
                                ܟܲܘܸܬܪܝܼ ܝܼܗ݇ܘܵܐ ܥܸܣܪܵܐ ܥܸܪ̈ܒܼܹܐ
                                ܘܲܫܬܹܐ ܠܝܼ ܚܲܕ݇ ܢܲܗܪܵܐ ܕܡܲܝ̈ܵܐ
                                ܘܐ݇ܟܼܸܠܠܝܼ ܚܕܵܐ ܐܝܼܠܵܢܬܵܐ ܕܥܸܢܒܼܹ̈ܐ
                                ܘܗܵܠܵܐ ܟܦܝܼܢܵܐ ܝܘܸܢ

                            </p>
                            <p class="Surit font-size-22">
                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ
                                ܪܲܚܡܵܢܵܐ ܘܡܘܼܚܒܵܐ
                                ܐܵܟܼܹܠ ܘܠܵܐ ܣܵܒܼܹܥ
                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܡܘܿܕܝܼ ܗ݇ܘܵܐ ܐ݇ܟܼܲܠ݇ܪܲܡܫܘܼܟܼ ܐܸܕܝܘܿܡ
                                ܝܵܐ ܚܵܠܝ݇ ܚܲܕ݇ܒܼܫܵܒܵܐ؟
                                ܗܵܐ ܗܵܐ ܗܵܐ ܗܵܐ
                                ܗܵܐ ܗܵܐ ܗܵܐ ܗܵܐ
                                ܐ݇ܟܼܲܠ݇ܪܲܡܫܝܼ ܝܼܗ݇ܘܵܐ ܚܲܡܫܝܼܢ ܒܹܥܹ̈ܐ
                                ܘܲܫܬܹܐ ܠܝܼ ܚܲܕ݇ ܝܲܡܵܐ ܕܚܲܠܒܼܵܐ
                                ܘܲܫܬܲܥܣܲܪ ܟܲܦܹ̈ܐ ܕܕܸܒܼܫܵܐ
                                ܘܗܵܠܵܐ ܟܦܝܼܢܵܐ ܝܘܸܢ


                            </p>
                            <p class="Surit font-size-22">

                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ
                                ܪܲܚܡܵܢܵܐ ܘܡܘܼܚܒܵܐ
                                ܐܵܟܼܹܠ ܘܠܵܐ ܣܵܒܼܹܥ
                                ܚܵܠܝܼ ܚܲܕ݇ܒܼܫܵܒܵܐ

                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/MyUncleSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XJ1s1vp9fJQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    My Uncle Song | Holo Habsoono | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lLhTis51d-4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    My Uncle Song | Khali Khoshaba | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI, MILAD S YOUSSEF</strong></li>
                                    <li> TYPIST: <strong>BOTRES SHABO </strong></li>
                                    <li> TRANSLATED LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>MILA KERIAKUS,ELIAS BUJAKLI, MERAY YOUSSEF, ORNINA SHABO</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI, MILAD S YOUSSEF</strong></li>
                                    <li> LYRICS TRANSLATION AND TYPING: <strong>SHIBLA BETSHMUEL </strong></li>
                                    <li> LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>EASTERN SUPERVISION: <strong>RAMINA SAMUEL </strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>MILA KERIAKUS,ADMON GABRIAL, MERAY YOUSSEF, ORNINA SHABO</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
