
@{
    ViewBag.Title = "OpenShutThemSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/openshutthem_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/openshutthem_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Open Shut Them Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Oct 29, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            “Open Shut Them” is a popular international kids' nursery rhyme song! It is great for learning some basic opposites. It’s full of easy-to-understand and easy-to-gesture vocabulary. This song is a fun movement song that can be guided by a teacher or a parent to the children. Kids would learn some basic understanding of the physical attributes of the world. Children will love to sing and dance along with Open Shut Them.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܦܬܰܚ݄ܢ ܣܟ̥ܰܪ݄ܢ
                                ܦܬܰܚ݄ܢ ܣܟ̥ܰܪ݄ܢ
                                ܢܩܰܫ ܟܰܦܳܐ ܙܥܘܪܳܐ
                                ܢܩܰܫ ܢܩܰܫ ܢܩܰܫ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܦܬܰܚ݄ܢ ܣܟ̥ܰܪ݄ܢ
                                ܦܬܰܚ݄ܢ ܣܟ̥ܰܪ݄ܢ
                                ܡܰܚܶܬ݄ܢ ܒܣܶܦܳܟ̥


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܪܰܒܳܐ ܘ݄ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܘ݄ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܘ݄ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܪܰܒܳܐ ܪܰܒܳܐ ܪܰܒܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܙܥܽܘܪܳܐ ܙܥܽܘܪܳܐ ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܘ݄ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܘ݄ܙܥܽܘܪܳܐ
                                ܪܰܒܳܐ ܪܰܒܳܐ ܪܰܒܳܐ ܪܰܒܳܐ
                                ܙܥܽܘܪܳܐ ܙܥܽܘܪܳܐ ܙܥܽܘܪܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ  ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܦܩܽܘܕ ܦܩܽܘܕ ܦܩܽܘܕ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ
                                ܦܩܽܘܕ ܦܩܽܘܕ ܦܩܽܘܕ ܦܩܽܘܕ ܠܳܐ ܬܰܘܕܺܝ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܡܰܐܠܺܝܙܳܐ ܡܰܐܠܺܝܙܳܐ ܡܰܐܠܺܝܙܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܫܰܠܝܳܐ ܫܰܠܝܳܐ ܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ
                                ܡܰܐܠܺܝܙܳܐ ܘܫܰܠܝܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܰܐܠܺܝܙܳܐ ܡܰܐܠܺܝܙܳܐ ܡܰܐܠܺܝܙܳܐܡܰܐܠܺܝܙܳܐܫܰܠܝܳܐ ܫܰܠܝܳܐ ܫܰܠܝܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ݄ܫܫܫ ܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܘܢܳܚܽܘܬܳܐ
                                ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ ܥܶܠܳܝܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ݄ܫܫܫ ܢܳܚܽܘܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܡܽܘ̇ܕ ܠܳܟ̥ ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܽܘ̇ܕ  ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ
                                ܡܽܘ̇ܕ ܠܳܟ̥ ܡܽܘ̇ܕ ܠܳܟ̥ ܡܽܘ̇ܕ ܠܳܟ̥ ܚܝܰܪܬܳܐ


                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/OpenShutThemSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܦܬܸܚܠܲܢ، ܕܒܼܪܲܢ
                                ܦܬܸܚܠܲܢ، ܕܒܼܪܲܢ
                                ܘܲܡܚܹܐ ܠܲܢ ܟܲܦܹ̈ܐ
                                ܟܲܦܹ̈ܐ، ܟܲܦܹ̈ܐ، ܟܲܦܹ̈ܐ




                            </p>
                            <p class="Surit font-size-22">

                                ܦܬܸܚܠܲܢ، ܕܒܼܪܲܢ
                                ܦܬܸܚܠܲܢ، ܕܒܼܪܲܢ
                                ܡܲܬܒܼܲܚܠܗ݇ܘܿܢ ܓܵܘ ܚܵܢܲܝ̈ܢ



                            </p>
                            <p class="Surit font-size-22">

                                ܓܒܼܘܿܪܹ̈ܐ ܘܲܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ ܘܲܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ ܘܲܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ



                            </p>
                            <p class="Surit font-size-22">

                                ܙܥܘܿܪܹ̈ܐ، ܙܥܘܿܪܹ̈ܐ، ܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ ܘܲܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ ܘܲܙܥܘܿܪܹ̈ܐ
                                ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ، ܓܒܼܘܿܪܹ̈ܐ



                            </p>
                            <p class="Surit font-size-22">

                                ܙܥܘܿܪܹ̈ܐ، ܙܥܘܿܪܹ̈ܐ، ܙܥܘܿܪܹ̈ܐ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ، ܦܲܩܸܕ، ܦܲܩܸܕ، ܦܲܩܸܕ



                            </p>
                            <p class="Surit font-size-22">

                                ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ. ܠܵܐ، ܬܵܘܕܝܼ
                                ܦܲܩܸܕ، ܦܲܩܸܕ، ܦܲܩܸܕ، ܦܲܩܸܕ، ܠܵܐ، ܬܵܘܕܝܼ



                            </p>
                            <p class="Surit font-size-22">
                                ܩܲܠܘܼܠܵܐ ܘܫܸܠܝܵܐ
                                ܩܲܠܘܼܠܵܐ ܘܫܸܠܝܵܐ
                                ܩܲܠܘܼܠܵܐ ܘܫܸܠܝܵܐ
                                ܩܲܠܘܼܠܵܐ، ܩܲܠܘܼܠܵܐ، ܩܲܠܘܼܠܵܐ، ܩܲܠܘܼܠܵܐ، ܘܫܸܠܝܵܐ، ܫܸܠܝܵܐ، ܫܸܠܝܵܐ




                            </p>
                            <p class="Surit font-size-22">
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ، ܪܵܡܵܐ، ܪܵܡܵܐ، ܪܵܡܵܐ




                            </p>
                            <p class="Surit font-size-22">
                                ܗܸܫܫܫ... ܢܝܼܚܵܐ
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ ܘܢܝܼܚܵܐ
                                ܪܵܡܵܐ، ܪܵܡܵܐ، ܪܵܡܵܐ، ܪܵܡܵܐ




                            </p>
                            <p class="Surit font-size-22">
                                ܗܸܫܫܫ... ܢܝܼܚܵܐ
                                ܕܲܝܼ!
                                ܕܲܝܼ!
                                ܕܲܝܼ!
                                ܕܲܝܼ، ܕܲܝܼ، ܕܲܝܼ!

                            </p>
                            <p class="Surit font-size-22">
                                ܕܲܝܼ!
                                ܕܲܝܼ!
                                ܕܲܝܼ!
                                ܕܲܝܼ، ܕܲܝܼ، ܕܲܝܼ!

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/OpenShutThemSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>



                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wRbzLrb72nA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Open Shut Them | Ftahu Skharu| Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Oct 29, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C1Oc6G9vDJQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Open Shut Them | Ptikhlan Dwirran | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Oct 29, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong>MIMRA KERIAKOS</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>SYRIAC TYPEST: <strong>BOUTROS SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SINGER: <strong>MIMRA KERIAKOS</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>EASTERN TRANSLATION & TYPING: <strong>SHIBLA BETSHMUEL</strong></li>
                                    <li>EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
