
@{
    ViewBag.Title = "PenandPaperBook";
}

<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/publishing/penandpaper350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/publishing/penandpaper700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Pen, Paper, & App</h2>
                                <h4 style="padding-top:10px; padding-bottom:10px">Created By: BET KANU</h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-book"></i> Book</li>
                                    <li><i class="fa fa-calendar-o"></i> 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        @*<p>
                                Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one. KANU GUESS is our first video game challenging you to learn new words. Available on Android and iOS. Look out for new levels and updates.
                            </p>*@ <div class="well" style="text-align:left ; direction:ltr">
                            <h3>Produced By: <span>ASSYRISKA/SYRISKA LARARFORBUNDET I SVERIGE</span></h3>
                            <h3>Created By: <span>BET KANU</span></h3>

                        </div>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <p>
                                This is the first full curriculum in Surayt, the Syriac Language of Tur-abdin. In this series, the child learns the letters and how to read and hear Syriac and speak on different topics. He or she also learns to read a sentence, a word, or a text, and the child builds a sentence and can read the word with the vowels.
                            </p>
                        </div>

                        <div class="well" style="text-align:left ; direction:ltr">
                            <h4 style="text-align:left ; direction:ltr">Features:</h4>
                            <ul>
                                <li>
                                    A series of two educational books, starting with teaching letters, and in the second book, publishes stories and teaches through them.
                                </li>
                                <li>
                                    The first book contains drawings for coloring and games, and the second book contains stories with colorful drawings.
                                </li>
                                <li>
                                    QR Codes for Audio, Texts and images.
                                </li>
                                <li>
                                    Uses the BET KANU READER App
                                </li>
                            </ul>
                        </div>
                        <div class="well">
                            <p>
                                <strong>
                                    Credits
                                </strong>
                            </p>
                            <ul style="text-align:left ; direction:ltr">

                                <li>AUTHOR: <strong>BOUTROS SHABO</strong></li>
                                <li>IN COLLABORATION WITH: <strong>ASSYRISKA/SYRISKA</strong>, <strong>LARARFORBUNDET I SVERIGE</strong></li>
                                <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                <li>ILLUSTRATORS: <strong> GABRIELL YOUSSEF</strong></li>
                                <li>LAYOUT AND COVER DESIGN: <strong>MERAY YOUSSEF</strong></li>
                                <li>LANGUAGE REVIEW: <strong>D. ABDUL MASSIH SAADI</strong></li>
                                <li>TYPIST: <strong>BOUTROS SHABO</strong></li>
                                <li>LAYOUT DESIGN SUPERVISION: <strong>SAMIR SHAMOUN</strong></li>
                                <li>PRODUCT LEAD: <strong>AKKAD SAADI</strong></li>
                            </ul>
                        </div>
                        <div class="well">
                            <h2 style="text-align:center">      <img style="width:150px" src="/img/reader.png" /> </h2>
                            <h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px ">   BET KANU Reader App </h4>

                            <a href="https://apps.apple.com/tr/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-block">Get it on the App Store!</a>
                            <a href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-block">Get it on the Google Play!</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 rightside">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper3.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper7.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper1.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper2.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper5.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/Pen&Paper6.png" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>