
@{
    ViewBag.Title = "RowYourBoatSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/rowyourboat_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/rowyourboat_1920_700.jpg" />
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Row Your Boat Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Feb 12, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Nursery Rhyme</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            This song is an adaptation of the English nursery rhyme “Row, Row, Row Your Boat.” It can be made into an action nursery rhyme where you can sit opposite your child and hold their hands, or put your baby on your lap facing you, and row back and forwards in time with the music.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܒܓܰܘܶܗ ܕܽܗ̄ܘ ܢܰܗܪܳܐ
                                ܙܡܰܪ ܠܺܝ، ܙܡܰܪ ܠܺܝ ܙܡܰܪ ܠܺܝ ܙܡܰܪ ܠܺܝ
                                ܚܳܠܡܳܐ ܐܟ̥ ܕܽܗ̄ܘ ܫܪܳܪܳܐ.

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܒܓܰܘܶܗ ܕܽܗ̄ܘ ܢܰܗܪܳܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܥܶܒܽܘܓܪܳܐ
                                ܡܰܒܶܗ ܡܽܗ̄ܘ ܫܝܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܝܰܬܺܝܒ̥ܳܐ ܘܟܰܠܝܳܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܚܰܕ̱ ܐܰܪܝܳܐ
                                ܛܪܰܝ ܩܳܠܳܟ̥ ܫܰܠܝܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܘܡܫܰܦ̊ܫ݄ܦ̊ ܒܡܰܝ̈ܶܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܚܰܕ̱ ܦܺܝܠܳܐ
                                ܪܽܘܣܶܗ ܘܡܰܬܪܰܝܶܗ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܒܝܰܪܝܩܘܬ̥ܳܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܓܽܘܪܕܰܥܕܰܥ
                                ܓܪܰܫ ܠܶܗ ܨܘ̇ܖ̈ܬܳܬ̥ܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܗܠ ܛܘܪܳܐ ܘܫܶܢܳܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܚܰܕ̱ ܢܶܫܪܳܐ
                                ܡܰܪܚ݄ܩ ܡܽܗ̄ܘ ܩܶܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܓܕܰܦ ܓܕܰܦ ܗ̄ܺܝ ܣܦܺܝܢ̱ܬܳܐ
                                ܘܡܰܡܛܰܝ ܛܰܠܡܳܐ ܕܠܰܚܡܳܐ
                                ܕܚܳܙܰܬ ܬܰܡܳܐ ܟܡܐ ܢܽܘܢ̈ܶܐ
                                ܡܦܰܬܦ݄ܬܠ݄ܢ ܐܫܡܳܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/RowYourBoatSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܢܝܼܚܵܐ ܓܵܘ ܢܲܗܪܵܐ
                                ܙܡܘܿܪܠܝܼ ܙܡܘܿܪܠܝܼ ܙܡܘܿܪܠܝܼ ܙܡܘܿܪܠܝܼ
                                ܚܘܼܠܡܵܐ ܡܐܲܝܟܼ ܫܪܵܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܢܝܼܚܵܐ ܓܵܘ ܢܲܗܪܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܚܲܕ݉ ܥܵܩܘܿܒܪܵܐ
                                ܠܵܐ ܫܵܪ݀ܬ ܫܘܵܪܵܐ!

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܬܝܼܒܼܵܐ ܘܐܵܦ ܟ݀ܠܝܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܬܵܡܵܐ ܐܲܪܝܵܐ
                                ܦܘܿܫ ܫܬܝܼܩܵܐ ܘܫ݀ܠܝܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܘܡܫܲܦܫ݀ܦ ܓܵܘ ܡܝܼܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܬܵܡܵܐ ܦܝܼܠܵܐ
                                ܒܡܲܪܝ݀ܣܠܘܿܟܼ ܬ݀ܪܝܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܒܓܵܘܵܐ ܕܩܝܼܢܘܼܬܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܚܲܕ݉ ܐܘ݂ܪܕܲܥܵܐ
                                ܓܪܘܿܫ ܠܸܗ ܚܲܕ݉ ܨܘܼܪܬܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܗܵܠ ܛܘܼܪܵܐ ܩܝܼܢܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܬܵܡܵܐ ܢ݀ܫܪܵܐ
                                ܪܚܘܿܩ ܡܼܢ ܕܗ݉ܝ ܩ݀ܢܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܚܝܼ ܡܚܝܼ ܡܚܝܼ ܪܘܼܦ̮ܫܬܵܐ
                                ܘܡܲܝܬ݉ܝ ܚܲܕ݉ ܠܲܚܡܵܐ
                                ܐ݀ܢ ܚܙܝܼܠܘܿܟܼ ܬܵܡܵܐ ܢܘܼܢܸ̈ܐ
                                ܦܲܪܬ݀ܚܠܘܿܢ ܚܲܕ݉ܟܡܵܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/RowYourBoatSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IFWwXDLxtag?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Row Your Boat Song - Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Feb 12, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8jhEgS1SIK0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    row Your boat Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Feb 12, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>AKKAD SAADI </strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li>MUSIC: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>ADIB KAZO, IVLA SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCTION DIRECTOR: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCT LEAD: <strong>RAMINA SAMUEL</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>MILAD S YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>RAMINA SAMUEL </strong></li>
                                    <li>TYPIST: <strong>MARGANITA SAMUEL </strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li>MUSIC: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>ADIB KAZO, IVLA SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCTION DIRECTOR: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCT LEAD: <strong>RAMINA SAMUEL</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->

</div>
