
@{
    ViewBag.Title = "SeasonsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/Season_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/Season_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Seasons Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Children Song</span></li>
                                </ul>
                            </div>.
                        </div>
                        <p>
                            BET KANU presents you with the first educational song teaching about the seasons in our beloved colloquial dialects of Surayt and Surit (Sureth).    Your kids can now about the 4 seasons of the year and their names and attributes.  You kids won't blink, as they will be touring with our humorous "globe" character. The melody, although very similar to the oriental style, was actually inspired by the traditional African Nursery Rhymes.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܽܘ ܩܰܝܛܳܐ
                                ܗ̄ܽܘ ܩܰܝܛܳܐ
                                ܡ݄ܢ ܚܶܡܳܐ ܘܫܰܚܽܘܢܳܐ
                                ܙܰܠ̈ܓܶܐ ܕܫ݄ܡܫܳܐ
                                ܟܡܰܒܗܪܺܝ ܠܰܢ ܗ̄ܽܘ ܟܝܳܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܽܘ ܣܰܬ̥ܘܳܐ
                                ܗ̄ܽܘ ܣܰܬ̥ܘܳܐ
                                ܥܰܠܥܳܠܐ ܥܰܡ ܩܽܘܪܳܐ
                                ܬܰܠܓܳܐ ܟܢܳܚ݄ܬ
                                ܟܡܰܠܒ̥݄ܫ ܒܪܺܝܬ̥ܳܐ ܚܘܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܽܘ ܬܰܕܐܳܐ
                                ܗ̄ܽܘ ܬܰܕܐܳܐ
                                ܓܶܠܳܢ̈ܶܐ ܟܳܝܳܥ݄ܢ
                                ܘܰܪ̈ܕܶܐ ܟܓ݄ܚܟ̥ܺܝ
                                ܘ݄ܟܙ݄ܗܪܳܐ؟؟ ܗ̄ܺܝ ܟܰܠܳܐ ܕܢܺܝܣܳܢ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܬܶܫܪ̈ܳܝܳܬ̥ܳܐ
                                ܬܶܫܪ̈ܳܝܳܬ̥ܳܐ
                                ܟܫ݄ܥܬ̥ܺܝ ܗ̄ܰܢ ܐܺܝ̈ܠܳܢܶܐ
                                ܛܰܪ̈ܦܶܐ ܟܢ݄ܬ̥ܪܺܝ
                                ܟ݄ܡܟܰܣ݄ܢ ܗ̄ܰܕّܰܪ̈ܒܳܢܶܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/SeasonsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܩܲܝܛܵܐ
                                ܝܵܐ ܩܲܝܛܵܐ
                                ܟܡܵܐ ܚܲܡܝܼܡܵܐ ܘܫܲܚܝܼܢܵܐ
                                ܙܸܠܓܹ̈ܐ ܕܫܸܡܫܵܐ
                                ܒܲܗܪܸܢܝܼ ܠܗܵܘ ܟܝܵܢܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܝܵܐ ܣܲܬܘܵܐ
                                ܝܵܐ ܣܲܬܘܵܐ
                                ܥܲܠܥܵܠܹ̈ܐ ܥܲܡ ܩܲܪܬܵܐ
                                ܬܲܠܓܵܐ ܢܵܚܹܬ
                                ܡܲܠܒܼܫ ܠܵܗ̇ ܚܘܵܪܵܐ ܒܪܝܼܬܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܒܹܝܬ ܢܝܼܣܵܢܹ̈ܐ
                                ܒܹܝܬ ܢܝܼܣܵܢܹ̈ܐ
                                ܓܵܘܹܗ ܒܵܪܝܼ ܓܸܠܹ̈ܐ ܩܝܼܢܹ̈ܐ
                                ܘܲܪ̈ܕܹܐ ܓܵܚܟܝܼ
                                ܘܦܵܩܚܵܐ ܟܵܠܘܿ ܕܢܝܼܣܵܢܹ̈ܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܬܸܫܪ̈ܝܵܬܵܐ
                                ܬܸܫܪ̈ܝܵܬܵܐ
                                ܫܵܥܬܼܝܼ ܐܝܼܠܵܢܹ̈ܐ
                                ܛܲܪ̈ܦܹܐ ܟܹܐ ܢܵܬܼܪܝܼ
                                ܘܲܡܟܵܣܝܼ ܐܘܼܪ̈ܚܵܢܹܐ

                            </p>
                            <p class="Surit font-size-22">


                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/SeasonsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4G93cMHhbJ4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Seasons Song - Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uWWBwml-4oo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Seasons Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI</strong></li>
                                    <li> TYPIST: <strong>BOTRES SHABO </strong></li>
                                    <li> LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>ORNINA SHABO</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATION AND ANIMATION: <strong>GABI MALKI</strong></li>
                                    <li> LYRICS TRANSLATION AND TYPING: <strong>SHIBLA BETSHMUEL </strong></li>
                                    <li> LYRICS: <strong> AKKAD SAADI</strong></li>
                                    <li>EASTERN SUPERVISION: <strong>RAMINA SAMUEL </strong></li>
                                    <li>MUSIC ARRANGEMENT: <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li>SINGER: <strong>ORNINA SHABO</strong></li>
                                    <li>PROJECT MANAGER: <strong>DILAMA MALKI </strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI</strong></li>
                                    <li>PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->

</div>
