 
@{
    ViewBag.Title = "ShapesSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/shapes_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/shapes_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Shapes Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Oct 26, 2018</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Inspired from a Spanish song about shapes, this song is used for helping children learn shapes using authentic Syriac words.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22">
                                ܗ̄ܽܘ ܩܛܳܪܳܐ ܕܰܐܺܝܣܟܺܝܡ̈ܶܐ ܐ̱ܢܳܐ
                                ܬܘܘܬ ܬܘܘܬ ܬܘܘܬ
                                ܗ̄ܽܘ ܩܛܳܪܳܐ ܕܰܐܺܝܣܟܺܝܡ̈ܶܐ ܐ̱ܢܳܐ
                                ܬܘܘܬ ܬܘܘܬ ܬܘܘܬ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܐܳܘ ܕܽܘܪܬܳܐ ܐܳܘ ܕܽܘܪܬܳܐ
                                ܐܳܘ ܚܘܓ̥ܬ̥ܳܐ ܡܕܰܘܰܪܬܳܐ
                                ܒܪܰܡ ܘ݄ܦܬܰܠ ܘܡܺܝܓܰܢܕ݄ܪ
                                ܒܪܰܡ ܘ݄ܦܬܰܠ ܢܰܩܠܰܐ ܚܪܶܬܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܐܳܘ ܡܪܰܒܥܳܐ ܐܳܘ ܡܪܰܒܥܳܐ
                                ܠܰܗ̄ܢܳܐ ܕܟܳܐܒ݄ܥ ܘ݄ܕܟܳܐܒܥܳܐ
                                ܡܰܚܘܰܝ ܐܰܪܒܥܳܐ ܓܰܒܰܝܕ̥̈ܳܟ̥
                                ܘܰܐܪܒܥ ܩܶܪܢܰܘ̈ܳܬ̥ܰܝܕ̥ܳܟ̥
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܐܳܘ ܡܬܰܠܬ̥ܳܐ ܐܳܘ ܡܬܰܠܬ̥ܳܐ
                                ܢܽܘܛ ܘܩܦܰܣ ܒܚܝܪܽܘܬ̣ܐ
                                ܗܰܬ ܟܺܝܬ ܠܳܟ̥ ܬܠܳܬ̥ܳܐ ܓܰܒ̈ܶܐ
                                ܘ (ܥܰܡ) ܬܠܳܬ̥ ܩܶܖ̈ܢܰܘܳܬ̥ܳܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܐܳܘ ܡܬܺܝܚܳܐ ܐܳܘ ܡܬܺܝܚܳܐ
                                ܝܰܪܺܝܟ̥ܳܐ ܗܰܬ ܘ݄ܪܘܺܝܚܳܐ
                                ܫܪܳܪܳܐ ܟܺܝܬ ܠܳܟ̥ ܐܰܪܒܥܳܐ ܓܰܒ̈ܶܐ
                                ܬܪܶܝ ܙܥܽܘܖ̈ܶܐ ܘܰܬܪܶܝ ܖ̈ܰܒܶܐ
                            </p>
                            <br>
                            <p class="Surayt font-size-22">
                                ܐܳܘ ܡܥܰܝܢܳܐ ܐܳܘ ܡܥܰܝܢܳܐ (ܦܛܺܝܚܳܐ)
                                ܫܠܳܡܳܐ ܐܰܥܠܳܟ̥ ܘ݄ܒܫܰܝܢܳܐ
                                ܚܰܒ̥ܖ̈ܳܢܳܟ̥ ܗܰܘ݄ܢ ܐܰܥܡܺܝ
                                ܝܣܰܩ (ܣܠܰܩ) ܐܰܥܡܺܝ، ܘܕܘ̇ܫ ܕ݄ܐܙّܰܢܳܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/ShapesSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܐܵܢܵܐ ܝܘ݀ܢ ܩܛܵܪܵܐ ܕܐ݀ܣܟܸܝܡܸ̈ܐ
                                ܟ̰ܘܼ، ܟ̰ܘܼ، ܟ̰ܘܼ
                                ܐܵܢܵܐ ܝܘ݀ܢ ܩܛܵܪܵܐ ܕܐ݀ܣܟܸܝܡܸ̈ܐ
                                ܟ̰ܘܼ، ܟ̰ܘܼ، ܟ̰ܘܼ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܚܘܼܕܪܵܐ، ܝܵܐ ܚܘܼܕܪܵܐ،
                                ܦܲܐܬܘܼܟܼ ܓܠܘܼܠܬܵܐ ܫܲܦܝܼܪܬܵܐ
                                ܚܕܘܼܪ ܘܦܬܘܼܠ ܘܡܓܲܢܕ݀ܪ ܓܵܢܘܼܟܼ
                                ܚܕܘܼܪ ܘܦܬܘܼܠ ܓܵܗܸܐ ܐ݉ܚܪܸܬܵܐ.
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܡܪܲܒܥܵܐ، ܝܵܐ ܡܪܲܒܥܵܐ،
                                ܩܲܝܕܲܡܬܘܼܟܼ ܗܵܘܝܵܐ ܒܪܝܼܟܼܬܵܐ
                                ܢܛܘܼܪ ܠܐܲܪܒܥܵܐ ܓܸܒܵܢܘܼܟܼ
                                ܘܐܵܦ ܠܐܲܪܒܥܵܐ ܩܘܼܪܢܝܵܬܘܼܟܼ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܡܬܲܠܬܼܵܐ، ܝܵܐ ܡܬܲܠܬܼܵܐ،
                                ܠܢܘܼܪܵܢܵܝܵܐ ܝܼܘ݀ܬ ܕܡܵܝܵܐ
                                ܬܵܐ ܫܘܼܪ ܠܩܛܵܪܝܼ ܕܠܵܐ ܟܠܵܝܵܐ
                                ܡܪܲܒܥܵܐ ܫܘ݀ܪ ܗ݉ܘܵܐ ܠܸܗ ܡܼܢ ܟܡܵܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܡܬܝܼܚܵܐ، ܝܵܐ ܡܬܝܼܚܵܐ،
                                ܝܵܪܝܼܟܼܵܐ ܝܼܘ݀ܬ ܘܐܵܦ ܪܘܝܼܚܵܐ
                                ܐܝܼܬ ܠܘܼܟܼ ܬܪܸܝ ܐ݀ܠܥܸ̈ܐ ܓܘܼܖܸ̈ܐ
                                ܘܬܪܸܝ ܐ݉ܚܸܖ̈ܢܸܐ ܙܥܘܿܖܸ̈ܐ
                            </p>
                            <br>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܦܛܝܼܚܵܐ، ܝܵܐ ܦܛܝܼܚܵܐ
                                ܪܵܒܵܐ ܝܼܘ݀ܬ ܦܨܝܼܚܵܐ
                                ܚܲܒܼܖ̈ܵܘܵܬܘܼܟܼ ܝܼܢܵܐ ܡ݀ܢܝܼ
                                ܐ݉ܬܵܐ ܣܘܿܩ ܢܝܼܚܵܐ ܢܝܼܚܵܐ
                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/ShapesSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XmDoMz-Oo6Q?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Shapes Song - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Oct 26, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BjFEYSVpdYs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Shapes Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Oct 26, 2018</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>   AKKAD SAADI</strong></li>
                                    <li>TYPING: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGER: <strong>ADIB NAAIM</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">


                                    <li>ILLUSTRATION AND ANIMATION: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>TRANSLATION: <strong>  RAMINA SAMUEL</strong></li>
                                    <li>TYPING: <strong>MARGANITA SAMUEL</strong></li>
                                    <li>SINGER: <strong>KHIO NAJIB</strong></li>
                                    <li>MUSIC: <strong>GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI</strong></li>
                                    <li>PROJECT MANAGER: <strong>MARIAM BARSOUM</strong></li>
                                    <li>SUPERVISION: <strong>  AKKAD SAADI</strong></li>
                                    <li>RELEASE MANAGER: <strong>SAMIR SHAMOUN</strong></li>
                                    <li>STORY BOARD BY: <strong>AMMAR YOUSSEF</strong></li>
                                    <li>PRODUCED BY: <strong>  BET KANU</strong></li>

                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
