<head>
    @{
        ViewBag.Title = "TheNecklace";

    }
</head>

<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/Comic_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/Comic_1920_700.jpg" />
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>The Necklace Comic Book</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-book"></i> Book</li>
                                    <li><i class="fa fa-calendar-o"></i> Feb 13, 2023</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Comic</span></li>
                                </ul>
                            </div>
                        </div>
                        @*<p>
                                Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one. KANU GUESS is our first video game challenging you to learn new words. Available on Android and iOS. Look out for new levels and updates.
                            </p>*@
                        <div class="well" style="text-align:left ; direction:ltr">
                            <p>
                                The Necklace is an Assyrian comic book series that takes the reader on an extraordinary adventure in 2500BC, in time where Gods and emperors ruled ancient Mesopotamia. With beautiful illustrations and a fun plot, the reader will find enjoyment following the ups and downs of the characters in their quest for glory and fulfilment.
                            </p>
                        </div>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <h4 style="text-align:left ; direction:ltr">Features:</h4>
                            <ul>
                                <li>
                                    A story in two parts
                                </li>
                                <li>
                                    The book is characterized by large graphics and fine details, in addition to graphic effects, and sound through the accompanying audio recording.
                                </li>
                                <li>
                                    It is provided with English and Arabic Translations to the Syriac text
                                </li>
                                <li>
                                    QR Codes for playing an audio, displaying the proper text, and showing the matching image.
                                </li>
                                <li>
                                    Uses the BET KANU READER App
                                </li>
                            </ul>
                        </div>
                        <div class="well">
                            <p>
                                <strong>
                                    Credits
                                </strong>
                            </p>
                            <ul style="text-align:left ; direction:ltr">
                                <li> ILLUSTRATION: <strong> OMAR ISSAC</strong></li>
                                <li> STORY: <strong>GABRIELLA GAWRIEH </strong></li>
                                <li> STORYBOARDING: <strong>ALEXANDRA FILIPIK </strong></li>
                                <li> TECHNICAL SUPERVISOR: <strong> AMMAR YOUSSEF </strong></li>
                                <li> LAYOUT DESIGNER: <strong> MERAY YOUSSEF, JESSICA LAHDOW</strong></li>
                                <li> ARTS SUPERVISOR: <strong> SARGON SAADI, JESSICA LAHDOW </strong></li>
                                <li> PROJECT MANAGER: <strong> MARIAM BARSOUM, DILAMA MALKI</strong></li>
                                <li> PRODUCT LEAD: <strong> AKKAD SAADI</strong></li>
                                <li> ARABIC TRANSLATOR: <strong> NOUR HANNA</strong></li>
                                <li> LETTERE: <strong> GABI SHABO, MERAY YOUSSEF, DILAMA MALKI</strong></li>
                                <li> MARKETING DESIGNER: <strong> MAYA MIRZA</strong></li>
                                <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>

                            </ul>
                            <p>
                                <strong>
                                    Western Syriac - Credits
                                </strong>
                            </p>
                            <ul style="text-align:left ; direction:ltr">
                                <li>SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI</strong></li>
                                <li> WESTERN SYRIAC TRANSLATION: <strong> MARIAM BARSOUM</strong></li>

                            </ul>
                            <p>
                                <strong>
                                    Eastern Syriac - Credits
                                </strong>
                            </p>
                            <ul style="text-align:left ; direction:ltr">
                                <li>EASTERN SYRIAC SUPERVISION: <strong>???</strong></li>
                                <li> Eastern SYRIAC TRANSLATION: <strong> ???</strong></li>

                            </ul>
                        </div>
                        <div class="well">
                            <h2 style="text-align:center">      <img style="width:150px" src="/img/reader.png" /> </h2>
                            <h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px ">   BET KANU Reader App </h4>

                            <a href="https://apps.apple.com/tr/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-block">Get it on the App Store!</a>
                            <a href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-block">Get it on the Google Play!</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 rightside">
                    <div class="col-md-12">
                        <br>
                        <div class="row" style="text-align:center">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/comic1.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/comic2.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/comic3.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/comic4.png" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <iframe style="width:100%; height:500px" src="https://mixam.com/embed/6318fd3323154e4c383efe1b" allowtransparency="true" allowfullscreen="true" frameborder="0"> </iframe>
            &nbsp;
            <div class="row">
                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
 