
@{
    ViewBag.Title = "TodayIsNewYearsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/todayisnewyear_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/todayisnewyear_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Today is New Years Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Dec 5, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Traditional Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            An old song produced in 1983 by the Ishtar Group, under the second album titled "Zmirotho d-Shabre Men Beth-Nahri". This song was written by George Shamoun and composed by Joseph Malki. BET KANU has worked on reviving this Christmas song to celebrate it once again in the New Year's with the new generation.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܰܕܝܰܘܡܰܐ ܪܺܝܫܶܗ ܕܫܰܢ̱ܬܳܐ
                                ܥܶܐܕܳܐ ܚܰܕ̱ܬ̥ܳܐ ܕܡܰܘܠܳܕܳܐ
                                ܘ݄ܒܗܳܝ ܡܥܰܪܬ̣ܳܐ ܕܒܶܝܬ̥ܠܚܶܡ
                                ܣܓ̥݄ܕّܶܗ ܡܰܠ̈ܟܶܐ ܠܝܰܠܽܘܕܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܰܕܠܰܠܝܳܐ ܠܰܝܬܳܐ ܫܰܢܬ̥ܳܐ
                                ܓ݄ܕܫܳܗܪܺܝܢܰܐ ܠܨܰܦܪܰܝܬܳܐ
                                ܟ݄ܬ ܠܶܗ ܗ̄ܽܘ ܥܰܡܳܐ ܒ݄ܛܠܳܢܳܐ
                                ܘܰܐܚܢܰܐ ܠܰܝ̱ܬ ܠܰܢ ܡܰܕܪܰܫܬܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܫܩܺܝܠܰܢ ܣܰܓܺܝ ܚܰܡܪ̈ܳܢܶܐ
                                ܚܰܘ̈ܟ̥ܶܐ ܘܚܰܒܽܘ̈ܫܶܐ ܘܬܶܐܢ̈ܶܐ
                                ܓܰܘ̈ܙܶܐ ܚܰܠ̈ܝܶܐ ܘܪ̈ܰܝܡܽܘܢܶܐ
                                ܘܰܫّܰܡ̈ܥܶܐ ܡܶܢ̱ ܟܽܘܠ ܓܰܘ̈ܢܶܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܰܩܺܝܬ̥ܺܝܢܰܐ ܗ̄ܰܫّܰܡ̈ܥܶܐ
                                ܘܦ݄ܪܣܺܝܢܰܐ ܗ̄ܰܡّܽܐܘܟ̈ܠܳܢܶܐ
                                ܩܳܪܺܝܢܰܐ ܠܰܚّܰܒ̥ܪ̈ܳܢܶܐ
                                ܙܳܡܪܺܝܢܰܐ ܒܟܽܘܠ ܠܶܫܳܢ̈ܶܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/TodayIsNewYearsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܐܸܕܝܘܿܡ ܪܹܫܵܐ ܕܫܲܢ݇ܬܵܐ ܝܠܹܗ
                                ܥܹܐܕܵܐ ܚܲܕ݇ܬܵܐ ܕܡܵܘܠܵܕܵܐ
                                ܒܓܵܘ ܓܸܦܘܿܢܵܐ ܕܒܹܝܬ ܠܚܸܡ
                                ܣܓܼܸܕܠܲܝܗܝ ܡܲܠܟܹ̈ܐ ܠܝܲܠܘܼܕܵܐ


                            </p>
                            <p class="Surit font-size-22">

                                ܐܵܗܵܐ ܠܲܝܠܹܐ ܠܲܝܬܿ ܕܡܵܟܼܬܵܐ
                                ܒܸܕ ܫܵܗܪܲܚ ܠܗܲܠ ܩܲܝܕܲܡܬܵܐ
                                ܥܲܡܵܐ ܡܫܘܼܓܼܠܵܐ ܝܬܝܼܒܼܵܐ ܝܠܹܗ
                                ܘܐܲܚܢܲܢ ܠܲܝܬܿ ܠܲܢ ܡܲܕܪܲܫܬܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܫܩܝܼܠܹ̈ܐ ܝܘܲܚ ܪܵܒܵܐ ܚܲܡܪܵܐ
                                ܚܵܘܚܹ̈ܐ ܘܚܲܒܘܼܫܹ̈ܐ ܘܬܹܐܢܹ̈ܐ
                                ܓܵܘܙܹ̈ܐ ܚܸܠܝܹ̈ܐ ܘܐܲܪ̈ܡܘܿܢܹܐ
                                ܘܐܵܦ ܦܘܼܢܕܹ̈ܐ ܒܟܠܲܝܗܝ ܓܵܘܢܹ̈ܐ


                            </p>
                            <p class="Surit font-size-22">
                                ܟܹܐ ܡܲܠܗܲܚ ܠܲܝܗܝ ܐܵܢܝ݇ ܦܘܼܢܕܹ̈ܐ
                                ܘܦܵܪܣܲܚ ܠܵܗܿ ܗܵܝ ܡܹܐܟܼܘܼܠܬܵܐ
                                ܘܩܵܪܹܝܚ ܕܐܵܬܝܼ ܚܲܒܼܪ̈ܵܢܹܐ
                                ܕܙܵܡܪܲܚ ܒܟܠܲܝܗܝ ܠܸܫܵܢܹ̈ܐ


                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/TodayIsNewYearsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4tuMu-y9a1w?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Today is New Years | Adyawma Rishid Shato | Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Dec 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2YeNd-J4IGk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Today is New Years | Edyo Resha Dshetale | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Dec 5, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>GABI MALKI</strong></li>
                                    <li>WESTERN TYPING : <strong> BOTRES SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR : <strong> DR. ABDUL MASSIH SAADI</strong></li>
                                    <li>SINGERS : <strong> MIMRA KERIAKOS, IVLA SAADI, FADI ISAAC</strong></li>
                                    <li>CHORUS : <strong> ADIB KAZO,NAGHAM SHAMOON, NOHADRA HANNA</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li>
                                        REFERENCE: <strong>
                                            "ADYOMA RISHID SHATO" COMPOSED BY JOSEPH MALKI  WRITTEN BY GEORGE SHAMOUN
                                            "ZMIROTHO D-SHABRE MEN BETH-NAHRIN" ALBUM 2 "ISHTAR GROUP", 1983
                                        </strong>
                                    </li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>ILLUSTRATOR AND ANIMATOR : <strong>MILAD YOUSSEF</strong></li>
                                    <li>TRANSLATED LYRICS : <strong>AKKAD SAADI  </strong></li>
                                    <li>LYRICS TRANSLATION AND TYPING : <strong> RAMINA SAMUEL, SHIBLA BETSHMUEL</strong></li>
                                    <li>EASTERN SUPERVISION : <strong> RAMINA SAMUEL</strong></li>
                                    <li>SINGER : <strong> ALAN GEORGE</strong></li>
                                    <li>MUSIC ARRANGEMENT : <strong> GEORGE AFRAM</strong></li>
                                    <li>ARTS COORDINATOR : <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER : <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER : <strong> SAMIR SHAMOUN</strong></li>
                                    <li> PRODUCTION DIRECTOR: <strong> AKKAD SAADI</strong></li>
                                    <li>PRODUCT LEAD : <strong> AKKAD SAADI</strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
