
@{
    ViewBag.Title = "UrhoySchooCurriculum";
}

<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/publishing/sheshltodorhoy350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/publishing/sheshltodorhoy700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Urhoy School Curriculum</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-book"></i> Book</li>
                                    <li><i class="fa fa-calendar-o"></i> 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Educational</span></li>
                                </ul>
                            </div>
                        </div>
                        @*<p>
                                Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one. KANU GUESS is our first video game challenging you to learn new words. Available on Android and iOS. Look out for new levels and updates.
                            </p>*@
                        <div class="well" style="text-align:left ; direction:ltr">
                            <p>
                                It is a series of educational curriculum books that will be taught in schools, and this is the second book in which the child will learn in addition to letters and movements and will be able to read words with the way they are written.
                            </p>
                        </div>
                        <div class="well" style="text-align:left ; direction:ltr">
                            <h4 style="text-align:left ; direction:ltr">Features:</h4>
                            <ul>
                                <li>
                                    A series of 7 books.

                                </li>
                                <li>
                                    It begins by teaching the basics of the Syriac language and its rules.
                                </li>
                                <li>
                                    The books contain illustrations, drawings, games, and puzzles, coloring figures and reading exercises
                                </li>
                                <li>
                                    QR Codes for video, audio, texts and images.
                                </li>
                                <li>
                                    Uses the BET KANU READER APP
                                </li>
                            </ul>
                        </div>
                        <div class="well">
                            <p>
                                <strong>
                                    Credits
                                </strong>
                            </p>
                            <ul style="text-align:left ; direction:ltr">
                                <li>DESIGNERS: <strong>MERAY YOUSSEF</strong>, <strong>ORNINA SHABO</strong>, <strong>GABI MALKI</strong>, <strong>MILAD YOUSSEF</strong>, <strong>AMMAR YOUSSEF</strong>, <strong>MERAY YOUSSEF</strong></li>
                                <li>PROJECT MANAGER: <strong>DILAMA MALKI</strong></li>
                                <li>RECORDING: <strong>GEORGE AFRAM</strong></li>
                                <li>VOICE OVER: <strong>ELIANA SHABO</strong></li>
                                <li>QUALITY INSURANCE: <strong>AKKAD SAADI</strong></li>
                                <li>PRODUCT LEAD: <strong>SAMIR SHAMOUN</strong></li>

                            </ul>
                        </div>
                        <div class="well">
                            <h2 style="text-align:center">      <img style="width:150px" src="/img/reader.png" /> </h2>
                            <h4 style="text-align: center; padding-top: 10px; padding-bottom: 10px ">   BET KANU Reader App </h4>

                            <a href="https://apps.apple.com/tr/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-block">Get it on the App Store!</a>
                            <a href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-block">Get it on the Google Play!</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 rightside">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/SheshltoDOrhoy2.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/SheshltoDOrhoy3.png" alt="">

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="/img/products/Publishing/SheshltoDOrhoy1.png" alt="">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>