
@{
    ViewBag.Title = "WashYourHandsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <img src="/img/products/banners/Washyourhands_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/Washyourhands_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>Wash Your Hands Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> May 5, 2020</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">Children Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Let's do what is healthy and good! Do wash your hands and eat healthy food! Do cover your cough and sneeze! Do say thank you and do say please! Let's doo doo doo doo it together with Baby Sharks!
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܶܝ ܡܰܫ݄ܓ̥
                                ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ
                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܺܝ̈ܕ̥ܳܬ̥ܳܟ̥
                                ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܕܶܝ ܡܰܫ݄ܓ̥
                                ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ ܕܽܘܘ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܺܝ̈ܕ̥ܳܬ̥ܳܟ̥
                                ܘ݄ܦܪܰܟ̥݄ܢ
                                ܒܨܰܦܽܘܢܳܐ
                                ܘ݄ܦܪܰܟ̥݄ܢ
                                ܒܨܰܦܽܘܢܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܶܢ̱ ܠܰܠܥ݄ܠ
                                ܘܡܶܢ̱ ܠܰܠܬܰܚ
                                ܟܘ̇ܠ ܟܰܦܳܐ
                                ܘܟܘ̇ܠ ܨܰܒ̥ܥܳܐ
                                ܘܡܰܪܶܣ݄ܢ
                                ܒܰܡّܰܝ̈ܶܐ
                                ܘܡܰܢܫܶܦ݄ܢ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܒܺܗ̄ܝ ܦܰܣܬܳܐ / ܒܡܰܢܕܶܝܠܳܐ
                                ܘܡܰܢܫܶܦ݄ܢ
                                ܒܺܗ̄ܝ ܦܰܣܬܳܐ / ܒܡܰܢܕܶܝܠܳܐ
                                ܡ݄ܢ ܟܺܝܒܰܢ ܣܰܝܡܺܝܢܰܐ ܗܶܫ ؟

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܡܟܰܣܺܝܢܰܐ
                                ܗ̄ܺܝ ܫܥܰܠܬܳܐ
                                ܡܟܰܣܺܝܢܰܐ
                                ܗ̄ܺܝ ܫܥܰܠܬܳܐ
                                ܘܥ݄ܛܫܺܝܢܰܐ
                                ܒ݄ܕܪܳܥܰܢ
                                ܘܥ݄ܛܫܺܝܢܰܐ
                                ܒ݄ܕܪܳܥܰܢ
                                ܕܠܳܐ ܛܳܦܶܐ ܠܰܢ
                                ܘܟܳܝܰܒ̥ ܠܰܢ
                                ܕܠܳܐ ܛܳܦܶܐ ܠܰܢ
                                ܘܟܳܝܰܒ̥ ܠܰܢ
                                ܕܦܰܝܫܺܝܢܰܐ
                                ܒܚܽܘܠܡܳܢܳܐ
                                ܘ݄ܕܦܰܝܫܺܝܢܰܐ
                                ܒܚܽܘܠܡܳܢܳܐ
                                ܟܨܳܒܺܝܢܰܐ ܕܟܘ̇ܠܰܢ
                                ܝܰܠܺܝܦܺܝܢܰܐ
                                ܐܰܝܕܰܪܒܳܐ ܕܳܗ̄ܘܺܝܢܰܐ ܡܳܪܳܐ ܠܪܽܘܚܰܝܢܰܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/WashYourHandsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>




                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܚܲܠܸܠܗ݇ܘܿܢ
                                ܐܝܼܕܵܬ̈ܘܼܟܼ
                                ܚܲܠܸܠܗ݇ܘܿܢ
                                ܐܝܼܕܵܬ̈ܵܟܼܝ

                            </p>
                            <p class="Surit font-size-22">
                                ܦܪܘܼܟܼܠܗ݇ܘܿܢ ܨܦܵܝܼ
                                ܒܨܵܦܘܿܢܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܼܢ ܦܵܬܵܐ
                                ܘܡܼܢ ܚܲܨܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܟܠ ܟܲܦܵܐ
                                ܘܟܠ ܨܸܒܥܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܫܛܘܼܦ ܒܡܲܝ̈ܵܐ
                                ܠܐܝܼܕܵܬ̈ܘܼܟܼ
                                ܫܛܘܼܦ ܒܡܲܝ̈ܵܐ
                                ܠܐܝܼܕܵܬ̈ܵܟܼܝ

                            </p>
                            <p class="Surit font-size-22">
                                ܒܚܲܪܬܵܐ ܡܫܝܼ ܠܗ݇ܘܿܢ
                                ܒܡܲܢܕܝܼܠܵܐ
                                ܒܚܲܪܬܵܐ ܡܫܹܐ ܠܗ݇ܘܿܢ
                                ܒܡܲܢܕܝܼܠܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܘܿܕ݇ܝ݇ ܐ݇ܚܹܪ݇ܢܵܐ ܡܵܨܹܝܚ ܥܵܒܼܕܲܚ؟

                            </p>
                            <p class="Surit font-size-22">
                                ܟܲܣܹܝܚ ܠܵܗܿ
                                ܗܵܝ ܫܥܵܠܬܵܐ
                                ܟܲܣܹܝܚ ܠܵܗܿ
                                ܗܵܝ ܫܥܵܠܬܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܘܬܲܦܬܼܚ ܓܵܘ
                                ܕܪܵܥܢܵܢܲܢ
                                ܘܬܲܦܬܼܚ ܓܵܘ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/WashYourHandsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IIdLEWiPXpM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Wash your hands Song - Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Jun 14, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BvKmuwuPDZg?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    Wash your hands Song - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Jun 14, 2020</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> ILLUSTRATOR AND ANIMATOR: <strong>GABI SHABO </strong></li>
                                    <li> TYPIST: <strong>BOTRES SHABO </strong></li>
                                    <li> TRANSLATED LYRICS: <strong> AKKAD SAADI </strong></li>
                                    <li> SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li> SINGER: <strong>ADIB KAZO </strong></li>
                                    <li> CHORUS: <strong>ORNINA SHABO, MERAY YOUSSEF </strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong>GEORGE AFRAM </strong></li>
                                    <li> ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong> RAMINA SAMUEL, AKKAD SAADI</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li> ILLUSTRATOR AND ANIMATOR: <strong>GABI SHABO </strong></li>
                                    <li> LYRICS TRANSLATION AND TYPING: <strong>SHIBLA BETSHMUEL </strong></li>
                                    <li> TRANSLATED LYRICS: <strong> AKKAD SAADI </strong></li>
                                    <li> SYRIAC ORTHOGRAPHY EDITOR: <strong>DR. ABDUL MASSIH SAADI </strong></li>
                                    <li> SINGER: <strong>ADIB KAZO </strong></li>
                                    <li> CHORUS: <strong>ORNINA SHABO, MERAY YOUSSEF </strong></li>
                                    <li> MUSIC ARRANGEMENT: <strong>GEORGE AFRAM </strong></li>
                                    <li> ARTS COORDINATOR: <strong> SARGON SAADI</strong></li>
                                    <li> PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li> RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>PRODUCT LEAD: <strong> RAMINA SAMUEL, AKKAD SAADI</strong></li>
                                    <li> PRODUCED BY: <strong>BET KANU </strong></li>
                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">

                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /#wrapper -->
</div>
