
@{
    ViewBag.Title = "WeThreeKingsSong";
}
<div id="wrapper">
    <section style="padding-top:0px">
        <div class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

            <img src="/img/products/banners/WeThreeKings_1920_350.jpg" />
        </div>
        <div class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <img src="/img/products/banners/WeThreeKings_1920_700.jpg" />
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>We Three Kings Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Song</li>
                                    <li><i class="fa fa-calendar-o"></i> Dec 10, 2021</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">International Song</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            We Three Kings of Orient"" is a Christmas carol that was written by John Henry Hopkins Jr. in 1857.  He organized the carol in such a way that three male voices would each sing a solo verse in order to correspond with the three kings.  The carol's melody has been described as ""sad"" and ""shifting"" in nature. Because of this, it highly resembles a song from the Middle Eastern music, both of which it has been frequently compared to.  BET KANU is presenting this song for the first time in Syriac, which makes it even closer to the vision John Hopkins intended.
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܰܚܢܰܐ ܬܠܳܬ̥ܳܐ ܡܰܠ̈ܟܶܐ ܢܰܐ
                                ܡ݄ܢ̱ ܒܳܒܶܠ ܕܳܫ̈ܢܶܐ ܟܛܳܥܢܺܝܢܰܐ



                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܢܰܗܪܳܐ ܘܛܽܘܪܳܐ ܘܚܰܩܠܳܐ ܒܽܘܪܳܐ ܥܰܡ ܗ̄ܽܘ ܟܽܘܟܒ̥ܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܳܘ ܟܽܘ݁ܟܒ̥ܳܐ ܬܶܗܪܳܐ ܘܕܘܡܳܪܳܐ
                                ܟܽܘ݁ܟܒ̥ܳܐ ܕܠܰܠܝܳܐ ܒܰܗܽܘܪܳܐ
                                ܠܽܗ̄ܘ ܡܰܥ݄ܪܒܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ
                                ܦܘ̇ܫ ܩܰܕ̱ܡܽܘܬ̥ܰܢ ܫܰܗܳܪܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܡܬܰܘܠ݄ܕ ܡܰܠܟܳܐ ܕܒܶܝܬ̥ ܠܚܶܡ
                                ܬܳܓ̥ܳܐ ܕܕܰܗܒ̥ܳܐ ܡܰܝܬܶܐ ܠܰܢ
                                ܡܰܠܟܳܐ ܠܥܳܠܰܡ ܠܳܐ ܟܳܬܳܝ݄ܡ
                                ܟܡܺܝܫܰܠ݄ܛ ܥܰܠ ܟܽܘܠܰܢ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܐܳܘ ܟܽܘ݁ܟܒ̥ܳܐ ܬܶܗܪܳܐ ܘܕܘܡܳܪܳܐ
                                ܟܽܘ݁ܟܒ̥ܳܐ ܕܠܰܠܝܳܐ ܒܰܗܽܘܪܳܐ
                                ܠܽܗ̄ܘ ܡܰܥ݄ܪܒܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ
                                ܦܘ̇ܫ ܩܰܕ̱ܡܽܘܬ̥ܰܢ ܫܰܗܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܗ̄ܽܘ ܒܰܣܡܳܐ ܟܳܡܰܩܪܰܒ̥ܢܶܗ
                                ܠܽܗ̄ܘ ܐܰܠܳܗܳܐ ܩܰܪܺܝܒ̥ܳܐ

                                ܨܠܽܘܬ̥ܳܐ ܘ݄ܙܡܺܝܪܬܳܐ ܥܰܡ ܬ݄ܫܒܚܬܳܐ
                                ܟܣܳܓ̥ܕܺܝܢܰܐ ܠܽܗ̄ܘ ܡܳܪܝܳܐ



                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܐܳܘ ܟܽܘ݁ܟܒ̥ܳܐ ܬܶܗܪܳܐ ܘܕܘܡܳܪܳܐ
                                ܟܽܘ݁ܟܒ̥ܳܐ ܕܠܰܠܝܳܐ ܒܰܗܽܘܪܳܐ
                                ܠܽܗ̄ܘ ܡܰܥ݄ܪܒܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ
                                ܦܘ̇ܫ ܩܰܕ̱ܡܽܘܬ̥ܰܢ ܫܰܗܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܐ̱ܡܛܶܐ ܠܺܝ ܡܽܘܪܳܐ ܗ̄ܽܘ ܡܰܪ̱ܺܝܪܳܐ ܕܢܳܫ݄ܡ ܚܰܝ̈ܶܐ ܕܟܺܝܒ݄ܢ ܛܠܰܡܝܳܐ
                                ܕܓ̥ܰܡܳܐ ܘܟܶܐܒ̥ܳܐ ܘܪ݄ܓ̥ܫܳܐ ܟܡܺܝܪܳܐ
                                ܚܬ̥ܺܝܡ ܒܩܰܒ̥ܪܳܐ ܛܡܺܝܪܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">

                                ܐܳܘ ܟܽܘ݁݁ܟܒ̥ܳܐ ܬܶܗܪܳܐ ܘܕܘܡܳܪܳܐ
                                ܟܽܘ݁ܟܒ̥ܳܐ ܕܠܰܠܝܳܐ ܒܰܗܽܘܪܳܐ
                                ܠܽܗ̄ܘ ܡܰܥ݄ܪܒܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ
                                ܦܘ̇ܫ ܩܰܕ̱ܡܽܘܬ̥ܰܢ ܫܰܗܳܪܳܐ

                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܒܰܫّܽܘ̈ܒܚܶܐ ܩܰܝ݄ܡ ܟܰܠܝܳܐ
                                ܡܰܠܟܳܐ ܘܕܶܒ݄ܚܬܳܐ ܘܡܳܪܝܳܐ
                                ܗ̄ܺܝ ܫܡܰܝܳܐ ܟ݄ܡܗܰܠܠܳܐ
                                ܗܰܠܺܝܠܽܘܝܰܐ! ܐܰܪܥܳܐ ܟܩܳܪܝܳܐ


                            </p>
                            <p class="Surayt font-size-22 font-size-22">
                                ܐܳܘ ܟܽܘ݁ܟܒ̥ܳܐ ܬܶܗܪܳܐ ܘܕܘܡܳܪܳܐ
                                ܟܽܘ݁ܟܒ̥ܳܐ ܕܠܰܠܝܳܐ ܒܰܗܽܘܪܳܐ
                                ܠܽܗ̄ܘ ܡܰܥ݄ܪܒܳܐ ܟܡܰܗ̄ܠܟ̥ܺܝܢܰܐ
                                ܦܘ̇ܫ ܩܰܕ̱ܡܽܘܬ̥ܰܢ ܫܰܗܳܪܳܐ


                            </p>

                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/WeAreThreeKingsSongWestern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>


                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                ܐܲܚܢܲܢ ܬܠܵܬܼܵܐ ܡܲܠܟܹ̈ܐ ܝܼܘܲܚ
                                ܡܒܵܒܼܹܠ ܕܵܫܢܹ̈ܐ ܛܥܝܼܢܹ̈ܐ ܝܘܲܚ

                            </p>
                            <p class="Surit font-size-22">
                                ܢܲܗܪܵܐ ܘ ܛܘܼܪܵܐ، ܚܲܩܠܵܐ ܘܕܲܫܬܵܐ
                                ܥܲܡ ܗܵܘ ܟܵܘܟܼܒܼܵܐ ܪܚܵܫܵܐ ܝܘܲܚ

                            </p>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܟܵܘܟܼܒܼܵܐ ܕܠܸܠܝܵܐ ܬܲܗܝܼܪܵܐ، ܟܵܘܟܼܒܼܵܐ ܕܫܘܼܦܪܵܐ ܢܲܗܝܼܪܵܐ
                                ܠܨܘܿܒ ܡܲܥܪܒܼܵܐ ܒܸܪܚܵܫܵܐ ܝܘܲܚ، ܦܘܼܫ ܩܵܕ݇ܡܲܢ ܫܲܗܵܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܒܪܹܐ ܠܹܗ ܡܲܠܟܵܐ ܕܒܹܝܬܼ ܠܚܸܡ
                                ܬܵܓܼܵܐ ܕܕܲܗܒܼܵܐ ܡܘܼܝܬܹܐ ܠܲܢ
                                ܡܲܠܟܵܐ ܝܠܹܗ ܩܵܐ ܟܠܝܗܝ ܠܥܵܠܲܡ
                                ܟܹܐ ܫܵܠܹܛ ܥܲܠ ܟܠܲܢ

                            </p>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܟܵܘܟܼܒܼܵܐ ܕܠܸܠܝܵܐ ܬܲܗܝܼܪܵܐ، ܟܵܘܟܼܒܼܵܐ ܕܫܘܼܦܪܵܐ ܢܲܗܝܼܪܵܐ
                                ܠܨܘܿܒ ܡܲܥܪܒܼܵܐ ܒܸܪܚܵܫܵܐ ܝܘܲܚ، ܦܘܼܫ ܩܵܕ݇ܡܲܢ ܫܲܗܵܪܵܐ

                                ܗܵܘ ܒܸܣܡܵܐ ܒܸܕ ܡܲܩܪܸܒܼܲܚ
                                ܩܵܐ ܕܗܵܘ ܐܲܠܵܗܵܐ ܩܲܪܝܼܒܼܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܨܠܘܿܬܵܐ ܘܲܙܡܲܪܬܵܐ ܥܲܡ ܬܸܫܡܸܫܬܵܐ
                                ܟܹܐ ܣܵܓܼܕܲܚ ܩܵܐ ܡܵܪܝܵܐ

                                ܝܵܐ ܟܵܘܟܼܒܼܵܐ ܕܠܸܠܝܵܐ ܬܲܗܝܼܪܵܐ، ܟܵܘܟܼܒܼܵܐ ܕܫܘܼܦܪܵܐ ܢܲܗܝܼܪܵܐ
                                ܠܨܘܿܒ ܡܲܥܪܒܼܵܐ ܒܸܪܚܵܫܵܐ ܝܘܲܚ، ܦܘܼܫ ܩܵܕ݇ܡܲܢ ܫܲܗܵܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܡܘܼܝܬܹܐ ܠܝܼ ܡܘܼܪܵܐ ܡܲܪܝܼܪܵܐ
                                ܕܢܵܫܹܡ ܚܲܝܹܐ ܕܓܵܘܲܝܗܝ ܛܠܘܼܡܝܵܐ
                                ܨܸܦܬܵܐ ܘܡܲܪܥܵܐ ܘܚܲܫܵܐ ܟܡܝܼܪܵܐ
                                ܚܬܝܼܡܵܐ ܒܩܲܒܼܪܵܐ ܕܒܼܝܼܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܟܵܘܟܼܒܼܵܐ ܕܠܸܠܝܵܐ ܬܲܗܝܼܪܵܐ، ܟܵܘܟܼܒܼܵܐ ܕܫܘܼܦܪܵܐ ܢܲܗܝܼܪܵܐ
                                ܠܨܘܿܒ ܡܲܥܪܒܼܵܐ ܒܸܪܚܵܫܵܐ ܝܘܲܚ، ܦܘܼܫ ܩܵܕ݇ܡܲܢ ܫܲܗܵܪܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܒܫܘܼܒܵܚܹ̈ܐ ܩܵܐܹܡ ܟܸܠܝܵܐ
                                ܡܲܠܟܵܐ ܘܕܸܒܼܚܬܵܐ ܘܡܵܪܝܵܐ
                                ܫܡܲܝܵܐ ܫܵܪܝܵܐ ܗܲܠܸܠܘܼܝܵܐ
                                ܗܲܠܸܠܘܼܝܵܐ ܐܲܪܥܵܐ ܩܵܪܝܵܐ

                            </p>
                            <p class="Surit font-size-22">
                                ܝܵܐ ܟܵܘܟܼܒܼܵܐ ܕܠܸܠܝܵܐ ܬܲܗܝܼܪܵܐ، ܟܵܘܟܼܒܼܵܐ ܕܫܘܼܦܪܵܐ ܢܲܗܝܼܪܵܐ
                                ܠܨܘܿܒ ܡܲܥܪܒܼܵܐ ܒܸܪܚܵܫܵܐ ܝܘܲܚ، ܦܘܼܫ ܩܵܕ݇ܡܲܢ ܫܲܗܵܪܵܐ

                            </p>
                            <a class="btn btn-info" href="http://www.betkanu.com/Downloader/WeAreThreeKingsSongEastern.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>




                        </div>
                    </div>
                </div>

                <div class="col-md-4 rightside">

                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ESujo39P6vY?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    We Three Kings | Ftahu Skharu| Western Syriac (Surayt)
                                </h3>
                                <ul>


                                    <li><i class="fa fa-calendar-o"></i> Dec 10, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vIfsdFe8zGE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    We Three Kings | Ptikhlan Dwirran | Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> Dec 10, 2021</li>
                                    <li><i class="fa fa-eye"></i> 25000 views</li>
                                </ul>
                            </div>
                        </div>

                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>

                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SOLO SINGER: <strong>ADIB KAZO, YAKOUB ASMAR</strong></li>
                                    <li>CHOIR: <strong>ADIB KAZO, YAKOUB ASMAR, ORNINA SHABO, DILAMA MALKI, GEORGE AFRAM</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>TRANSLATED LYRICS: <strong>AKKAD SAADI</strong></li>
                                    <li>SYRIAC TYPEST: <strong>BOUTROS SHABO</strong></li>
                                    <li>SYRIAC ORTHOGRAPHY EDITOR: <strong> DR.ABDUL MASSIH SAADI</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong> MILAD S YOUSSEF, ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>SPECIAL THANKS: <strong>FERAS SHARESTAN, ILONA DANHO </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    <li>SOLO SINGER: <strong>PETER IBRAHIM</strong></li>
                                    <li>CHOIR: <strong>PETER IBRAHIM, ORNINA SHABO, DILAMA MALKI, GEORGE AFRAM</strong></li>
                                    <li>MUSIC ARRANGEMENT  : <strong> GEORGE AFRAM</strong></li>
                                    <li>EASTERN TRANSLATION & TYPING: <strong>SHIBLA BETSHMUEL</strong></li>
                                    <li>EASTERN SUPERVISION: <strong> RAMINA SAMUEL</strong></li>
                                    <li>ILLUSTRATON AND ANIMATON: <strong>MILAD S YOUSSEF </strong></li>
                                    <li>ARTS COORDINATOR: <strong>SARGON SAADI </strong></li>
                                    <li>PROJECT MANAGER: <strong> DILAMA MALKI</strong></li>
                                    <li>RELEASE MANAGER: <strong> SAMIR SHAMOUN</strong></li>
                                    <li>MARKETING DESIGNER: <strong>MILAD S YOUSSEF, ORNINA SHABO</strong></li>
                                    <li>PRODUCT LEAD: <strong>AKKAD SAADI </strong></li>
                                    <li>SPECIAL THANKS: <strong>FERAS SHARESTAN, ILONA DANHO </strong></li>
                                    <li> PRODUCED BY: <strong> BET KANU</strong></li>


                                </ul>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-5">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <ul class="share">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
