@*@model BET_KANU.Models.ProductEpisodes*@

<head>
    @{
        ViewBag.Title = "Alphabet Series";
    }
</head>
<div id="wrapper">
    <section class="border-bottom-1 border-grey-300 padding-30">
        <div class="container text-center">
            <div class="container">
                <div class="headline no-margin">
                    <h4><i class="fa fa-film"></i> Cartoon Series - Alphabet Series</h4>
                    <div class="dropdown" style="display:inline">
                        <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="west" onclick="showhidelist(this.id)"><img src="/img/west.png" /></button>
                        &nbsp;
                        <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="east" disabled onclick="hideshowlist(this.id)"><img src="/img/east.png" /></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wrapper -->
    <div id="wrapper">

        @*<div class="background-image" style="background-image: url(https://www.betkanu.com/content/img/cover/YouTubeCoverBETKANU.png);">


            </div>

            <section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
                <div class="container">
                    <div class="headline no-margin">
                        <h4><i class="fa fa-film"></i> Cartoon Series</h4>
                        <div class="dropdown" style="display:inline">
                            <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="west" disabled onclick="hideshowlist(this.id)"><img src="/img/west.png" /></button>
                            &nbsp;
                            <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="east" onclick="showhidelist(this.id)"><img src="/img/east.png" /></button>
                        </div>
                    </div>
                </div>
            </section>*@
        @* Start Western Section *@
        <section class="bg-grey-50" id="western" style="display:none">
            @* Startt N&M - S1 - Western *@


            @* Start Alphabet Series *@
            <div class="container">
                <div class="card-group">
                    <div class="row">
                        <div class="post post-single col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-header post-author">
                                @*<a href="#" class="author" data-toggle="tooltip" title="YAKUZI"><img src="/img/products/ninoandmia.png" alt="" /></a>*@
                                <div class="post-title">
                                    <h2><a href="#">Alphabet Series</a></h2>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-film"></i> Cartoon Series</li>
                                        <li><i class="fa fa-info"></i> Educational</li>
                                        <li><i class="fa fa-child"></i> Children</li>
                                    </ul>
                                    <p>
                                        A 22 episode cartoon series that teaches children the Syriac alphabet in both Eastern and Western, while using the colloquial Surit/Surayt dialects to share a simple and fun story for each alphabet.  In each espisode, the child will learn an alphabet along with three associated words that begin with that alphabet (name, object, and animal).
                                    </p>
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t1P4vxLpdI4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/t1P4vxLpdI4?rel=0&amp;showinfo=0">Olaf</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 26, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-4M6wNz1BAo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/-4M6wNz1BAo?rel=0&amp;showinfo=0">Beth</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 30, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A2jNkH9vDBQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/A2jNkH9vDBQ?rel=0&amp;showinfo=0">Gommal</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 6, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2AyVusaqaok?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/2AyVusaqaok?rel=0&amp;showinfo=0">Dolad </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 13, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/es0zc6KV2pk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/es0zc6KV2pk?rel=0&amp;showinfo=0">Heh </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 20, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/od3U-d56cT8?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/od3U-d56cT8?rel=0&amp;showinfo=0">Waw </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 4, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zl5h1knAlEM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/Zl5h1knAlEM?rel=0&amp;showinfo=0">Zai</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 18, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6CA7YnwHWqs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/6CA7YnwHWqs?rel=0&amp;showinfo=0">Heth</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 25, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HkcJcG-oO24?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/HkcJcG-oO24?rel=0&amp;showinfo=0">Teth</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 8, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vvxbl4agsic?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/vvxbl4agsic?rel=0&amp;showinfo=0">Youth</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 15, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fRxhZ7RsHE4?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/fRxhZ7RsHE4?rel=0&start=0">Kof</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 22, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I006AnWGbg4?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/I006AnWGbg4?rel=0&start=0">Lommad</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 17, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f30bcZbY11k?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/f30bcZbY11k?rel=0&start=0">Meem</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 24, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6wFNPji6cG4?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/6wFNPji6cG4?rel=0&start=0">Noon</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 31, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LzKcPgU2aAo?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/LzKcPgU2aAo?rel=0&start=0">Semkath</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 7, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/12jfbpX2jOg?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/12jfbpX2jOg?rel=0&start=0">Aaeh </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 21, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9U50DYrhkaU?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/9U50DYrhkaU?rel=0&start=0">Feh</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 28, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/84DlPtf4OQM?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/vLFSQXmpoG0?rel=0&start=0">Sodeh </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Mar 6, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/84DlPtf4OQM?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/vLFSQXmpoG0?rel=0&start=0">Qof </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Apr 3, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_u-fKMfT0OQ?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/_u-fKMfT0OQ?rel=0&start=0">Rish</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 15, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wGq1UF8awKU?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/wGq1UF8awKU?rel=0&start=0">Shin</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 22, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0KsH4RYoAk?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/a0KsH4RYoAk?rel=0&start=0">Taw</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 29, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>



        @* Start Eastern Section *@
        <section class="bg-grey-50" id="eastern">

            @* Start Alphabet Series *@
            <div class="container">
                <div class="card-group">
                    <div class="row">
                        <div class="post post-single col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-header post-author">
                                @*<a href="#" class="author" data-toggle="tooltip" title="YAKUZI"><img src="/img/products/ninoandmia.png" alt="" /></a>*@
                                <div class="post-title">
                                    <h2><a href="#">Alphabet Series</a></h2>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-film"></i> Cartoon Series</li>
                                        <li><i class="fa fa-info"></i> Educational</li>
                                        <li><i class="fa fa-child"></i> Children</li>
                                    </ul>
                                    <p>
                                        A 22 episode cartoon series that teaches children the Syriac alphabet in both Eastern and Western, while using the colloquial Surit/Surayt dialects to share a simple and fun story for each alphabet.  In each espisode, the child will learn an alphabet along with three associated words that begin with that alphabet (name, object, and animal).
                                    </p>
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HhkWSgJfBFU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/HhkWSgJfBFU?rel=0&amp;showinfo=0">Allap </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 26, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ch3jio0Q1ck?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/ch3jio0Q1ck?rel=0&amp;showinfo=0">Beth</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 30, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mjpB2eeWDsU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/mjpB2eeWDsU?rel=0&amp;showinfo=0">Gammal</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 6, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6-tJQY0CxV8?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/6-tJQY0CxV8?rel=0&amp;showinfo=0">Dallad  </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 13, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SxFMIbMifAE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/SxFMIbMifAE?rel=0&amp;showinfo=0">Heh  </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Sep 20, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S_lgzX5mesM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/S_lgzX5mesM?rel=0&amp;showinfo=0">Waw  </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 4, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_fr0fYioW4M?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/_fr0fYioW4M?rel=0&amp;showinfo=0">Zain </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 18, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W4hjXpfX_s4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/W4hjXpfX_s4?rel=0&amp;showinfo=0">Kheth </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 25, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K8ZDkMmyC7A?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/K8ZDkMmyC7A?rel=0&amp;showinfo=0">Teth </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Oct 25, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qi__0XgPjQ8?rel=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/Qi__0XgPjQ8?rel=0">Youd </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 15, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MHaynydH12c?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/MHaynydH12c?rel=0&start=0">Kap </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 22, 2019</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B4UQ1a8yhOU?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/B4UQ1a8yhOU?rel=0&start=0">Lammad</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 17, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BOJaHV17nrY?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/BOJaHV17nrY?rel=0&start=0">Meem</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 24, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-VEIwemI4-o?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/-VEIwemI4-o?rel=0&start=0">Noon</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Jan 31, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5HiUDCbk6SE?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/5HiUDCbk6SE?rel=0&start=0">Semkath</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 7, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w1mtvboEvwQ?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/w1mtvboEvwQ?rel=0&start=0">Aaeh </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 21, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6VFOfpvbpOo?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/6VFOfpvbpOo?rel=0&start=0">Peh </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Feb 28, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S55B4l31PXg?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/S55B4l31PXg?rel=0&start=0">Sadeh</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Mar 6, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9Xa6AfBjDSQ?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/9Xa6AfBjDSQ?rel=0&start=0">Qop </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Apr 3, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D6Gb1PNJCu8?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/D6Gb1PNJCu8?rel=0&start=0">Resh</a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 15, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QYfku7v-j10?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/QYfku7v-j10?rel=0&start=0">Sheen </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 22, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="card card-video">
                                <div class="card-img">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IpvCAxENLa8?rel=0&start=0" allowfullscreen></iframe>
                                    </div>
                                    @*<div class="time">Alphabet Series</div>*@
                                </div>
                                <div class="caption">
                                    <h3 class="card-title"><a href="https://www.youtube.com/embed/IpvCAxENLa8?rel=0&start=0">Taw </a></h3>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> May 29, 2020</li>
                                        <li><i class="fa fa-eye"></i> 3000 views</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    @section scripts{
        <script>
            function hideshowlist() {
                var w = document.getElementById("western");
                var e = document.getElementById("eastern");

                if (w.style.display === "none") {
                    w.style.display = "block";
                    e.style.display = "none";
                    document.getElementById("west").disabled = true;
                    document.getElementById("east").disabled = false;
                } else {
                    w.style.display = 'none';
                    e.style.display = 'block';
                    document.getElementById("west").disabled = false;
                    document.getElementById("east").disabled = true;

                }

            }
        </script>

        <script>
            function showhidelist() {
                var e = document.getElementById("eastern");
                var w = document.getElementById("western");

                if (e.style.display === "none") {
                    e.style.display = "block";
                    w.style.display = "none";
                    document.getElementById("east").disabled = true;
                    document.getElementById("west").disabled = false;
                } else {
                    e.style.display = 'none';
                    w.style.display = 'block';
                    document.getElementById("east").disabled = false;
                    document.getElementById("west").disabled = true;
                }
            }
        </script>



    }
