<head>
    @{
        ViewBag.Title = "Alphabet Series";

    }

</head>

<section class="border-bottom-1 border-grey-300 padding-30">
    <div class="container text-center">
        <div class="container">
            <div class="headline no-margin">
                <h4><i class="fa fa-film"></i> Cartoon Series</h4>
                <div class="dropdown" style="display:inline">
                    <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="west" onclick="showhidelist(this.id)"><img src="/img/west.png" /></button>
                    &nbsp;
                    <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="east" disabled onclick="hideshowlist(this.id)"><img src="/img/east.png" /></button>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="wrapper">
    @* Start Western Section *@
    <section class="bg-grey-50" id="western" style="display:none">
        @* Start N&M - S1 - Western *@


        @* Start Alphabet Series *@
        <div class="container">
            <div class="card-group">
                <div class="row">
                    <div class="post post-single col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="post-header post-author">
                            @*<a href="#" class="author" data-toggle="tooltip" title="YAKUZI"><img src="/img/products/ninoandmia.png" alt="" /></a>*@
                            <div class="post-title">
                                <h2><a href="#">Alphabet Series</a></h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-film"></i>Cartoon Series</li>
                                    <li><i class="fa fa-info"></i>Educational</li>
                                    <li><i class="fa fa-child"></i>Children</li>
                                </ul>
                                <p>
                                    A 22 episode cartoon series that teaches children the Syriac alphabet in both Eastern and Western, while using the colloquial Surit/Surayt dialects to share a simple and fun story for each alphabet.  In each espisode, the child will learn an alphabet along with three associated words that begin with that alphabet (name, object, and animal).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t1P4vxLpdI4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/t1P4vxLpdI4?rel=0&amp;showinfo=0">Olaf</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 26, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                                <script>
                                    function videoViews() {
var rex = /[a-zA-Z0-9\-\_]{11}/,
    videoUrl = $('input').val() === '' ? alert('Enter a valid Url'):$('input').val(),
    videoId = videoUrl.match(rex),
    jsonUrl = 'http://gdata.youtube.com/feeds/api/videos/' + t1P4vxLpdI4 + '?v=2&alt=json',
   embedUrl = 'https://www.youtube.com/embed/t1P4vxLpdI4?rel=0&amp;showinfo=0' + t1P4vxLpdI4,
                                            embedCode = '<iframe width="350" height="197" src="' + embedUrl + '" frameborder="0" allowfullscreen></iframe>'
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-4M6wNz1BAo?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/-4M6wNz1BAo?rel=0&amp;showinfo=0">Beth</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 30, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A2jNkH9vDBQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/A2jNkH9vDBQ?rel=0&amp;showinfo=0">Gommal</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 6, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2AyVusaqaok?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/2AyVusaqaok?rel=0&amp;showinfo=0">Dolad </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 13, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/es0zc6KV2pk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/es0zc6KV2pk?rel=0&amp;showinfo=0">Heh </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 20, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/od3U-d56cT8?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/od3U-d56cT8?rel=0&amp;showinfo=0">Waw </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 4, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zl5h1knAlEM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/Zl5h1knAlEM?rel=0&amp;showinfo=0">Zai</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 18, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6CA7YnwHWqs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/6CA7YnwHWqs?rel=0&amp;showinfo=0">Heth</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 25, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HkcJcG-oO24?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/HkcJcG-oO24?rel=0&amp;showinfo=0">Teth</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Nov 8, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Youth</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Kof</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Lommad</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Meem</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Noon</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Semkath</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Aaeh</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Feh</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Sodeh</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Qof</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Rish</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Shin</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Taw</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    @* Start Eastern Section *@
    <section class="bg-grey-50" id="eastern">
        @* Start Alphabet Series *@
        <div class="container">
            <div class="card-group">
                <div class="row">
                    <div class="post post-single col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="post-header post-author">
                            @*<a href="#" class="author" data-toggle="tooltip" title="YAKUZI"><img src="/img/products/ninoandmia.png" alt="" /></a>*@
                            <div class="post-title">
                                <h2><a href="#">Alphabet Series</a></h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-film"></i> Cartoon Series</li>
                                    <li><i class="fa fa-info"></i> Educational</li>
                                    <li><i class="fa fa-child"></i> Children</li>
                                </ul>
                                <p>
                                    A 22 episode cartoon series that teaches children the Syriac alphabet in both Eastern and Western, while using the colloquial Surit/Surayt dialects to share a simple and fun story for each alphabet.  In each espisode, the child will learn an alphabet along with three associated words that begin with that alphabet (name, object, and animal).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HhkWSgJfBFU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/HhkWSgJfBFU?rel=0&amp;showinfo=0">Allap </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 26, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ch3jio0Q1ck?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/ch3jio0Q1ck?rel=0&amp;showinfo=0">Beth</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 30, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mjpB2eeWDsU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/mjpB2eeWDsU?rel=0&amp;showinfo=0">Gammal</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 6, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6-tJQY0CxV8?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/6-tJQY0CxV8?rel=0&amp;showinfo=0">Dallad  </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 13, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SxFMIbMifAE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/SxFMIbMifAE?rel=0&amp;showinfo=0">Heh  </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sep 20, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S_lgzX5mesM?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/S_lgzX5mesM?rel=0&amp;showinfo=0">Waw  </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 4, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_fr0fYioW4M?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/_fr0fYioW4M?rel=0&amp;showinfo=0">Zain </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 18, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W4hjXpfX_s4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/W4hjXpfX_s4?rel=0&amp;showinfo=0">Kheth </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Oct 25, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.cm/embed/K8ZDkMmyC7A?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">Alphabet Series</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.youtube.com/embed/K8ZDkMmyC7A?rel=0&amp;showinfo=0">Teth </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Nov 8, 2019</li>
                                    <li><i class="fa fa-eye"></i> 3000 views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Youd</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Kap</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Lammad</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Meem </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Noon</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Semkath</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Aaeh</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Peh </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Sadeh </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Qob</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Resh</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Sheen </a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-video">
                            <div class="card-img">
                                <a href="#"><img src="/img/comingsoon.jpg" alt=""></a>

                                <div class="time">Soon!!!</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="#">Taw</a></h3>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Coming soon</li>
                                    <li><i class="fa fa-eye"></i>  views</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{


    <script>
        function hideshowlist() {
            var w = document.getElementById("western");
            var e = document.getElementById("eastern");

            if (w.style.display === "none") {
                w.style.display = "block";
                e.style.display = "none";
                document.getElementById("west").disabled = true;
                document.getElementById("east").disabled = false;
            } else {
                w.style.display = 'none';
                e.style.display = 'block';
                document.getElementById("west").disabled = false;
                document.getElementById("east").disabled = true;

            }

        }
    </script>

    <script>
        function showhidelist() {
            var e = document.getElementById("eastern");
            var w = document.getElementById("western");

            if (e.style.display === "none") {
                e.style.display = "block";
                w.style.display = "none";
                document.getElementById("east").disabled = true;
                document.getElementById("west").disabled = false;
            } else {
                e.style.display = 'none';
                w.style.display = 'block';
                document.getElementById("east").disabled = false;
                document.getElementById("west").disabled = true;
            }
        }
    </script>



}