<head>
    @{
        ViewBag.Title = "Studio";
    }


</head>
<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-microphone"></i> &nbsp;Studio</h1>
        </div>
    </section>
    <section class=" ">
        <div class="container">
            <div class="row">
                <div class="container">

                    <div class="post post-md  ">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4> In-house Studio For All Recordings</h4>

                                    </div>
                                </div>
                                <h4>
                                    All BET KANU audio projects (Songs, tales, and cartoons) are produced in-house with full-time staff, and countless volunteers. The Studio is equipped with professional recording equipment, sound-proof room, and musical instruments.
                                </h4>
                                <div>
                                    <a style="font-size:12px" href="https://www.youtube.com/c/betkanu" class="btn btn-danger">Our YouTube channel</a>
                                    <a style="font-size:12px" href="https://www.youtube.com/c/betkanu" class="btn btn-warning"> Cartoon Series</a>
                                    <a style="font-size:12px" href="https://www.youtube.com/c/betkanu" class="btn btn-success"> Songs</a>

                                </div>&nbsp;
                                @*<h4> See More our studio works </h4>


                                    <a href="~/studio/songs" class="btn btn-success btn-block">Songs</a>
                                    <a href="~/studio/cartoonseries" class="btn btn-danger btn-block">Cartoon Series</a>*@


                            </div>
                            <div class="col-md-6">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="/Content/img/ourcenter/4.jpg" alt=""></a>
                                    @*<div class="category"><span class="label label-info">Creative Room</span></div>*@
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 padding-right-20">
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-header post-author">
                                    <h2 class="author" data-toggle="tooltip"><i class="fa fa-music"></i></h2>
                                    <div class="post-title">
                                        <h3>Choir - Qamishli</h3>

                                    </div>
                                </div>

                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <img src="/Content/img/Studio/2.jpg" alt="">
                                </div>
                                <h4>
                                    Children and volunteers record songs in Eastern and Western Syriac dialects
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-header post-author">
                                    <h2 class="author" data-toggle="tooltip"><i class="fa fa-music"></i></h2>
                                    <div class="post-title">
                                        <h3>Suboro TV team</h3>

                                    </div>
                                </div>

                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <img src="/Content/img/Studio/3.jpg" alt="">
                                </div>
                                <h4>
                                    We give back to the community by offering our studio services to all local initiatives concerned with our language and culture
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-header post-author">
                                    <h2 class="author" data-toggle="tooltip"><i class="fa fa-music"></i></h2>
                                    <div class="post-title">
                                        <h3>The college family of Mar Afram the Syrian</h3>

                                    </div>
                                </div>

                                <div class="embed-responsive embed-responsive-16by9 post-thumbnail">
                                    <img src="/Content/img/Studio/5.jpg" alt="">
                                </div>
                                <h4>
                                    We build strong bridges with local talented youth groups whenever possible.
                                </h4>
                            </div>
                        </div>

                    </div>





                    @*<div class="text-center"><a href="#" class="btn btn-primary btn-lg btn-shadow btn-rounded btn-icon-right">Load Posts</a></div>*@
                </div>

                <div class="col-md-4 padding-left-20">


                    <div class="widget widget-card">
                        <div class="title">Related Videos</div>
                        <div class="card">
                            <div id="fb-root"></div>
                            <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v13.0" nonce="P7gJcZAL"></script><div class="fb-video" data-href="https://www.facebook.com/BETKANU/videos/456090852571078">
                                <blockquote cite="https://www.facebook.com/BETKANU/videos/456090852571078/" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/BETKANU/videos/456090852571078/">Activate Subtitles for Songs</a><p>
                                        You can now watch all our songs and videos translated into Arabic and English.

                                        Visit our YouTube channel and enjoy!
                                        https://www.youtube.com/c/betkanu

                                        #BETKANU
                                    </p>Posted by <a href="https://www.facebook.com/1936368689977951">BET KANU</a> on Thursday, December 16, 2021
                                </blockquote>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.facebook.com/1936368689977951">Activate Subtitles for Songs</a></h3>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-img">
                                <div id="fb-root"></div>
                                <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v13.0" nonce="S7ng8YC1"></script><div class="fb-video" data-href="https://www.facebook.com/BETKANU/videos/273583708034132">
                                    <blockquote cite="https://www.facebook.com/BETKANU/videos/273583708034132/" class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/BETKANU/videos/273583708034132/">Ilona Danho - Ant Song - Recording.</a><p>
                                            Our beloved Assyrian singer Ilona Danho in a cute video during her recording of the Ant song.

                                            Watch the Ants song

                                            Ant Song | Shikwana | Eastern Syriac (Surit)
                                            https://youtu.be/r8D0dmZ3WOQ

                                            Ant Song | Shushwono | Western Syriac (Surayt)
                                            https://youtu.be/EO6nCQKdAIE

                                            Danho Ilonitto

                                            #BETKANU
                                        </p>Posted by <a href="https://www.facebook.com/1936368689977951">BET KANU</a> on Monday, October 18, 2021
                                    </blockquote>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.facebook.com/1936368689977951"> Ilona Danho - Ant Song - Recording.</a></h3>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div id="fb-root"></div>
                                <script async="1" defer="1" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v13.0" nonce="XvCVM0hg"></script><div class="fb-video" data-href="https://www.facebook.com/BETKANU/videos/880130112665576">
                                    <blockquote cite="https://www.facebook.com/BETKANU/videos/880130112665576/" class="fb-xfbml-parse-ignore">
                                        <a href="https://www.facebook.com/BETKANU/videos/880130112665576/">We Three Kings Song - Stay Tuned.</a><p>
                                            We Three Kings Song.

                                            Stay Tuned 😍
                                            #BETKANU
                                        </p>Posted by <a href="https://www.facebook.com/1936368689977951">BET KANU</a> on Wednesday, December 8, 2021
                                    </blockquote>
                                </div>
                            </div>

                            <div class="caption">
                                <h3 class="card-title"><a href="https://www.facebook.com/1936368689977951"> We Three Kings Song - Stay Tuned.</a></h3>

                            </div>
                        </div>

                        <a href="https://www.facebook.com/BETKANU" class="btn btn-inverse btn-block">More Posts</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
    @*<section class="padding-top-40 padding-bottom-40">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



                        <div class="headline margin-top-20">
                            <h4>OUR VOLUNTEERS</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="/content/img/studio/ilona.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title"> Ilona Danho </h3>
                                        <ul>
                                            <li><i class="fa fa-music"></i> Singer</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="/content/img/studio/adib.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title"> Adib Kazo</h3>
                                        <ul>
                                            <li><i class="fa fa-music"></i> Singer </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="/content/img/studio/ivla.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title"> Ivla Saadi </h3>
                                        <ul>
                                            <li><i class="fa fa-music"></i> Singer</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-30">
                                <div class="card card-post">
                                    <div class="card-img">
                                        <img src="/content/img/studio/ramia.jpg" alt="">
                                    </div>
                                    <div class="caption">
                                        <h3 class="card-title"> Ramia Ahe </h3>
                                        <ul>
                                            <li><i class="fa fa-microphone"></i> Voice Over</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
