<head>
    @{
        ViewBag.Title = "Songs";
    }


</head>
<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-file-sound-o"></i> &nbsp;Songs</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/AuClairDeLaLune"><img src="/img/products/banners/AuClairDeLaLun_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/AuClairDeLaLune">Au Clair De La Lune Song</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>Children Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    Au Clair De La Lune is a French folk song of the 18th century. Its composer and lyricist are unknown. Its simple melody is commonly taught to beginners learning an instrument.
                                </p>
                                <a style="background-color:#32a6de" href="~/products/AuClairDeLaLune" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/gjp3FNKJZ0k" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/nQL9f_Vrm5Y" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/DeliciousFoodSong"><img src="/img/products/banners/DeliciousFoodSong_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/DeliciousFoodSong">Delicious Food Song</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>Children Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    "Mom Made Food" song is an original kids' song written in Colloquial Syriac of TurAbdin (Surayt) by the well-established Poet Joseph Gawrieh, and it was beautifully composed by the musician Nabil Yousif. The song encourages kids to enjoy food specially made by their parents to resonate with kids the appreciation of this gift while keeping in mind good hygiene by washing hands and teeth after having food.
                                </p>
                                <a style="background-color:#32a6de" href="~/products/DeliciousFoodSong" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/PH67LfNOz_E" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/ae58Nd--O1k" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/GRANDMASONG"><img src="/img/products/banners/GRANDMASONG_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/GRANDMASONG">Grandma Song</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>Folk Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    “Soto Siqla L Eelana” is a traditional children’s song in many Assyrian areas, but it is known mostly in the Nineveh Plain. It is now produced for the first time to include a new original melody inspired by folk music.
                                </p>
                                <a style="background-color:#32a6de" href="~/products/GRANDMASONG" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/SNyr5T6vyKU" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/0XjNGOz_kAs" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/ASCENSIONSONG"><img src="/img/products/banners/sulaqa_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/ASCENSIONSONG">ASCENSION SONG</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>Traditional Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    Sulaqa (Suloqo) is a tradition that our people practice celebrating the Ascension Day of Jesus Christ. In our culture, a little girl wears bridal clothing and visits all the village houses with friends to gather hickory, almonds, dried fruits, and others.
                                </p>
                                <a style="background-color:#32a6de" href="~/products/ASCENSIONSONG" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/Ei6YQMgColE" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/JsAFPLq5B7Q" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/freezedancesong"><img src="/img/products/banners/freeze_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/freezedancesong">Freeze Dance Song Song</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>Childrens Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    Freeze Dance is a fun modern game song to engage kids and play them and have them move around, jump, shake, and dance. It has lots of benefits as it encourages kids to not be sitting for long time, thus helps their joins to be flexible;
                                </p>
                                <a style="background-color:#32a6de" href="~/products/freezedancesong" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/UwXD1X4dZW4" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/7w9Y0yZjGTc" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md no-border col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/thesunsetsong"><img src="/img/products/banners/TheSunSet_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/thesunsetsong">The Sun Set Song</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-music"></i>Traditional Song</li>
                                            <li><i class="fa fa-info"></i>Childrens Song</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    The Sunset song, Talyo E Shemsho, is an authentic song created in 1994 as part of the "Nineveh Children Songs" Album #3.
                                </p>
                                <a style="background-color:#32a6de" href="~/products/thesunsetsong" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://youtu.be/b3PlLLMsWCM" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://youtu.be/uybJBA-XwbM" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/wethreekingssong"><img src="/img/products/banners/wethreekings_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/wethreekingssong">We Three Kings Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> International Song</li>
                                        <li><i class="fa fa-info"></i> Universal Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                We Three Kings of Orient"" is a Christmas carol that was written by John Henry Hopkins Jr. in 1857.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/wethreekingssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/ESujo39P6vY  " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/vIfsdFe8zGE  " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/OpenShutThemsong"><img src="/img/products/banners/openshutthem_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/OpenShutThemsong">Open Shut Them Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                “Open Shut Them” is a popular international kids' nursery rhyme song! It is great for learning some basic opposites.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/OpenShutThemsong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/wRbzLrb72nA  " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/C1Oc6G9vDJQ  " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/CanopyofUnity"><img src="/img/products/banners/qoobrana_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/CanopyofUnity">Canopy of Unity Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Traditional Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This song was written by the well-established writer, Mr. Odisho Yusep.  It is a personal song given to his children.
                        </div>
                    </div>
                    <a style="background-color:#32a6de" href="~/products/CanopyofUnity" class="btn btn-info btn-shadow">Info</a>
                    <a style="background-color: #f6a500" href="https://youtu.be/qcRcMTBeibo  " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                    <a style="background-color: #0d5487" href="https://youtu.be/-VbcAilvw5A  " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                </div>
                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/everyonehasacarsong"><img src="/img/products/banners/EveryOneHasACarSong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/everyonehasacarsong">Every One Has A Car Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Middle Elastern Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Over 40 years old children's song derived from the Lebanese culture. The song was made originally by Elias Al Rahbani, and recently UNICEF supported the remake of these songs to be sung for the children of Syria during the Syria Crisis.
                        </div>
                    </div>
                    <a style="background-color:#32a6de" href="~/products/everyonehasacarsong" class="btn btn-info btn-shadow">Info</a>
                    <a style="background-color: #f6a500" href="https://youtu.be/qcRcMTBeibo  " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                    <a style="background-color: #0d5487" href="https://youtu.be/-VbcAilvw5A  " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                </div>
            </div>
            <div class="col-md-12">


                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/JosephtheGardenerSong"><img src="/img/products/banners/JosephtheGardener_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/JosephtheGardenerSong">Joseph The Gardener Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                "Yawse Ganono" is an old traditional song in Western Surayt, originally released in 1986 by Nineveh group, under the album title "Nineveh Children Songs - Album 1".
                            </p>
                            <a style="background-color:#32a6de" href="~/products/JosephtheGardenerSong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/0VAT2tbeTJo " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/mW6OVV4Lrzc " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/antsong"><img src="/img/products/banners/antsong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/antsong">Ant Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                The Ant song, Shushwono, is an authentic song created in 1994 as part of the "Nineveh Children Songs" Album #3.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/antsong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/EO6nCQKdAIE " class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/r-y6Mql2DY8 " class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">


                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/MothersSong"><img src="/img/products/banners/MothersSong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MothersSong">Mother's Day Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Traditional Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A very simple song made for young kids to learn the names of some of the most common animals along with their sounds.

                            </p>
                            <a style="background-color:#32a6de" href="~/products/MothersSong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/1cg5riVveb0 " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Nkj45rtS8kc " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>


                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/banners/AnimalSoundssong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/AnimalSoundsSong">Animal Sounds Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A very simple song made for young kids to learn the names of some of the most common animals along with their sounds.

                            </p>
                            <a style="background-color:#32a6de" href="~/products/AnimalSoundsSong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/P-guNr4ors8 " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/i2SwMg0WM4s " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/banners/todayisnewyear_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MomisComigNowsong">Today is New Years Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i> Traditional Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An old song produced in 1983 by the Ishtar Group, under the second album titled "Zmirotho d-Shabre Men Beth-Nahri".
                            </p>
                            <a style="background-color:#32a6de" href="~/products/TodayIsNewYearssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/4tuMu-y9a1w " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/2YeNd-J4IGk " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <img src="/img/products/banners/videocollection_1920_700.jpg" loading="lazy" alt="">
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4> BET KANU Album Vol. 1 (Video Collection) </h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A collection of 16 BET KANU children’s songs in the Syriac language. Your kids will enjoy 40 minutes of nonstop educational entertainment from popular international songs .
                            </p>
                            <a style="background-color: #f6a500" href="https://youtu.be/N1-TtJBzcPE " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/pndLwu3X2mU " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/MomisComigNowsong"><img src="/img/products/banners/momiscoming_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/MomisComigNowsong">Mom Is coming Now Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children Song</li>
                                        <li><i class="fa fa-info"></i>Middle Eastern Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Way back to 1951 in Egypt, "Mama Zamanha Gaya" - "ماما زمنها جاية" , the very first filmed children's song was born in Egypt.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/MomisComigNowsong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/l5KQ8OEX2qc " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/GiEla7RV2Fw " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/bedtimeprayersong"><img src="/img/products/banners/bedtimeprayer_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/bedtimeprayersong">Bedtime Prayer Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Religious Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This is a reproduction of the popular Eastern bedtime prayer (Sluta Dramsha), commonly known as "Eman Damkhin Gu Shweetee.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/bedtimeprayersong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/jTI-23NLxyY " class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/BV2b6HjZTCk " class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/myunclesong"><img src="/img/products/banners/myuncle_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/myunclesong">My Uncle Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Middle Eastern Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                A traditional Middle Eastern song originally done by the famous Lebanese writers, Ghassan and Jad Rahbani.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/myunclesong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/bQTIZmUnPXI" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/V2m1rj_ekKY" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/washyourhandssong"><img src="/img/products/banners/washyourhands_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/washyourhandssong">Wash Your Hands | Baby Shark Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Let's do what is healthy and good! Do wash your hands and eat healthy food! Do cover your cough and sneeze! Do say thank you and do say please!
                            </p>
                            <a style="background-color:#32a6de" href="~/products/washyourhandssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/IIdLEWiPXpM" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/BvKmuwuPDZg" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/seasonssong"><img src="/img/products/banners/season_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/seasonssong">Seasons Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Educational Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                BET KANU presents you with the first educational song teaching about the seasons in our beloved colloquial dialects of Surayt and Surit (Sureth).
                            </p>
                            <a style="background-color:#32a6de" href="~/products/seasonssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/4G93cMHhbJ4" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/uWWBwml-4oo" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/HassisanSong"><img src="/img/products/banners/hassisan_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/HassisanSong">Little Chicks "Hassisan" Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Arabic Rhyme</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An old Middle-Eastern traditional kids song, sung originally in Arabic, made for the first time in the modern Syriac colloquial dialects (Surayt/Surit).
                            </p>
                            <a style="background-color:#32a6de" href="~/products/HassisanSong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/n-QKz6GDpXg" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/Giwip4bx3fE" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/rowyourboatsong"><img src="/img/products/banners/rowyourboat_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/rowyourboatsong">Row your Boat Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This song is an adaptation of the English nursery rhyme “Row, Row, Row Your Boat.” It can be made into an action nursery rhyme .

                            </p>
                            <a href="~/products/rowyourboatsong" class="btn btn-info btn-shadow">Info</a>
                            <a href="https://youtu.be/IFWwXDLxtag" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a href="https://youtu.be/8jhEgS1SIK0" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/deckthehalls"><img src="/img/products/banners/deckthehalls_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/deckthehalls">Deck the Halls Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i> Holiday Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                This is an adaptation of the Christmas carol originally called "Deck the Hall." This exciting version is created in hopes of increasing the love for our language among the young and the old.
                            </p>
                            <a style="background-color:#32a6de" href="~/products/deckthehalls" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/XnSxRHxSHHU" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/aR-B-jAxoX0" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/allalayesong"><img src="/img/products/banners/allalaye_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/allalayesong">Allalaye Folk Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Folk Song</li>
                                        <li><i class="fa fa-info"></i> Children's Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An Assyrian folk song hundreds of years old, popular amongst eastern speakers of the Syriac dialect. Allalaye is a lullaby traditionally sung  .
                            </p>
                            <a style="background-color:#32a6de" href="~/products/allalayesong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/8rovNXN6Vl8" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/MXOy_xsQChU" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/fruitssong"><img src="/img/products/banners/fruitssong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/fruitssong">Fruits Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                        <li><i class="fa fa-info"></i> Children's Song </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An original song made to teach children some of the common fruits.  The song was built on the international Nursery Rhyme melody of "The Wheels on the Bus".
                            </p>
                            <a style="background-color:#32a6de" href="~/products/fruitssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/c7WLlNNOUQo" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/9wLiqyqbDVc" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/johnnyjohnnysong"><img src="/img/products/banners/johnnyjohnnysong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/johnnyjohnnysong">Johnny Johnny Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Children's Song</li>
                                        <li><i class="fa fa-info"></i>Universal Song</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An international song about a child, Johnny, who is caught by his father to have lied about whether he is "eating sugar".
                            </p>
                            <a style="background-color:#32a6de" href="~/products/johnnyjohnnysong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/F95dBr-Kjuc" class="btn btn-warning  btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/gxL3afeDTc4" class="btn btn-primary  btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>
                <div class="post post-md no-border col-md-6 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-thumbnail">
                                <a href="~/products/bodypartssong"><img src="/img/products/banners/bodypartssong_1920_700.jpg" loading="lazy" alt=""></a>
                                <div class="post-caption" style="background-color:green">Song</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/bodypartssong">Body Parts Song</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-music"></i> Educational Song</li>
                                        <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                An original song about teaching the kids some of the body parts in Surit and Surayt.  Song was made in collaboration with AJM, as it was originally
                            </p>
                            <a style="background-color:#32a6de" href="~/products/bodypartssong" class="btn btn-info btn-shadow">Info</a>
                            <a style="background-color: #f6a500" href="https://youtu.be/NIcnOGTtaFs" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                            <a style="background-color: #0d5487" href="https://youtu.be/iUXHZfs0uvk" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">


            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Alphabetsong"><img src="/img/products/banners/alphabetsong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Alphabetsong">Alphabet Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Educational Song</li>
                                    <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            The internal Alphabet Song melody done for the first time using the Syriac Alphabet letters.
                        </p>
                        <a style="background-color:#32a6de" href="~/products/Alphabetsong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/1qqxefuHQUo" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/K5BuCAiEUug" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Marysong"><img src="/img/products/banners/MarySong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Marysong">Mary Had a Little Lamb Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children Song</li>
                                    <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                </ul>
                            </div>
                        </div>
                        <p>Based on the original "Mary Had a Little Lamb," a children's nursery rhyme provided in our beloved language.</p>
                        <a style="background-color:#32a6de" href="~/products/Marysong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/7OZXTGnu9g8" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/QedNrSsszTw" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">


            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/mshihosong"><img src="/img/products/banners/mshihosong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/mshihosong">Mshiho/ Mshikha Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Youth's Song </li>
                                    <li><i class="fa fa-info"></i> Religious Song </li>
                                </ul>
                            </div>
                        </div>
                        <p>The "Mshiho/Mshikha" song is a religous song produced in collaboration with our partner Save Our Souls - 1915.de e.V. (SOS).  </p>
                        <a style="background-color:#32a6de" href="~/products/mshihosong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/oMvgDeVobrk" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/eFdMuhNMNfM" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Numbersong"><img src="/img/products/banners/numbers_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Numbersong">Numbers Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                </ul>
                            </div>
                        </div>
                        <p>Learn how to count up to 10 with our number song. A song inspired by the "Once I Caught a Fish Alive" rhyme.</p>
                        <a style="background-color:#32a6de" href="~/products/Numbersong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/qAIyISqMguA" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/REfR0tiBzWo" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">


            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Shapessong"><img src="/img/products/banners/shapes_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Shapessong">Shapes Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Universal Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Inspired from a Spanish song about shapes, this song is used for helping children learn shapes using authentic Syriac words.
                        </p>
                        <a style="background-color:#32a6de" href="~/products/Shapessong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/XmDoMz-Oo6Q" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/BjFEYSVpdYs" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Birthdaysong"><img src="/img/products/banners/birthdaysong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Birthdaysong">Happy Birthday Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Universal Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>Inspired from the popular "Happy Birthday" song. This sing a long song greets both boys and girls in Syriac on their birthday using the popular birthday tune. </p>
                        <a style="background-color:#32a6de" href="~/products/Birthdaysong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/dcb8I8izauc" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/69J8QafbKHo" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">


            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/mondayschildsong"><img src="/img/products/banners/mondayschildsong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/mondayschildsong">Monday's Child Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Nursery Rhyme </li>
                                </ul>
                            </div>
                        </div>
                        <p>This song is based on the popular nursery rhyme “Monday’s Child”. It is supposed to teach and help children remember the days of the week.</p>
                        <a style="background-color:#32a6de" href="~/products/mondayschildsong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/IFO9wdXhFfQ" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/lsafU-IqP18" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Colorssong"><img src="/img/products/banners/colorssong_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Colorssong">Colors Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Educational Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>This song is used for helping children learn colors using authentic words. Simply place colors in front of them and have them pick out the color that you sing about.</p>
                        <a style="background-color:#32a6de" href="~/products/Colorssong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/npJ3Ol-bHYI" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/GdvbfXHQvHM" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Santasong"><img src="/img/products/banners/santa_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Santasong">Santa Claus is Coming To Town Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Holiday Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>This song is inpired by the world famous 1930's American song “Santa Claus is Coming to Town.”   </p>
                        <a style="background-color:#32a6de" href="~/products/Santasong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/mVxsUbTTab4" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/Z5Stgq4oZX4" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Fingerfamily"><img src="/img/products/banners/fingerfamily_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Fingerfamily">Finger Family Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Educational Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>A translation of the world popular song to ensure that our children have a version in their language. Learn about family and sing along with your infants and toddlers.</p>
                        <a style="background-color:#32a6de" href="~/products/Fingerfamily" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/iYHLY-Ogl3I" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/oJHar7NKdlg" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/Bethnahrin"><img src="/img/products/banners/bethnahrin_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/Bethnahrin">Beth Nahrin Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Traditional Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>Come learn about ancient Mesopotamia using this catchy song! The cartoon showcases the Ishtar Gates, a Ziggurat, and a King!</p>

                        <a style="background-color: #f6a500" href="https://www.youtube.com/watch?v=NkUJdlGclag&t=12s" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                    </div>
                </div>
            </div>

            <div class="post post-md no-border col-md-6 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-thumbnail">
                            <a href="~/products/BirdSong"><img src="/img/products/banners/Safrono_1920_700.jpg" loading="lazy" alt=""></a>
                            <div class="post-caption" style="background-color:green">Song</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="post-header">
                            <div class="post-title">
                                <h4><a href="~/products/BirdSong">The Bird Song</a></h4>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> Children's Song</li>
                                    <li><i class="fa fa-info"></i> Universal Song</li>
                                </ul>
                            </div>
                        </div>
                        <p>The story of a young girl who saves a baby bird from danger, told in a fun song and cartoon! This melody was inpired from the French folk song, "Une Souris Verte."</p>
                        <a style="background-color:#32a6de" href="~/products/BirdSong" class="btn btn-info btn-shadow">Info</a>
                        <a style="background-color: #f6a500" href="https://youtu.be/wrs5x483tUA" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                        <a style="background-color: #0d5487" href="https://youtu.be/H2wHEgKBq48" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section> 