
@{
    ViewBag.Title = "Reader";
}
<div id="wrapper">
    <section>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="title outline">
                    <h4><i class="fa fa-cloud-download"></i>Download App Now!</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bottom-sm-15" style="text-align:right">
                        <a href="https://apps.apple.com/tr/app/bet-kanu-reader/id1452612542">   <img src="/img/products/appstore.PNG" style="text-align:center" alt=""></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-bottom-sm-15" style="text-align:left">
                        <a href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en"><img src="/img/products/googleplay.PNG" style="text-align:center"   alt=""></a>

                     </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="post post-lg no-border">
            <div id="post-carousel" class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                        <a href="~/products">
                            <img src="/img/products/banners/BETKANUReader_1920_350.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div id="post-carousel1" class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                        <a href="~/products">
                            <img src="/img/products/banners/BETKANUReader_1920_700.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.facebook.com/BetKanu/" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Like us on Facebook</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.instagram.com/betkanu/" class="btn btn-block btn-social btn-warning"><i class="fa fa-instagram"></i> Follow us on Instagram</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://twitter.com/BetKanu" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Follow us on Twitter</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-block btn-social btn-danger"><i class="fa fa-youtube"></i> Subscribe now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>