
@{
    ViewBag.Title = "SocialMedia";
}
<div id="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.facebook.com/BetKanu/" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Like us on Facebook</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.instagram.com/betkanu/" class="btn btn-block btn-social btn-warning"><i class="fa fa-instagram"></i> Follow us on Instagram</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://twitter.com/BetKanu" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Follow us on Twitter</a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-sm-15">
                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-block btn-social btn-danger"><i class="fa fa-youtube"></i> Subscribe now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="post post-lg no-border">
        <div id="post-carousel" class="carousel slide post-thumbnail hidden-sm hidden-xs" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#post-carousel" data-slide-to="1"></li>
                <li data-target="#post-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="~/products">
                        <img src="/img/products/banners/FRUITSsong_1920_350.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>
                <div class="item ">
                    <a href="~/products">
                        <img src="/img/products/banners/johnnyjohnnysong_1920_350.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>

                <div class="item">
                    <a href="~/products">
                        <img src="/img/products/banners/Alphabetsong_1920_350.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>

            </div>
        </div>
        <div id="post-carousel1" class="carousel slide post-thumbnail hidden-lg hidden-md" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#post-carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#post-carousel1" data-slide-to="1"></li>
                <li data-target="#post-carousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <a href="~/products">
                        <img src="/img/products/banners/fruitssong_1920_700.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>
                <div class="item ">
                    <a href="~/products">
                        <img src="/img/products/banners/marysong_1920_700.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>

                <div class="item">
                    <a href="~/products">
                        <img src="/img/products/banners/Alphabetsong_1920_700.jpg" alt="">
                        <div class="post-caption" style="background-color:skyblue">Song</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
    @*<section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post post-md no-border ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="post-thumbnail">
                                        <a href="~/products/fruitssong"><img src="~/content/img/products/fruitssong.jpg" alt="" style="width:50%"></a>
                                        <div class="post-caption" style="background-color:green">Song</div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="post-header">
                                        <div class="post-title">
                                            <h4><a href="~/products/fruitssong">Fruits Song</a></h4>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-music"></i> Educational Song</li>
                                                <li><i class="fa fa-info"></i> Children's Song </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        An original song made to teach children some of the common fruits.  The song was built on the international Nursery Rhyme melody of "The Wheels on the Bus".
                                    </p>
                                    <a href="~/products/fruitssong" class="btn btn-info btn-shadow">Read More</a>
                                    <a href="https://youtu.be/c7WLlNNOUQo" class="btn btn-success btn-shadow">Watch in Western Syriac</a>
                                    <a href="https://youtu.be/9wLiqyqbDVc" class="btn btn-success btn-shadow">Watch in Eastern Syriac</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="post post-md no-border ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="post-thumbnail">
                                        <a href="~/publishing"><img src="~/content/img/products/bkconversationbook.jpg" alt="" style="width:50%"></a>
                                        <div class="post-caption" style="background-color:darkgray">Book</div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="post-header">
                                        <div class="post-title">
                                            <h4><a href="~/publishing">BK Conversation book</a></h4>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-book"></i> Book</li>
                                                <li><i class="fa fa-info"></i> Educational </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        Simple entry level conversation booklet to be distributed in our local and global events; premiered in the Syriac Youth Meeting in Damascus (SYGG) in September 2019 in Syria.
                                    </p>
                                    <a href="~/publishing" class="btn btn-info btn-shadow">Coming soon</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="post post-md no-border ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="post-thumbnail">
                                        <a href="~/products/Kanuguessapp"><img src="~/content/img/products/Kanu_Guess_Teaser.jpg" alt="" style="width:50%"></a>
                                        <div class="post-caption" style="background-color:orange">App</div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="post-header">
                                        <div class="post-title">
                                            <h4><a href="~/products/Kanuguessapp">KANU GUESS</a></h4>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-mobile-phone"></i> App</li>
                                                <li><i class="fa fa-info"></i> Game App </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one.  KANU GUESS is our first video game challenging you to learn new words.  Available on Android and iOS.  Look out for new levels and updates.</p>
                                    <a href="~/products/Kanuguessapp" class="btn btn-info btn-shadow">Read More</a>
                                    <a href="https://itunes.apple.com/us/app/kanu-guess/id1299765596" class="btn btn-warning btn-shadow">Get it on the App Store!</a>
                                    <a href="https://play.google.com/store/apps/details?id=com.Kanusoft.BetKanu.KanuGuess" class="btn btn-warning btn-shadow">Get it on the Google Play!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@